.section {

  &--popular-categories {

    .grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 30px;

      @include media-breakpoint-up(sm) {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
      }

      @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(4, minmax(100px, 1fr));
      }
    }

    .card {
      @include flex($direction: column);
      @include size(100%);
      @include make-spacer('p', 5);

      position: relative;
      border-radius: var(--default-border-radius);
      box-shadow: var(--default-box-shadow);
      background-color: var(--color-white);
      overflow: hidden;

      &__subtitle,
      &__link {
        display: block;
      }

      &__title {
        @include make-spacer('mb', 4);
      }

      &__subtitle {
        @include make-spacer('mb', 2);

        transition: var(--default-transition);

        &:hover {
          transform: translateX(10px);
          color: var(--color-accent);
        }

        &:last-child {
          @include make-spacer('mb', 0);
        }
      }

      &__list {
        @include make-spacer('mb', 6);
      }

      &__link {
        @include make-spacer('mt', auto);
        @include make-spacer('mb', 0);

        color: var(--color-accent);

        i {
          @include make-spacer('ml', 1);
        }
      }

      &__icon {
        @include flex(center, center);
        @include font-size(90px);

        position: absolute;
        right: -7px;
        bottom: -64px;
        color: #E9E8F7;
      }
    }
  }
}
