mixin section-popular-categories
  section.section&attributes(attributes)
    .container-fluid
      .container
        +headline(
          'Popular Categories',
          'Get started with best industries'
        )

        .grid
          each item in popularCategories
            .grid__column
              .card
                h4.card__title
                  a(href="#")= item.title
                .card__list
                  each subitem in item.list
                    a(href="#").card__subtitle= subitem
                a(href="#").card__link
                  | More Job Offers
                  i.fa.fa-arrow-right

                a(hreef="#" class=item.icon).card__icon
