mixin schedule-smart
  .schedule-smart&attributes(attributes)
    .schedule-smart__body
      .schedule-smart__cell
        .schedule-smart__logo
          img(src="https://livedemo00.template-help.com/wt_prod-19186/images/team-bavaria-fc-56x52.png").img
        h6.h6.schedule-smart__nickname Atletico
        p.schedule-smart__text USA
      .schedule-smart__cell
        .schedule-smart__scoreboard
          h6.h6.schedule-smart__score
            span 12
          .schedule-smart__divider :
          h6.h6.schedule-smart__score
            span 3
            .schedule-smart__status win
        p.schedule-smart__text Away
      .schedule-smart__cell
        .schedule-smart__logo
          img(src="https://livedemo00.template-help.com/wt_prod-19186/images/team-atletico-55x55.png").img
        h6.h6.schedule-smart__nickname Sevilla
        p.schedule-smart__text Spain
    .schedule-smart__footer
      p.schedule-smart__text New Yorkers Stadium
      .schedule-smart__divider /
      p.schedule-smart__text April 14, 2020

