mixin schedule(timer)
  .schedule&attributes(attributes)
    .row
      .col-12
        .schedule__head
          h6.h6.schedule__category FOOTBALL - 08:30 PM
          h3.h3 EUROPA LEAGUE QUALIFYING
      .col-3.col-md-4
        .schedule__side.schedule__side--left
          .schedule__logo
            img(src="https://neospor.joomlatema.net/images/sampledata/team-logos/arsenal-logo.png").schedule__img
            .schedule__shadow
          .schedule__block
            h6.h6.schedule__name Neospor FC
            p.schedule__region USA

      .col-6.col-md-4
        .schedule__block
          h3.h3.schedule__time FRI 19
          h6.h6.schedule__date MAY 2020
        .schedule__block
          .schedule__vs
            span vs
        .schedule__block
          +button('buy tickets').button--primary.schedule__button

      .col-3.col-md-4
        .schedule__side.schedule__side--right
          .schedule__logo
            img(src="https://neospor.joomlatema.net/images/sampledata/team-logos/arsenal-logo.png").schedule__img
            .schedule__shadow
          .schedule__block
            h6.h6.schedule__name Soccer Club
            p.schedule__region Spain
      if timer
        .col-12
          .schedule__timer
            h4.h4 24:30:20
