.button {
  @include make-spacer('px', 6);
  @include flex(center, center);

  position: relative;
  border-radius: 10px;
  font-weight: var(--typography-bold);

  &__text {
    @include font-size(25px);
  }

  &--primary {
    background-color: var(--color-dark);
    border: 2px solid var(--color-dark);
    color: var(--color-white);

    &:hover {
      border-color: var(--color-primary);
      color: var(--color-primary);
    }
  }

  &--disabled {
    pointer-events: none;
    background-color: var(--color-light);
    border: 2px solid var(--color-light);
    color: #B3B3B3;
  }

  &--sm {
    height: 60px;

    .button {

      &__text {
        @include font-size(20px);
      }
    }
  }

  &--lg {
    height: 80px;

    .button {

      &__text {
        @include font-size(25px);
      }
    }
  }
}
