.article-layout {
  @include make-spacer(mx, auto);
  @include make-spacer(pt, 4);
  @include make-spacer(pt, 6, sm);

  &__header {
    @include make-spacer(mb, 4);
  }

  &__date {
    @include font-size(14px, 22px);
  }

  &__info {
    @include flex(center);
  }

  &__image {
    @include make-spacer(mt, 4);
    @include make-spacer(mt, 6, sm);
  }

  &__credit {
    @include make-spacer(mt, 1);
    @include make-spacer(mt, 2, lg);
  }

  &__topic {
    @include flex($justify-content: space-between, $direction: column, $wrap: wrap);
    @include make-spacer(mb, 4);
    @include make-spacer(pb, 2);

    border-bottom: 1px solid var(--black);

    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }
  }

  &__wrapper {
    display: grid;

    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr rem(456px) 1fr;
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: 1fr rem(584px) 1fr;
    }

    &--single {
      @include media-breakpoint-up(md) {
        grid-template-columns: rem(456px);
        justify-content: center;
      }

      @include media-breakpoint-up(lg) {
        grid-template-columns: rem(584px);
      }
    }
  }

  &__sidebar {
    @include make-spacer(mt, 3);
    @include make-spacer(mt, 0, md);

    @include media-breakpoint-up(md) {
      order: -1;
    }
  }

  &__tags {
    @include flex($justify-content: space-between, $direction: column, $wrap: wrap);

    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }
  }

  &__time {
    @include font-size(14px, 22px);
    @include make-spacer(mt, 1);
    @include make-spacer(mt, 0, sm);

    display: block;
    color: var(--disabled);
  }

  &__category {
    @include accent-background;

    text-decoration: none;
    color: var(--black);
    font-weight: var(--bold);

    &:hover {
      background-size: 100% 100%;
    }
  }

  &__menu {
    @include media-breakpoint-down(sm) {

      .social-links {
        flex-direction: row;

        &__wrap {
          flex-direction: row;
        }

        &__link {
          @include make-spacer(my, 0);

          &:not( :last-child ) { //stylelint-disable-line
            @include make-spacer(mr, 3);
          }
        }
      }
    }

    @include media-breakpoint-up(md) {
      position: sticky;
      top: calc(var(--header-height) + #{rem(24px)});
      left: 0;
    }
  }

  &__link {
    @include accent-background;
    @include flex($align-items: center, $display: inline-flex);
    @include make-spacer(mb, 2);

    color: var(--black);

    .icon {
      @include size(rem(15px));
      @include make-spacer(ml, 1);
    }

    &:hover {
      @include media-breakpoint-up(lg) {
        background-size: 100% 100%;
        text-decoration-color: transparent;
      }
    }

    &--release {
      @include make-spacer(mb, 0);
      @include make-spacer(mt, 4);
      @include make-spacer(mt, 0, sm);
    }
  }

  &__quote {
    @include make-spacer(mt, 6);
    @include make-spacer(py, 6);

    border-top: 1px solid var(--grey-200);
    border-bottom: 1px solid var(--grey-200);
    text-align: center;
  }

  &__accreditation {
    @include make-spacer(mt, 7);
    @include make-spacer(mt, 8, sm);
  }

  &__subtitle {
    @include make-spacer(mt, 1);
    @include make-spacer(mt, 2, md);

    display: grid;
    grid-gap: rem(8px);

    .article-layout__credit {
      @include make-spacer(mt, 0);
    }

    @include media-breakpoint-up(sm) {
      grid-template-columns: 1fr auto;
    }
  }

  &__gallery {
    @include make-spacer(mt, 6);
  }

  &__pagination {
    @include font-size(14px, 22px);

    color: var(--disabled);
  }

  @include media-breakpoint-up(md) {
    width: rem(782px);
  }

  @include media-breakpoint-up(lg) {
    width: rem(994px);
  }
}
