.article-layout {
  @include make-spacer(mx, auto);

  &__header {
    @include make-spacer(mb, 4);
  }

  &__info {
    @include flex(center);
  }

  &__image {
    @include make-spacer(mt, 4);
    @include make-spacer(mt, 6, sm);

    display: block;
    position: relative;
    padding-top: 56.25%;
    height: 0;

    &:hover {

      .article-layout__download {
        visibility: visible;
        opacity: 1;
      }

      .article-layout__load {
        transform: translateY(0);
      }
    }
  }

  &__picture {
    @extend %picture;
  }

  &__download {
    @extend %download;
  }

  &__load {
    @extend %load;
  }

  &__credit {
    @include make-spacer(mt, 1);
    @include make-spacer(mt, 2, lg);
  }

  &__icon {
    @include size(rem(20px));
    @include make-spacer(mr, 1);
  }

  &__wrapper {
    display: grid;

    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr rem(456px) 1fr;
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: 1fr rem(584px) 1fr;
    }
  }

  &__sidebar {
    @include make-spacer(mt, 2);
    @include make-spacer(mt, 0, md);

    order: 2;

    @include media-breakpoint-up(md) {
      order: initial;
    }
  }

  &__tags {
    @include flex(space-between, $direction: column, $wrap: wrap);

    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }

    &--top {
      @include make-spacer(mb, 4);
      @include make-spacer(pb, 2);

      border-bottom: 1px solid var(--black);
    }
  }

  &__time {
    @include font-size(14px, 22px);

    display: block;
    color: var(--disabled);
  }

  &__menu {

    @include media-breakpoint-up(md) {
      position: sticky;
      top: calc(var(--header-height) + #{rem(24px)});
      left: 0;
    }
  }

  &__quote {
    @include make-spacer(mt, 6);
    @include make-spacer(py, 6);

    border-top: 1px solid var(--grey-200);
    border-bottom: 1px solid var(--grey-200);
    text-align: center;
  }

  &__subtitle {
    @include make-spacer(mt, 1);
    @include make-spacer(mt, 2, md);

    display: grid;
    grid-gap: rem(8px);

    .article-layout__credit {
      @include make-spacer(mt, 0);
    }

    @include media-breakpoint-up(sm) {
      grid-template-columns: 1fr auto;
    }
  }

  &__pagination {
    @include font-size(14px, 22px);

    color: var(--disabled);
  }

  @include media-breakpoint-up(md) {
    width: rem(782px);
  }

  @include media-breakpoint-up(lg) {
    width: rem(994px);
  }
}
