.related-articles {
  display: grid;
  grid-gap: rem(32px);

  @include media-breakpoint-up(sm) {
    grid-template-columns: 1fr 1fr;
    grid-gap: rem(48px) rem(24px);
  }

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: rem(32px);
  }
}
