mixin social
  .social&attributes(attributes)
    a(href="#").social__link
      i.fab.fa-facebook-f
    a(href="#").social__link
      i.fab.fa-twitter
    a(href="#").social__link
      i.fa.fa-envelope
