mixin social
  .social&attributes(attributes)
    a(href="#").social__item
      i.fab.fa-facebook-f.social__icon
    a(href="#").social__item
      i.fab.fa-twitter.social__icon
    a(href="#").social__item
      i.fab.fa-linkedin-in.social__icon
    a(href="#").social__item
      i.fab.fa-youtube.social__icon
    a(href="#").social__item
      i.fab.fa-instagram.social__icon
