.submenu {
  min-width: 200px;

  &__item {
    position: relative;
    border-bottom: 1px solid var(--color-border-alt);

    &:last-child {
      border-bottom: 0;
    }

    .submenu {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-100%);

      @include media-max(map_get($grid-breakpoints, lg)) {
        position: relative;
        transform: none;

        &__item {
          padding: 0;
        }
      }
    }

    &:hover {

      > .submenu {
        display: block;

        &__link {
          transform: translateX(10px);
          color: var(--color-primary);

          @include media-max(map_get($grid-breakpoints, lg)) {
            transform: none;
          }
        }
      }
    }

    @include media-max(map_get($grid-breakpoints, lg)) {
      border: 0;
      padding-right: 15px;
      padding-left: 10px;
    }
  }

  &__link {
    @include flex(space-between, center);

    padding: 12px 20px;
    color: var(--color-white);

    @include media-max(map_get($grid-breakpoints, lg)) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__label {
    flex-grow: 1;
  }

  &__icon {
    flex-shrink: 0;
    width: 8px;
  }

  &__href {
    display: block;
    position: relative;
    padding: 5px 10px;
    color: var(--color-grey-dark);
    font-family: var(--font-family-alt);

    &::before {
      @include size(0);

      display: inline-block;
      position: relative;
      top: -2px;
      left: -6px;
      opacity: 0;
      border-width: 4px 0 4px 8px;
      border-style: solid;
      border-color: transparent transparent transparent var(--color-primary);
      vertical-align: middle;
      color: var(--color-primary);
      content: '';
    }

    &:hover,
    &--active {
      transform: translateX(10px);
      color: var(--color-primary);

      &::before {
        opacity: 1;
      }
    }
  }

  &--sm {
    border-top: 3px solid var(--color-primary);
    background-color: var(--color-grey-dark);

    .submenu {

      &__item {
        background-color: var(--color-grey-dark);
      }
    }
  }

  &--lg {
    border: 1px solid var(--color-border);
    background-color: var(--color-white);
    padding: 20px 30px;
    width: 100%;
    min-width: var(--min-width);
    max-width: var(--max-width);

    @include media-max(map_get($grid-breakpoints, lg)) {
      display: none;
    }
  }

  @include media-max(map_get($grid-breakpoints, lg)) {
    border: 0;
    background-color: transparent;
  }
}
