.blog-hero-section {

  &__background {
    position: relative;
    min-height: 80vh;
  }

  &__image {
    @include size(100%);

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
  }

  &__title {
    @include font-size(32px, 37px);
    @include make-spacer(mx, auto, md);

    position: relative;
    margin-top: rem(-37px);
    font-weight: var(--extra-bold);

    @include media-breakpoint-up(sm) {
      @include font-size(48px, 56px);

      margin-top: rem(-55px);
    }

    @include media-breakpoint-up(md) {
      @include font-size(64px, 72px);

      margin-top: rem(-70px);
      max-width: rem(782px);
    }

    @include media-breakpoint-up(lg) {
      max-width: rem(995px);
    }
  }

  &__link {
    @include font-size(32px, 37px);

    background-color: var(--accent);
    text-decoration: none;
    color: var(--white);

    @include media-breakpoint-up(sm) {
      @include font-size(48px, 56px);
    }

    @include media-breakpoint-up(md) {
      @include font-size(64px, 72px);
    }
  }

  &__tags {
    @include make-spacer(mt, 3);
    @include make-spacer(mt, 4, sm);
    @include flex($justify-content: center);
  }
}
