.blog {

  &__accreditations {
    display: grid;
    grid-gap: rem(48px);

    @include media-breakpoint-up(sm) {
      grid-gap: rem(64px);
    }

    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: rem(32px);
    }

    &--single {
      @include media-breakpoint-up(md) {
        grid-template-columns: 1fr;
        justify-items: center;

        .accreditation {
          width: rem(584px);
        }
      }
    }
  }

  &__articles {
    display: grid;
    grid-gap: rem(32px);

    @include media-breakpoint-up(sm) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: rem(24px);
    }

    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr;
      grid-row-gap: rem(48px);
    }
  }

  &__more {
    @include make-spacer(mt, 6);
    @include make-spacer(mx, auto, sm);
    @include make-spacer(ml, 20, md);


    @include media-breakpoint-up(sm) {
      max-width: rem(176px);
    }

    @include media-breakpoint-up(md) {
      max-width: rem(130px);
    }

    @include media-breakpoint-up(lg) {
      margin-left: rem(200px);
      max-width: rem(173px);
    }
  }

  &__button {
    width: 100%;
  }
}
