.contact-form {

  &__title {
    @include make-spacer(mb, 4);
    @include font-size(24px, 32px);

    text-align: center;

    @include media-breakpoint-up(sm) {
      @include font-size(32px, 40px);
    }
  }

  &__wrapper {
    @include media-breakpoint-up(sm) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: rem(24px);
    }

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, rem(375px));
      justify-content: center;
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(2, rem(480px));
    }
  }

  &__block {
    @include make-spacer(mb, 6);
  }

  &__department {
    @include make-spacer(mb, 2);
    @include font-size(20px, 28px);

    @include media-breakpoint-up(sm) {
      @include font-size(24px, 32px);
    }
  }

  &__link {
    @include accent-background;

    color: var(--black);

    &:hover {
      @include media-breakpoint-up(lg) {
        background-size: 100%  100%;
        text-decoration-color: transparent;
      }
    }
  }

  &__form {
    @include flex($direction: column);

    @include media-breakpoint-up(sm) {
      max-width: rem(276px);
    }

    @include media-breakpoint-up(md) {
      max-width: 100%;
    }
  }
}
