.offices {

  &__block {
    position: relative;
  }

  &__image {
    position: absolute;
    top: rem(48px);
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    max-width: 100%;
    max-height: 100%;

    @include media-breakpoint-up(sm) {
      top: rem(-16px);
      max-width: initial;
      max-height: initial;
    }
  }

  &__locations {
    @include make-spacer(pt, 5, sm);
  }

  &__location {
    @include make-spacer(mb, 6);

    @include media-breakpoint-up(sm) {
      text-align: center;
    }
  }

  &__country {
    @include make-spacer(mb, 2);
    @include font-size(32px, 40px);
  }

  &__link {
    @include accent-background;
    @include font-size(16px, 24px);
    @include transition(background-size);

    color: var(--black);
    font-weight: var(--bold);

    &:hover {
      @include media-breakpoint-up(lg) {
        background-size: 100% 100%;
        text-decoration: none;
      }
    }
  }
}
