mixin section-search-jobs
  section.section&attributes(attributes)
    .container-fluid
      .container
        .grid
          .grid__cell
            .grid__wrapper
              h6 38 jobs found
              p.link
                i.fa.fa-bell
                span Watched jobs (0)

          .grid__cell
            .search
              .search__wrapper
                .search__cell
                  i.fa.fa-pencil-alt.search__icon
                  input(type="text" placeholder="Keyword").search__input
                .search__cell
                  i.fa.fa-map-marked.search__icon
                  input(type="text" placeholder="Location").search__input
              button.button.button--primary.search__button
                span Search Jobs
                i.fa.fa-search
