mixin section-search-jobs
  section.section&attributes(attributes)
    .container-fluid
      .container
        .grid
          .grid__cell
            .grid__wrapper
              h6 38 jobs found
              p.link
                i.fa.fa-bell
                span Watched jobs (0)

          .grid__cell
            +search-jobs
