.section {

  &--search-jobs {
    @include make-spacer('py', 7);

    background-color: #e9e8f7;

    .grid {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      grid-gap: 20px;

      @include media-breakpoint-up(lg) {
        grid-template-columns: 3fr 9fr;
      }

      &__wrapper {
        display: grid;
        grid-gap: 8px;
        text-align: center;

        @include media-breakpoint-up(md) {
          grid-template-columns: 1fr 1fr;
          text-align: left;
        }

        @include media-breakpoint-up(lg) {
          grid-template-columns: 1fr;
        }
      }
    }

    .link {
      color: var(--color-accent);

      i {
        @include make-spacer('mr', 1);
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
