mixin toggle
  .toggle&attributes(attributes)
    svg(viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(d='M0 10C0 4.47715 4.47715 0 10 0H36C41.5228 0 46 4.47715 46 10V36C46 41.5228 41.5228 46 36 46H10C4.47715 46 0 41.5228 0 36V10Z' fill='#282828')
      rect(x='10.3872' y='13.355' width='25.2258' height='2.96774' fill='white')
      rect(x='10.3872' y='21.5161' width='25.2258' height='2.96774' fill='white')
      rect(x='10.3872' y='29.6777' width='12.6129' height='2.96774' fill='white')
