.menu {
  @include make-spacer('my', 0);
  @include make-spacer('p', 0);

  @include flex(center, center, column);
  @include media-breakpoint-up(xl) {
    transform: none;
  }

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--color-dark);
  z-index: 12;
  max-width: 768px;
  transform: translateX(-100%);
  transition: var(--default-transition);

  &--active {
    transform: translateX(0);
  }

  @include media-breakpoint-up(xl) {
    position: static;
    flex-direction: row;
    background-color: transparent;
    max-width: 100%;
  }

  &__logo,
  &__close {
    position: absolute;
    top: 30px;

    @include media-breakpoint-up(xl) {
      display: none;
    }
  }

  &__logo {
    left: 20px;

    * {
      color: var(--color-white);
    }
  }

  &__close {
    @include size(20px);

    @include media-breakpoint-up(sm) {
      @include size(35px);
    }

    right: 20px;
  }

  &__item {
    @include make-spacer('mx', 4);
    @include make-spacer('py', 4);
    @include make-spacer('py', 6, sm);
    @include make-spacer('p', 0, xl);

    position: relative;

    &:first-child {
      @include make-spacer('mx', 0, xl);
    }
  }

  &__link {
    @include font-size(20px, 20px);

    @include media-breakpoint-up(sm) {
      @include font-size(30px, 20px);
    }

    @include media-breakpoint-up(xl) {
      @include font-size(16px, 20px);

      color: var(--color-grey);
    }

    display: block;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
    font-weight: var(--typography-semibold);

    &--active,
    &:hover {
      color: var(--color-primary) !important;
    }
  }
}
