mixin section-count
  section.section&attributes(attributes)
    .container-fluid
      .container
        .grid
          .grid__column
            .count
              .count__icon
                i.fa.fa-suitcase
              .count__wrapper
                span.count__value 10000+
                span.count__text StartUp Jobs
          .grid__column
            .count
              .count__icon
                i.fa.fa-building
              .count__wrapper
                span.count__value 10000+
                span.count__text StartUp Companies
          .grid__column
            .count
              .count__icon
                i.fa.fa-money-bill
              .count__wrapper
                span.count__value 10000+
                span.count__text Angel Investors on board
