.section {

  &--count {
    background-color: var(--color-white);

    .grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 60px;

      @include media-breakpoint-up(md) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include media-breakpoint-up(xl) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
      }
    }

    .count {
      @include font-size(18px);

      display: grid;
      grid-template-columns: 90px 1fr;
      align-items: center;
      font-weight: var(--typography-medium);

      &__icon {
        @include flex(center, center);
        @include size(46px);

        position: relative;

        &::before {
          @include size(55px);

          position: absolute;
          top: -5px;
          left: 15px;
          border-radius: 10px;
          transform: rotate(45deg);
          background-color: #F3F2FC;
          z-index: 0;
          content: '';
        }

        i {
          @include font-size(45px);

          position: relative;
          color: var(--color-accent);
        }
      }

      &__value {
        @include make-spacer('mr', 1);

        color: var(--color-accent);
      }
    }
  }
}
