.section {

  &--plan {

    .container {
      @include make-spacer('pr', 34, md);
      @include make-spacer('pr', 17, xl);
      @include make-spacer('pr', 26, xxl);

      &::before {
        @include size(290px, 600px);

        position: absolute;
        top: 50%;
        right: -40%;
        transform: translateY(-50%);
        background-image: url('../img/gradient-2.webp');
        background-size: cover;
        background-position: 50% 50%;
        filter: blur(150px);
        opacity: 0.15;
        content: '';

        @include media-breakpoint-up(sm) {
          @include size(618px);
        }

        @include media-breakpoint-up(md) {
          @include size(825px, 686px);

          right: 0;
        }

        @include media-breakpoint-up(xl) {
          @include size(1066px, 592px);
        }

        @include media-breakpoint-up(xxl) {
          @include size(1295px, 592px);
        }
      }
    }

    .block {
      @include media-breakpoint-up(xxl) {
        max-width: 1130px;
      }
    }

    .title {
      @include make-spacer('mb', 2);
      @include make-spacer('mb', 6, sm);
      @include make-spacer('mb', 8, xl);

      font-weight: var(--typography-semibold);

      @include media-breakpoint-up(sm) {
        max-width: 530px;
      }

      @include media-breakpoint-up(md) {
        max-width: 695px;
      }

      @include media-breakpoint-up(xl) {
        max-width: 1070px;
      }
    }

    .text {
      @include make-spacer('ml', 40, sm);
      @include make-spacer('ml', 35, md);
      @include font-size(16px, 24px);

      @include media-breakpoint-up(sm) {
        @include font-size(20px, 30px);

        max-width: 546px;
      }

      @include media-breakpoint-up(md) {
        max-width: 630px;
      }

      @include media-breakpoint-up(xl) {
        margin-left: 300px;
      }

      @include media-breakpoint-up(xxl) {
        margin-left: 500px;
      }
    }
  }
}
