.section {

  &--header {
    @include make-spacer('pt', 4);
    @include make-spacer('pt', 8, sm);
    @include make-spacer('pt', 20, xl);

    .container {
      @include make-spacer('py', 8);
      @include make-spacer('px', 2);

      @include make-spacer('pt', 14, sm);
      @include make-spacer('pb', 7, sm);
      @include make-spacer('px', 5, sm);

      @include make-spacer('pb', 8, md);
      @include make-spacer('px', 14, md);

      @include make-spacer('pr', 6, xl);

      @include make-spacer('pt', 10, xxl);
      @include make-spacer('pr', 12, xxl);
      @include make-spacer('pb', 10, xxl);

      display: grid;
      grid-template-rows: 1fr 355px;
      row-gap: 20px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      border-radius: var(--default-border-radius);
      background-color: var(--color-white);

      &::after {
        @include size(1053px, 766px);

        left: -618px;
        top: -740px;
        z-index: -1;

        @include media-breakpoint-up(sm) {
          @include size(1387px, 1008px);

          left: -590px;
          top: -920px;
        }

        @include media-breakpoint-up(md) {
          left: -490px;
        }

        @include media-breakpoint-up(xl) {
          left: -350px;
        }

        @include media-breakpoint-up(xxl) {
          top: -930px;
        }
      }

      &::before {
        top: 0;
        bottom: 0;
        right: 30px;
        width: 215px;

        @include media-breakpoint-up(sm) {
          right: 60px;
          width: 460px;
        }

        @include media-breakpoint-up(md) {
          right: 82px;
          width: 612px;
        }

        @include media-breakpoint-up(xl) {
          right: 108px;
          width: 790px;
        }

        @include media-breakpoint-up(xxl) {
          right: 129px;
          width: 956px;
        }
      }

      @include media-breakpoint-up(sm) {
        grid-template-rows: 1fr 600px;
        row-gap: 0;
      }

      @include media-breakpoint-up(xl) {
        align-items: center;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 520px;
        column-gap: 105px;
      }

      @include media-breakpoint-up(xxl) {
        grid-template-columns: 1fr 570px;
        column-gap: 200px;
      }
    }

    .block {
      @include make-spacer('mx', auto);
      @include make-spacer('mt', -8, xl);

      @include media-breakpoint-up(xl) {
        max-width: 525px;
      }

      text-align: center;
    }

    .title {
      text-transform: uppercase;
      font-weight: var(--typography-semibold);
    }

    .text {
      @include make-spacer('mt', 4);
      @include make-spacer('mt', 6, sm);

      @include font-size(16px, 24px);

      @include media-breakpoint-up(sm) {
        @include font-size(20px, 30px);
      }

      @include media-breakpoint-up(xl) {
        @include flex($direction: column);
      }

      strong,
      span {
        margin: 0 3px;
      }
    }

    .icon {
      position: absolute;
      left: 20px;
      bottom: 20px;

      @include media-breakpoint-up(sm) {
        left: 40px;
        bottom: 40px;
      }

      @include media-breakpoint-up(md) {
        left: 50px;
      }

      @include media-breakpoint-up(xxl) {
        left: 60px;
        bottom: 50px;
      }
    }

    .board {
      position: absolute;
      left: 50%;
      bottom: -20px;
      transform: translateX(calc(-50% + 100px));
      z-index: 1;

      @include media-breakpoint-up(sm) {
        transform: translateX(calc(-50% + 180px));
        bottom: -74px;
      }

      @include media-breakpoint-up(xl) {
        transform: translateX(calc(-50% + 110px));
        bottom: -20px;
      }

      @include media-breakpoint-up(xl) {
        bottom: 0;
      }
    }

    .circle {
      @include size(600px);

      position: absolute;
      top: -55px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;

      @include media-breakpoint-up(sm) {
        top: -30px;
      }

      @include media-breakpoint-up(xl) {
        @include size(850px);

        top: -75px;
        left: auto;
        right: -140px;
        transform: none;
      }

      @include media-breakpoint-up(xxl) {
        @include size(955px);

        top: -100px;
      }

      &__line {
        @include media-breakpoint-up(xxl) {
          display: block;
        }

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid var(--color-white);
        border-radius: 50%;

        &--sm {
          @include size(calc(100% - 110px));

          @include media-breakpoint-up(xxl) {
            @include size(calc(100% - 165px));
          }
        }

        &--lg {
          @include size(100%);
        }
      }
    }

    .pictures {
      position: relative;
      z-index: 1;

      @include media-breakpoint-up(xl) {
        height: 520px;
      }

      @include media-breakpoint-up(xxl) {
        height: 570px;
      }
    }

    .image {
      @include flex(center);

      position: absolute;

      &:nth-child(2) {
        @include size(114px);

        bottom: 200px;
        transform: translateX(calc(-50% - 140px));

        @include media-breakpoint-up(sm) {
          @include size(199px);

          bottom: 265px;
          transform: translateX(calc(-50% - 260px));
        }

        @include media-breakpoint-up(xl) {
          top: 0;
          bottom: auto;
        }

        @include media-breakpoint-up(xxl) {
          transform: translateX(calc(-50% - 270px));
        }
      }

      &:nth-child(3) {
        @include size(96px);

        bottom: 20px;
        transform: translateX(calc(-50% + 140px));

        @include media-breakpoint-up(sm) {
          @include size(168px);

          bottom: -42px;
          transform: translateX(calc(-50% + 250px));
        }

        @include media-breakpoint-up(xl) {
          bottom: 37px;
          transform: translateX(calc(-50% + 240px));
        }

        @include media-breakpoint-up(xxl) {
          transform: translateX(calc(-50% + 260px));
        }
      }

      &--sm {
        left: 50%;

        img {
          transform: scale(1.14);
        }
      }

      &--lg {
        @include size(298px, auto);

        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0);

        @include media-breakpoint-up(sm) {
          width: 520px;
          transform: translate(-50%, 74px);
        }

        @include media-breakpoint-up(xl) {
          transform: translate(-50%, 0);
        }

        @include media-breakpoint-up(sm) {
          width: 570px;
        }
      }
    }
  }
}
