mixin contact-block-mail
  .contact-block&attributes(attributes)
    h6.h6.contact-block__title e-mail
    .contact-block__wrapper
      .contact-block__icon
        i.far.fa-envelope
      a(href="mailto:info@demolink.org").contact-block__text info@demolink.org


mixin contact-block-address
  .contact-block&attributes(attributes)
    h6.h6.contact-block__title ADDRESS
    .contact-block__wrapper
      .contact-block__icon
        i.fas.fa-map-marker-alt
      a.contact-block__text 71 Pilgrim Avenue Chevy
        br
        | Chase, MD 20815

mixin contact-block-phone
  .contact-block&attributes(attributes)
    h6.h6.contact-block__title Phone
    .contact-block__wrapper
      .contact-block__icon
        i.fas.fa-phone-alt
      a(href="tel:+34-91-398-43-00").contact-block__text +34 91 398 43 00
