.contact-block {
  @include flex($justify-content: center, $direction: column);

  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-white);
  padding: 10px 40px;
  min-height: 107px;

  &:last-child {
    border-bottom: 0;
  }

  @include media-max(map_get($grid-breakpoints, md)) {
    padding: 10px 20px;
  }

  &__title {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--color-primary);
  }

  &__wrapper {
    @include flex;
  }

  &__icon {
    margin-top: -2px;
    margin-right: 10px;
    color: var(--color-primary);
    font-size: 16px;
  }

  &__text {
    color: var(--color-grey-dark);

    &:hover {
      color: var(--color-primary);
    }
  }
}
