mixin match-table
  .match-table&attributes(attributes)
    .match-table__header
      .match-table__number TO/R
      .match-table__subtitle MATCH
    .match-table__body
      - var n = 0
      while n < 4
        .match-table__row
          .match-table__cell
            .match-table__label SF
          .match-table__cell
            h6.h6.match-table__nickname ANDREW CHAPMAN
          .match-table__cell
            .match-table__scoreboard
              .match-table__th
                p.match-table__score= n++
              .match-table__th :
              .match-table__th
                p.match-table__score.match-table__score--win 18
            h6.h6.match-table__date JULY 01, 2020
          .match-table__cell
            h6.h6.match-table__nickname ANDREW CHAPMAN
