.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 12;

  &__wrapper {
    @include flex(center, flex-start);
    @include size(100%);

    @include make-spacer('py', 14);
    @include make-spacer('px', 3);

    @include make-spacer('py', 10, sm);
    @include make-spacer('px', 16, sm);

    @include make-spacer('py', 8, md);

    position: relative;
    z-index: 1;
    overflow-y: auto;
    background-color: #E072D2;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url('../img/gradient-2.webp');
      background-size: cover;
      background-position: 50% 50%;
      filter: blur(150px);
      opacity: 0.5;
      mix-blend-mode: screen;
      content: '';
    }
  }

  &__close {
    @include size(25px);

    position: absolute;
    top: 25px;
    right: 20px;

    @include media-breakpoint-up(sm) {
      @include size(30px);

      top: 50px;
      right: 22px;
    }

    @include media-breakpoint-up(md) {
      right: 50px;
    }
  }

  .feedback {
    @include make-spacer('py', 8);
    @include make-spacer('px', 5);

    background-color: rgba(255, 255, 255, 0.7);
  }

  .textarea,
  .field {

    &__input {
      background-color: var(--color-white);
    }
  }
}
