@import '../../../scss/base/variables/abstract/index';
@import '../../../scss/base/reset';
@import '../../../scss/abstract/helpers/index';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto:wght@300&display=swap');

.page {

  &--amsterdam {
    @include make-spacer('mx', auto);
    @include size(793.701px, auto);

    min-height: 1122px;

    --color-white: #fff;
    --color-black: #000;
    --color-primary: #f4f5f5;
    --color-title: #000;
    --color-text: #000;

    --font-family: 'Roboto', sans-serif;
    --font-family-additional: 'Montserrat', serif;
    --font-weight: 300;
    --font-size: 16px;
    --font-color: var(--color-text);
    --line-height: 1.75;
    --typography-regular: 400;
    --typography-medium: 500;

    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: stretch;
    font-family: var(--font-family);
    line-height: var(--line-height);
    background-color: var(--color-white);

    * {
      line-height: var(--line-height);
    }

    ol {
      @include make-spacer('pl', 3);

      list-style: decimal;
    }

    ul {
      @include make-spacer('pl', 2);

      list-style: disc;
    }

    ol,
    ul {

      li {
        @include make-spacer('mb', 2);
      }
    }

    img {
      display: block;
      object-fit: cover;
      object-position: 50% 50%;
    }

    .margin {
      margin: 0!important;
    }

    .padding {
      padding: 0!important;
    }

    .t-h1,
    .t-h2,
    .t-h3,
    .t-h4,
    .t-h5,
    .t-h6 {
      @include make-spacer('p', 0);
      @include make-spacer('mt', 0);
      @include make-spacer('mb', 2);

      font-family: var(--font-family-additional);
      font-weight: var(--typography-medium);
      text-transform: uppercase;
      letter-spacing: 2px;

      * {
        @include make-spacer('mx', 1);
      }
    }

    .t-h1 {
      @include font-size(34px, 40px);
    }

    .t-h2 {
      @include font-size(32px, 46px);
    }

    .t-h3 {
      @include font-size(28px, 34px);
    }

    .t-h4 {
      @include font-size(22px, 28px);
    }

    .t-h5 {
      @include font-size(18px, 22px);
    }

    .t-h6 {
      @include font-size(16px, 22px);
    }

    a {
      text-decoration: underline;
    }
  }

  .t-left,
  .t-right {
    @include make-spacer('px', 6);

    padding-top: 240px;
    overflow: hidden;
  }

  .t-left {
    background-color: var(--color-primary);
  }

  .t-header {
    @include make-spacer('p', 4);

    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    width: 500px;
    text-align: center;
  }

  .t-section {
    @include make-spacer('mb', 6);

    &:last-child {
      @include make-spacer('mb', 0);
    }
  }

  .t-item {
    @include make-spacer('mb', 2);
    @include font-size(14px, 16px);

    &--transparent {

      span {
        background-color: transparent!important;
      }
    }
  }

  .t-photo {
    @include flex($align-items: center);

    img {
      @include size(200px);

      overflow: hidden;
    }
  }

  .t-qr-code {

    img {
      @include make-spacer('mb', 6);
      @include size(150px);
    }
  }

  .t-list {
    @include flex($wrap: wrap);
    @include make-spacer('mb', 4);

    & > * {
      flex: 1 1 50%;

      &:nth-child(1),
      &:nth-child(2) {
        flex: 1 1 100%;
      }

      &:nth-child(1) {
        letter-spacing: 2px;
      }
    }

    &--4,
    &--5,
    &--6 {

      & > * {
        flex: 1 1 50%;

        &:nth-child(3),
        &:nth-child(4) {
          opacity: 0.5;
          letter-spacing: 2px;
          font-size: 14px;
        }
      }
    }

    &--2 {

      & > * {

        &:nth-child(1),
        &:nth-child(2) {
          flex: 1 1 50%;
        }
      }
    }

    &--5,
    &--6 {

      & > * {

        &:last-child {
          flex: 1 1 100%;
        }
      }
    }
  }

  .t-scale {
    @include make-spacer('mt', 2);
    @include size(100%, 6px);

    position: relative;
    flex: 1 1 100%!important;
    align-self: center;
    background-color: #bababa;

    div {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: var(--color-text);
    }
  }

  .t-hr {
    @include make-spacer('ml', 0);
    @include make-spacer('mr', auto);
    @include make-spacer('mb', 3);
    @include size(70%, 1px);

    border: 0;
    background-color: var(--color-black);
  }
}
