doctype html
html(lang='en')
  head
    title Amsterdam
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="stylesheet" href="./Amsterdam/Amsterdam.css")
  body
    .page.page--amsterdam#amsterdam
      .t-header
        h2.t-h2
          span#t-first_name
          span#t-last_name
        h6.t-h6.margin#t-work_type

      .t-left
        .t-wrapper
          .t-section
            h6.t-h6#t-section-0
            hr.t-hr
            .t-item#t-phone
            .t-item#t-email(style="text-decoration: underline")
            .t-item#t-address
            .t-item#t-postal_code
            .t-item#t-city
            .t-item#t-country
            .t-item#t-date_birth
            .t-item#t-place_birth
            .t-item#t-nationality
            .t-item#t-driving_license
          .t-section
            h6.t-h6#t-section-4
            hr.t-hr
            .t-item.t-item--transparent#t-skills
          .t-section
            h6.t-h6#t-section-5
            hr.t-hr
            .t-item.t-item--transparent#t-languages
          .t-section
            h6.t-h6#t-section-6
            hr.t-hr
            .t-item.t-item--transparent#t-hobbies
      .t-right
        .t-qr-code#t-qr-code
        .t-wrapper
          .t-section
            h6.t-h6#t-section-1
            hr.t-hr
            .t-item.t-item--transparent#t-profile
          .t-section
            h6.t-h6#t-section-2
            hr.t-hr
            .t-item.t-item--transparent#t-employment_history
          .t-section
            h6.t-h6#t-section-3
            hr.t-hr
            .t-item.t-item--transparent#t-education
          .t-section
            h6.t-h6#t-section-7
            hr.t-hr
            .t-item.t-item--transparent#t-courses
