mixin post-share
  .post-share&attributes(attributes)
    .post-share__checked
      i.fas.fa-share-alt.post-share__icon
    .post-share__toggle
      .post-share__wrapper
        p.post-share__text share
        a(href="#").post-share__item
          i.fab.fa-twitter.post-share__icon
        a(href="#").post-share__item
          i.fab.fa-linkedin-in.post-share__icon
        a(href="#").post-share__item
          i.fab.fa-youtube.post-share__icon
        a(href="#").post-share__item
          i.fab.fa-instagram.post-share__icon
