.accordion {

  &__item {
    border-bottom: 1px solid var(--black);
  }

  &__content {
    @include make-spacer(pb, 3);
    @include make-spacer(pb, 4, md);
    @include font-size(16px, 24px);

    overflow: hidden;

    @include media-breakpoint-up(sm) {
      padding-left: rem(100px);
    }
  }

  &__button {
    @include transition(background-color);
    @include make-spacer(py, 3);
    @include make-spacer(py, 4, md);

    display: block;
    width: 100%;
    text-align: left;

    &.is-open {

      .icon {
        transform: rotateZ(180deg);
      }
    }

    @include media-breakpoint-up(sm) {
      display: grid;
      grid-template-columns: rem(76px) 1fr;
      grid-column-gap: rem(24px);
    }

    @include media-breakpoint-up(lg) {

      &:not(.is-open):hover {
        background-color: var(--accent);
      }
    }
  }

  &__num {
    @include font-size(16px, 24px);
    @include make-spacer(pt, 2, md);

    display: block;
    font-weight: var(--bold);
  }

  &__title {
    @include font-size(24px, 32px);
    @include make-spacer(pr, 6);

    display: block;
    position: relative;
    font-weight: var(--extra-bold);

    @include media-breakpoint-up(md) {
      @include font-size(48px, 56px);
    }
  }

  &__icon {
    @include font-size(24px);
    @include flex(center, center);

    position: absolute;
    top: 0;
    right: 0;
    height: 100%;

    .icon {
      @include transition(transform);

      transform-origin: 50% 50%;
    }
  }
}
