.accreditation {
  @include flex($direction: column);

  &__image {
    display: block;
    position: relative;
    padding-top: 56.25%;
    height: 0;
    text-decoration: none;
  }

  &__picture {
    @include size(100%);

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  &__top {
    @include make-spacer(mb, 2);
    @include make-spacer(mb, 3, sm);
  }

  &__body {
    @include flex($justify-content: space-between, $direction: column);

    height: 100%;
  }

  &__title {
    @include font-size(20px, 28px);
    @include make-spacer(mb, 2);

    display: block;
    text-decoration: none;
    color: var(--black);
    font-weight: var(--extra-bold);

    @include media-breakpoint-up(md) {
      @include font-size(24px, 32px);
    }
  }

  &__info {
    @include font-size(14px, 22px);
  }

  &__city {
    @include make-spacer(ml, 1);

    font-weight: var(--bold);
  }

  &__button {
    @include flex($justify-content: center);
    @include make-spacer(mt, 3);
    @include make-spacer(mt, 4, sm);

    @include media-breakpoint-up(md) {
      justify-content: flex-start;
    }
  }
}
