.article-pagination {
  @include make-spacer(py, 1);

  &__grid {
    display: grid;
    grid-gap: rem(32px) rem(24px);

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-up(md) {
      grid-gap: rem(32px);
    }
  }

  &__link {
    @include flex($direction: column);
    @include size(100%);
    @include transition(#{background-color, border-color});
    @include make-spacer(py, 4);
    @include make-spacer(px, 3);
    @include make-spacer(px, 10, md);
    @include make-spacer(px, 13, lg);

    border-bottom: 1px solid var(--black);
    text-decoration: none;
    color: var(--black);

    &:hover {
      border-bottom: 1px solid transparent;
      background-color: var(--accent);
    }
  }

  &__name {
    @include make-spacer(mb, 2);

    display: inline-block;
  }

  &__text {
    font-weight: var(--bold);
  }
}
