.article-info {
  @include flex($align-items: center, $wrap: flex-wrap);

  &__date {
    @include font-size(14px, 22px);
    @include make-spacer(mr, 1);
  }

  &__author {
    @include accent-background;
    @include font-size(14px, 22px);

    text-decoration: none;
    color: var(--black);
    font-weight: var(--bold);

    &:hover {
      background-size: 100% 100%;
    }
  }
}
