.article {
  @include flex($direction: column);

  &--horizontal-md {

    .article__title {
      @include font-size(20px, 28px);

      font-weight: var(--extra-bold);
    }

    @include media-breakpoint-up(md) {
      flex-direction: row;

      .article {

        &__top {
          @include make-spacer(mr, 4);
          @include make-spacer(mb, 0);

          flex-shrink: 0;
          width: rem(375px);
        }

        &__bottom {
          @include make-spacer(mt, 0);
        }
      }
    }

    @include media-breakpoint-up(lg) {

      .article {

        &__top {
          width: rem(480px);
        }
      }
    }
  }

  &__time {
    @include font-size(14px, 22px);

    position: absolute;
    bottom: rem(16px);
    left: rem(24px);
    z-index: 1;
    color: var(--white);

    @include media-breakpoint-up(md) {
      @include transition(#{transform, opacity});

      transform: translateY(#{rem(24px)});
      opacity: 0;
    }
  }

  &__image {
    display: block;
    position: relative;
    padding-top: 56.25%;
    height: 0;
    text-decoration: none;

    &::after {
      @include size(100%);

      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(180deg, rgba(3, 16, 41, 0) 50.23%, rgba(3, 16, 41, 0.5) 83.73%, #031029 100%);
      content: '';
    }

    @include media-breakpoint-up(md) {

      &::after {
        @include transition(opacity);

        opacity: 0;
      }
    }
  }

  &__picture {
    @include size(100%);

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  &__body {
    @include flex($direction: column);

    height: 100%;
  }

  &__top {
    @include make-spacer(mb, 2);

    position: relative;
  }

  &__title {
    @include font-size(16px, 24px);
    @include make-spacer(mb, 2);

    display: block;
    text-decoration: none;
    color: var(--black);
    font-weight: var(--bold);
  }

  &__bottom {
    @include make-spacer(mt, auto);
  }

  &__tags {
    @include make-spacer(mb, 1);
  }

  @include media-breakpoint-up(md) {

    &:hover {

      .article {

        &__time {
          transform: translateY(0);
          opacity: 1;
        }

        &__image {

          &::after { // stylelint-disable-line
            opacity: 1;
          }
        }
      }
    }
  }
}
