.author {

  &__name,
  &__position {
    @include make-spacer(mb, 0);
    @include font-size(16px, 24px);
  }

  &__image {
    @include size(rem(132px));
    @include make-spacer(mb, 3);
    @include make-spacer(mb, 0, sm);

    display: block;
    object-fit: cover;

    @include media-breakpoint-only(sm) {
      @include size(rem(176px));
    }

    @include media-breakpoint-up(lg) {
      @include size(rem(176px));
    }
  }

  &__name {
    font-weight: var(--bold);
  }

  &__title {
    @include font-size(24px, 32px);
    @include make-spacer(mb, 2);

    font-weight: var(--extra-bold);
  }

  &__socials {
    @include make-spacer(mt, 2);
    @include make-spacer(mt, 1, sm);
  }

  &__aside {
    @include make-spacer(mb, 3);
    @include make-spacer(mb, 0, sm);
  }

  &__text {
    @include media-breakpoint-up(sm) {
      grid-column: span 2;
    }
  }

  @include media-breakpoint-up(sm) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: rem(32px) rem(24px);
  }

  @include media-breakpoint-up(md) {
    @include make-spacer(mx, auto);

    grid-column-gap: rem(32px);
    max-width: rem(456px);
  }

  @include media-breakpoint-up(md) {
    max-width: rem(584px);
  }
}
