.breadcrumbs {
  @include make-spacer(mt, 3);
  @include make-spacer(px, 2);
  @include make-spacer(px, 4, sm);
  @include make-spacer(px, 5, md);

  &__list {
    @include reset-list;
    @include flex($wrap: wrap);
  }

  &__item {
    @include make-spacer(mr, 1);
    @include flex($align-items: center);

    max-width: 100%;
    white-space: nowrap;

    &::after {
      @include make-spacer(ml, 1);

      display: inline-block;
      content: '/';
    }

    &:last-child {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--disabled);

      &::after {
        content: none;
      }

      .breadcrumbs__link {
        color: var(--disabled);
        pointer-events: none;
      }
    }
  }

  &__link {
    @include accent-background;
    @include font-size(14px, 22px);

    text-decoration: none;
    color: var(--black);

    &:hover {
      @include media-breakpoint-up(lg) {
        background-size: 100% 100%;
        text-decoration-color: transparent;
      }
    }
  }
}
