.buttons-section {
  @include make-spacer(mt, 6);
  @include make-spacer(mt, 5, sm);
  @include make-spacer(mt, 8, md);
  @include make-spacer(mt, 12, lg);

  display: grid;
  grid-gap: rem(24px);

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(auto-fit, rem(174px));
    grid-gap: rem(32px);
    justify-content: center;
  }
}
