.category-slider {
  --buttonTop: initial; // default value, sets via js -> category-slider.js

  &__prev,
  &__next {
    top: var(--buttonTop);

    @include media-breakpoint-only(sm) {
      position: static;
      transform: translate(0, 0);
    }
  }

  // spaces between slick slides and even height of slides

  .slick-list {
    @include flex;

    @include media-breakpoint-up(sm) {
      margin: 0 rem(-12px);
    }

    @include media-breakpoint-up(md) {
      margin: 0 rem(-16px);
    }
  }

  .slick-track {
    display: flex;
  }

  .slick-slide {
    float: none;

    > div {
      @include size(100%);
    }

    @include media-breakpoint-up(sm) {
      padding: 0 rem(12px);
    }

    @include media-breakpoint-up(md) {
      padding: 0 rem(16px);
    }
  }

  // end

  &__gallery {
    @include make-spacer(mx, auto);

    display: grid;
    position: relative;

    @include media-breakpoint-up(md) {
      max-width: rem(618px);
    }

    @include media-breakpoint-up(lg) {
      max-width: rem(790px);
    }
  }

  &__title {
    @include make-spacer(mb, 4);
    @include make-spacer(mb, 6, sm);
    @include make-spacer(mb, 8, md);

    text-align: center;

    @include media-breakpoint-down(sm) {
      @include font-size(24px, 32px);
    }
  }

  &__wrap {
    @include size(100%);
  }

  &__block {
    @include flex($direction: column);
    @include size(100%);
  }

  &__link {
    flex: 1 0 auto;
    text-decoration: none;
    color: var(--black);
  }

  &__picture {
    position: relative;
    padding-top: 56.25%;
    height: 0;
  }

  &__image {
    @include size(100%);

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  &__name {
    @include make-spacer(my, 2);
    @include font-size(20px, 28px);

    font-weight: var(--extra-bold);
  }

  &__alignment {
    @include make-spacer(mt, 3);
    @include make-spacer(mt, 4, sm);

    text-align: center;

    @include media-breakpoint-up(sm) {
      text-align: left;
    }
  }

  &__button {
    min-width: rem(173px);
  }

  &__navigation {
    @include make-spacer(mt, 6);
    @include make-spacer(mt, 0, md);

    display: grid;
    grid-auto-flow: column;
    grid-column-gap: rem(24px);
    justify-content: center;
  }

  &__prev {
    @include media-breakpoint-up(md) {
      transform: translate(rem(-80px), -50%);
    }

    @include media-breakpoint-up(lg) {
      transform: translate(rem(-104px), -50%);
    }
  }

  &__next {
    @include media-breakpoint-up(md) {
      transform: translate(rem(80px), -50%);
    }

    @include media-breakpoint-up(lg) {
      transform: translate(rem(104px), -50%);
    }
  }
}
