.checkbox {
  height: auto;

  &.has-error {

    &__label {

      &::before {
        border-color: var(--red);
      }
    }
  }

  &__item:checked + &__label::after {
    display: block;
  }

  &__item:checked + &__label::before {
    border-color: var(--accent);
    background-color: var(--accent);
  }

  &__item {
    display: none;
  }

  &__label {
    @include flex;

    position: relative;
    cursor: pointer;

    &::before {
      @include size(rem(20px));
      @include make-spacer(mr, 1);
      @include transition(background-color);

      display: inline-block;
      position: relative;
      flex-shrink: 0;
      border: 1px solid var(--grey-250);
      border-radius: 2px;
      background-color: var(--white);
      cursor: pointer;
      content: '';
    }

    &::after {
      @include size(rem(8px), rem(12px));

      display: none;
      position: absolute;
      top: rem(2px);
      left: rem(6px);
      transform: rotate(45deg);
      border: solid var(--white);
      border-width: 0 2px 2px 0;
      content: '';
    }
  }

  &__text {
    @include font-size(14px, 20px);
  }
}
