.cookies-policy {
  @include make-spacer(p, 2);
  @include make-spacer(py, 3, sm);
  @include make-spacer(px, 4, sm);

  position: fixed;
  right: 0;
  bottom: 0;
  z-index: map-get($z-indexes, overlay);
  border-radius: 2px 2px 0 0;
  background-color: var(--grey-100);
  width: 100%;
  color: var(--senet-black);

  @include media-breakpoint-up(sm) {
    @include flex($align-items:flex-start);
  }

  @include media-breakpoint-up(md) {
    width: rem(560px);
  }

  &__text {
    @include font-size(12px, 16px);
    @include make-spacer(mb, 1);
    @include make-spacer(mb, 0, md);
    @include make-spacer(mr, 4, sm);
    @include make-spacer(mr, 5, md);

    a {
      @include font-size(12px, 16px);
      @include make-spacer(mx, 1);

      @include media-breakpoint-up(sm) {
        @include font-size(14px, 20px);
      }
    }

    @include media-breakpoint-up(sm) {
      @include font-size(14px, 20px);

      flex: 1;
    }
  }

  &__button {
    @include font-size(14px, 28px);

    width: rem(106px);

    @include media-breakpoint-up(sm) {
      @include font-size(14px, 44px);
    }
  }
}
