.download-picture {
  position: relative;

  &:hover {

    .download-picture {

      &__link {
        transform: translateY(0);
        opacity: 1;
      }

      &__wrapper {

        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__wrapper {
    display: block;
    position: relative;
    padding-top: 56.25%;
    height: 0;

    &::before {
      @include size(100%);
      @include transition(opacity);

      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0;
      z-index: 1;
      background: linear-gradient(180deg, transparent 76.6%, var(--black-alpha-07) 100%);
      content: '';
    }
  }

  &__image {
    @include size(100%);

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  &__link {
    @include size(rem(48px));
    @include transition(#{transform, opacity});
    @include flex(center, center);

    position: absolute;
    right: rem(12px);
    bottom: rem(10px);
    transform: translateY(rem(32px));
    opacity: 0;
    z-index: 2;

    &:hover {

      .download-picture__icon {
        color: var(--accent);
      }
    }
  }

  &__icon {
    @include transition(color);

    color: var(--white);
  }
}
