.footer-menu {

  &__list {
    @include reset-list;
  }

  &__item {
    @include make-spacer(mb, 2);
  }

  &__link {
    @include transition(color);
    @include font-size(14px, 22px);

    position: relative;
    z-index: 0;
    text-decoration: none;
    color: var(--black);

    &::after {
      @include transition(width);
      @include size(0, 100%);
      
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-color: var(--black);
      content: '';
    }

    &:hover {
      color: var(--white);

      &::after {
        width: 100%;
      }
    }
  }
}
