.gallery-slider {
  display: grid;

  &__prev {
    @include media-breakpoint-up(md) {
      transform: translate(rem(-80px), -50%);
    }

    @include media-breakpoint-up(lg) {
      transform: translate(rem(-104px), -50%);
    }
  }

  &__next {
    @include media-breakpoint-up(md) {
      transform: translate(rem(80px), -50%);
    }

    @include media-breakpoint-up(lg) {
      transform: translate(rem(104px), -50%);
    }
  }

  &__wrap {
    vertical-align: middle;
  }
}
