.header {
  @include transition(background-color);
  @include size(100%, var(--header-height));
  @include make-spacer(px, 5, lg);

  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  grid-template-rows: 1fr;
  grid-template-columns: rem(64px) 1fr auto;
  z-index: map-get($z-indexes, header);
  background-color: var(--accent);
  font-family: var(--headings-font-family);

  &.is-transparent {
    background-color: transparent;

    .hamburger-inner {

      &,
      &::before,
      &::after {
        background-color: var(--white);
      }
    }

    .main-logo {
      fill: var(--accent);
    }

    .nav__link {
      color: var(--white);

      &--desktop-submenu-trigger {

        &:hover {
          color: var(--white);

          .nav__link-arrow {
            color: var(--accent-hover);
          }
        }

        &::after {
          display: none;
        }
      }

      &::after {
        background-color: var(--accent);
      }
    }

    .language__trigger {
      color: var(--white);

      &:hover {
        .language__arrow {
          color: var(--accent);
        }
      }
    }

    .language__arrow {
      color: var(--white);
    }

    .header__button {
      border-color: var(--white);
      color: var(--white);

      &:hover {
        border: 1px solid var(--accent);
        color: var(--accent);
      }
    }

  }

  &__hamburger-wrap {
    @include flex($align-items: center);

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &__logo-wrap {
    @include flex($align-items: center);
  }

  &__logo {
    display: block;

    .main-logo {
      @include size(rem(88px), rem(24px));
      @include transition(fill);

      display: inline-block;
      vertical-align: middle;
      fill: var(--black);

      @include media-breakpoint-up(sm) {
        @include size(rem(118px), rem(32px));
      }
    }

    @include media-breakpoint-up(lg) {
      @include size(auto, rem(32px));
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
  }

  &__language {
    display: none;
    height: 100%;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  &__nav {
    @include size(100%);
    @include flex($align-items: stretch);

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__controls {
    height: 100%;
  }

  &__buttons {
    @include flex(null, center);
    @include make-spacer(px, 2);
    @include make-spacer(px, 4, sm);
    @include make-spacer(px, 5, md);
    @include make-spacer(pl, 5, lg);
    @include make-spacer(pr, 0, lg);
  }

  &__button {
    @include font-size(14px);
    @include make-spacer(px, 3);
    @include make-spacer(px, 2, md);
    @include flex(center, center, $display: inline-flex);
    @include transition(#{background-color, color, border-color});

    position: relative;
    outline: none;
    border: 1px solid var(--black);
    border-radius: rem(4px);
    background-color: transparent;
    cursor: pointer;
    min-height: rem(32px);
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    user-select: none;
    -webkit-appearance: none; // stylelint-disable-line
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    text-transform: initial;
    color: var(--black);
    font-family: var(--font-family);
    font-weight: var(--bold);

    @include desktop-hover {
      background-color: var(--black);
      color: var(--white);
    }

    @include media-breakpoint-up(md) {
      min-height: rem(40px);
    }
  }

  @include media-breakpoint-up(sm) {
    grid-template-columns: rem(88px) 1fr auto;
  }

  @include media-breakpoint-up(md) {
    grid-template-columns: rem(104px) 1fr auto auto;
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: rem(158px) 1fr auto;
  }
}
