.header-empty {
  @include flex(center, center);
  @include size(100%, var(--header-height));
  @include make-spacer(px, 2);
  @include make-spacer(px, 4, sm);
  @include make-spacer(px, 5, md);

  z-index: map-get($z-indexes, header);
  background-color: var(--accent);

  &__wrapper {
    @include flex($align-items: center);
  }

  &__logo {
    display: block;

    .main-logo {
      @include size(rem(88px), rem(24px));
      @include transition(fill);

      display: inline-block;
      vertical-align: middle;
      fill: var(--black);

      @include media-breakpoint-up(sm) {
        @include size(rem(118px), rem(32px));
      }
    }

    @include media-breakpoint-up(lg) {
      @include size(auto, rem(32px));
    }
  }
}
