.header {
  @include size(auto, var(--header-height));

  display: grid;
  position: sticky;
  top: 0;
  left: 0;
  grid-template-columns: rem(160px) 1fr rem(80px);
  z-index: map-get($z-indexes, header);
  border-bottom: 1px solid var(--grey-500);
  background-color: var(--accent);
  font-family: var(--headings-font-family);

  &__logo {
    @include size(auto, rem(24px));

    display: block;

    .main-logo {
      @include size(rem(88px), rem(24px));

      fill: var(--black);
    }

    @include media-breakpoint-up(lg) {
      @include size(auto, rem(32px));
    }
  }

  &__hamburger {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &__language {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__nav {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: rem(256px) 1fr rem(128px);
  }
}
