.header {
  @include size(auto, var(--header-height));

  display: grid;
  position: sticky;
  top: 0;
  left: 0;
  grid-template-columns: rem(160px) 1fr rem(80px);
  z-index: map-get($z-indexes, header);
  border-bottom: 1px solid var(--grey-500);
  background-color: var(--senet-black);
  font-family: var(--headings-font-family);

  @include media-breakpoint-up(lg) {
    grid-template-columns: rem(256px) 1fr rem(128px);
  }

  &__logo-image {
    @include size(auto, rem(24px));

    display: block;
    color: var(--white);

    @include media-breakpoint-up(lg) {
      @include size(auto, rem(32px));
    }
  }

  &__logo-wrap {
    @include flex(center, center);

    border-right: 1px solid var(--grey-500);
  }

  &__container {
    @include flex(space-between, center);
    @include make-spacer(px, 4, lg);
    @include make-spacer(px, 9, xxl);
  }

  &__controls {
    @include make-spacer(px, 3);
    @include make-spacer(px, 6, lg);
    @include flex(center, center);

    border-left: 1px solid var(--grey-500);

    &.is-disabled {
      pointer-events: none;
    }

    &:focus {
      outline: none;
    }
  }

  &__hamburger {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &__language {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__nav {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__demo {

    &:first-of-type {
      @include make-spacer(mr, 2);
    }

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}
