.hero-section {
  background-color: var(--black);
  color: var(--white);

  &__title,
  &__subtitle,
  &__buttons,
  &__socials {
    @include make-spacer(pb, 3);

    width: 100%;
  }

  &__wrapper {
    @include flex(center,center,column);

    height: 100vh;
  }

  &__title {
    @include font-size(32px,40px);

    &--highlight {
      background-color: var(--accent);
    }
  }

  &__subtitle {
    @include font-size(18px,24px);

    font-weight: 700;
  }

  &__buttons {

    .button {
      width: 100%;

      &--primary {
        @include make-spacer(mb, 3);
      }
    }
  }

  &__socials {

    .icon {
      @include size(rem(24px));
      @include make-spacer(ml, 3);
    }
  }

  &__subscribe {
    @include font-size(18px,24px);
    @include flex($align-items: center);
  }
}

