.hover-accent {
  display: inline-block;
  position: relative;
  vertical-align: top;

  &::after {
    @include transition(width);

    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: var(--accent);
    width: 0;
    content: '';
  }

  &:hover {

    &::after {
      width: 100%;
    }
  }
}
