.input {
  @include size(100%);

  position: relative;

  &.has-error {

    .input {

      &__item,
      &__textarea {
        border-color: var(--red);
      }

      &__alert {
        color: var(--red);
      }
    }
  }

  &__item,
  &__textarea {
    @include size(100%);
    @include make-spacer(px, 2);
    @include make-spacer(py, 1);
    @include font-size(14px, 22px);

    border: 1px solid var(--grey-250);
    border-radius: rem(4px);
    resize: none;

    &::placeholder {
      color: var(--disabled);
    }

    &:focus {
      outline: none;

      &::placeholder {
        visibility: hidden;
      }
    }
  }

  &__item {
    height: rem(40px);
  }

  &__textarea {
    height: rem(80px);
  }

  &__alert {
    @include font-size(12px);

    display: block;
    margin-top: rem(1px);
    margin-bottom: rem(11px);
    min-height: rem(12px);
    color: transparent;
  }
}
