.languages {
  @include flex(flex-start, center);

  position: relative;

  &__button {
    @include font-size(16px, 24px);

    cursor: pointer;
    text-transform: uppercase;
    color: var(--grey-400);
    font-weight: var(--bold);

    &.is-active {
      color: #fff;
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &__delimiter {
    @include make-spacer(mx, 2);

    display: inline-block;
    color: #fff;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}
