.language {
  position: relative;
  color: var(--white);

  &__trigger {
    @include size(100%);
    @include flex($align-items: center);
    @include make-spacer(px, half);

    color: var(--black);
    font-weight: var(--bold);

    &.is-open {

      + .language__list {
        transform: translate(-50%, 0);
        visibility: visible;
        opacity: 1;
      }

      .language__arrow {
        transform: rotate(180deg);
      }
    }
  }

  &__arrow {
    @include font-size(20px);
    @include make-spacer(ml, half);
    @include transition(#{transform, color});

    display: inline-flex;
    align-items: center;
    transform-origin: center;
    pointer-events: none;
  }

  &__label {
    @include transition(color);

    pointer-events: none;
  }

  &__list {
    @include make-spacer(py, 2);
    @include transition(#{visibility, transform, opacity});

    position: absolute;
    top: calc(100% + #{rem(10px)});
    left: calc(50% + #{rem(4px)});
    transform: translate(-50%, rem(-16px));
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    box-shadow: 0 0 4px var(--accent);
    background-color: var(--grey-600);
    width: rem(52px);
  }

  &__item {
    @include make-spacer(mb, 1);

    &:last-child {
      @include make-spacer(mb, 0);
    }
  }

  &__button {
    @include make-spacer(pl, 1);
    @include make-spacer(pr, 1);
    @include font-size(14px, 22px);
    @include transition(#{background-color, color});

    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--grey-200);
    font-weight: var(--regular);

    &.js-dropdown__item {
      color: var(--accent);

      &:hover {
        color: var(--white);
      }
    }

    &:hover {
      background-color: var(--accent-hover);
    }
  }

  &--mobile {
    @include flex($align-items: center);

    .language__trigger {
      @include size(auto);
      @include make-spacer(p, 0);
      @include make-spacer(mr, 3);

      &.is-open {

        + .language__list {
          transform: translate(0, 0);
          visibility: visible;
          opacity: 1;
        }

        .language__arrow {
          transform: rotate(-90deg);
        }
      }
    }

    .language__list {
      @include size(auto);
      @include flex($align-items: center);
      @include make-spacer(p, 0);

      position: static;
      transform: translate(0, 0);
      background-color: transparent;
    }

    .language__item {
      @include make-spacer(mb, 0);
      @include make-spacer(mr, 2);
    }

    .language__button {
      @include make-spacer(p, 0);
      @include font-size(16px, 24px);

      color: var(--black);
      font-weight: var(--bold);

      &.js-dropdown__item {
        background-color: var(--black);
        color: var(--white);
      }
    }
  }

  &--footer {

    .language__list {
      background-color: var(--white);
    }

    .language__button {
      color: var(--black);

      &.js-dropdown__item {
        color: var(--accent);

        &:hover {
          color: var(--white);
        }
      }
    }



    &.is-open {

      + .language__list {
        transform: translate(-50%, -30%);
        visibility: visible;
        opacity: 1;
      }

      .language__arrow {
        transform: rotate(180deg);
      }
    }

    .language__list {
      top: auto;
      bottom: calc(100% + #{rem(24px)});
      left: calc(15% + #{rem(4px)});
      transform: translate(-50%, rem(16px));

      @include media-breakpoint-up(sm) {
        left: calc(50% + #{rem(4px)});
      }
    }
  }
}
