.mobile-navigation {
  @include transition(transform);
  @include size(100%, calc(100% - var(--header-height)));

  display: block;
  position: fixed;
  top: var(--header-height);
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  z-index: map-get($z-indexes, mobile-nav);
  background-color: var(--accent);
  overflow: auto;

  &.is-opened {
    transform: translateX(0);
  }

  &__lang {
    @include make-spacer(mb, 6);
    @include make-spacer(px, 2);
    @include make-spacer(px, 4, sm);
    @include make-spacer(px, 5, md);

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &__socials {
    @include flex;
    @include make-spacer(pt, 3);
    @include make-spacer(px, 3);
  }

  @include media-breakpoint-up(sm) {
    width: rem(308px);
  }

  @include media-breakpoint-up(md) {
    width: rem(333px);
  }
}
