.modal {
  @include size(100%);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-y: auto;


  &__dialog {
    @include make-spacer(p, 4, sm);
    @include flex(center, center);

    max-width: 100%;
    min-height: calc(100% - (1.75rem * 2));
  }

  &__body {
    background-color: var(--white);
    width: 100%;
    max-width: 100%;

    @include media-breakpoint-up(sm) {
      max-width: 75%;
    }
  }
}
