.nav {
  @include flex($align-items: center);

  &__list {
    @include flex(center, center);
  }

  &__item {
    position: relative;
  }

  &__link {
    @include flex($align-items: center, $display: inline-flex);
    @include font-size(16px, 24px);
    @include transition(color);

    position: relative;
    text-decoration: none;
    color: var(--black);
    font-weight: var(--bold);

    &::after {
      @include transition(width);

      display: block;
      position: absolute;
      top: 0;
      right: 100%;
      bottom: 0;
      left: 0;
      z-index: -1;
      background-color: var(--black);
      width: 0;
      content: '';
    }

    &--is-active {
      color: var(--white);

      &::after {
        width: 100%;
      }
    }

    &.is-open {

      .nav__link-arrow {
        transform: rotate(180deg);
      }
    }

    &:hover {
      @include media-breakpoint-up(lg) {
        color: var(--white);

        &::after {
          width: 100%;
        }
      }
    }
  }

  &__link-arrow {
    @include font-size(20px);
    @include transition(transform);
    @include make-spacer(ml, half);

    display: inline-flex;
    align-items: center;
    transform-origin: center;
    pointer-events: none;
  }

  &--mobile {
    @include make-spacer(py, 3);
    @include make-spacer(px, 2);
    @include make-spacer(px, 4, sm);
    @include make-spacer(pt, 5, md);
    @include make-spacer(px, 5, md);

    display: block;

    .nav {

      &__list {
        display: block;
      }

      &__link {
        @include flex($justify-content: space-between);
        @include font-size(16px, 24px);

        &.is-active-link {
          .nav__link-arrow {
            transform: rotate(180deg);
          }
        }
      }

      &__item {
        @include make-spacer(ml, 0);
        @include make-spacer(mb, 3);

        &:last-child {
          @include make-spacer(mb, 0);
        }
      }
    }
  }

  &--desktop {
    @include flex($align-items: stretch);

    .nav__list {
      @include flex($align-items: stretch);
    }

    .nav__item {
      @include flex($align-items: center);
      @include make-spacer(ml, 3);

      &:first-child {
        @include make-spacer(ml, 0);
      }
    }

    .nav__link {

      &--desktop-submenu-trigger {

        &::after {
          display: none;
        }

        &:hover {
          color: var(--black);
        }
      }
    }
  }
}
