.notification {
  @include make-spacer(py, 2);
  @include make-spacer(pl, 2);
  @include make-spacer(pr, 6);
  @include font-size(14px, 20px);
  @include transition(#{opacity, transform});

  position: fixed;
  right: rem(16px);
  bottom: rem(16px);
  left: rem(16px);
  transform: translateY(rem(64px));
  opacity: 0;
  z-index: 100;
  border: 1px solid var(--grey-250);
  border-radius: rem(4px);
  background-color: var(--white);
  max-width: rem(480px);

  &.is-notification-open {
    transform: translateY(0);
    opacity: 1;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: rem(16px);
    transform: translateY(-50%);
    fill: var(--success);
  }

  @include media-breakpoint-up(sm) {
    right: auto;
  }
}
