.pagination-block {
  color: var(--grey-300);

  &__list {
    @include flex($wrap: wrap);

    @include media-breakpoint-up(sm) {
      flex-wrap: nowrap;
      justify-content: flex-end;
    }
  }

  &__item {
    min-width: rem(40px);
    text-align: center;

    &:first-child {

      .pagination-block {
        &__link {
          @include make-spacer(pl, 4);
          @include make-spacer(pl, 5, sm);
          @include make-spacer(pr, 4);
          @include make-spacer(pr, 1, sm);
        }

        &__icon {
          position: absolute;
          top: 50%;
          left: rem(8px);
          transform: translate(0, -50%) rotate(180deg);

          @include media-breakpoint-up(sm) {
            left: rem(16px);
          }
        }
      }
    }

    &:nth-child(2) {

      .pagination-block {

        &__icon {
          transform: rotate(180deg);
        }
      }
    }

    &:last-child {

      .pagination-block {
        &__link {
          @include make-spacer(pr, 4);
          @include make-spacer(pr, 5, sm);
          @include make-spacer(pl, 1);
        }

        &__icon {
          position: absolute;
          top: 50%;
          right: rem(8px);
          transform: translate(0, -50%);

          @include media-breakpoint-up(sm) {
            right: rem(16px);
          }
        }
      }
    }

    @include media-breakpoint-up(sm) {
      min-width: rem(48px);
    }

    @include media-breakpoint-up(lg) {
      min-width: rem(56px);
    }
  }

  &__link {
    @include font-size(14px, 48px);
    @include transition(color);

    display: block;
    position: relative;
    text-decoration: none;
    color: var(--grey-300);

    &::before {
      @include size(100%, 1px);

      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--grey-300);
      content: '';
    }

    &--is-active {
      color: var(--accent);

      &::before {
        background-color: var(--accent);
        height: rem(2px);
      }
    }

    &:hover {
      color: var(--accent);

      &::before {
        background-color: var(--accent);
      }
    }

    @include media-breakpoint-up(sm) {
      @include font-size(16px, 48px);
    }

    @include media-breakpoint-up(lg) {
      @include font-size(20px, 56px);
    }
  }

  &__icon {
    @include size(rem(16px));
  }
}
