.pulse {
  @include size(rem(16px));
  @include transition(box-shadow);

  flex-shrink: 0;
  border-radius: 50%;
  box-shadow: 0 0 0 var(--accent);
  background-color: var(--accent);
  animation: pulsing 2s infinite;
}

@keyframes pulsing {

  0% {
    box-shadow: 0 0 0 0 var(--accent);
  }

  70% {
    box-shadow: 0 0 0 rem(16px) rgba(0, 188, 255, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 188, 255, 0);
  }
}
