.quote {

  &__icon {
    @include size(rem(88px), rem(64px));

    fill: var(--accent);
  }

  &__text {
    @include font-size(18px, 26px);
    @include make-spacer(my, 4);
    @include make-spacer(mx, auto);

    text-align: left;
    font-weight: var(--bold);

    @include media-breakpoint-up(sm) {
      text-align: center;
    }

    @include media-breakpoint-up(md) {
      @include font-size(24px, 32px);
    }
  }

  &__link {
    @include accent-background;

    color: var(--black);

    &:hover {
      @include media-breakpoint-up(lg) {
        background-size: 100%  100%;
        text-decoration: none;
      }
    }
  }
}
