.search-menu {

  &__link,
  &__input {
    @include font-size(14px, 22px);

    color: var(--black);
    font-weight: var(--bold);

    @include media-breakpoint-up(sm) {
      @include font-size(16px, 24px);
    }
  }

  &__reset,
  &__submit {
    @include size(rem(22px));

    position: absolute;

    @include media-breakpoint-up(sm) {
      margin-top: rem(2px);
    }
  }

  &__form {
    @include make-spacer(mb, 3);
    @include make-spacer(mb, 6, sm);

    position: relative;
  }

  &__input {
    @include make-spacer(pb, 1);
    @include make-spacer(pb, 2, sm);
    @include make-spacer(px, 4);
    @include make-spacer(pr, 0, md);

    border: initial;
    border-bottom: 1px solid var(--black);
    box-shadow: none;
    width: 100%;

    &::placeholder {
      @include transition(#{text-indent, opacity});

      color: var(--black);
    }

    &:placeholder-shown ~ .search-menu__reset {
      opacity: 0;
      pointer-events: none;
    }

    &:focus::placeholder {
      opacity: 0;
      text-indent: rem(20px);
    }

    &:focus {
      outline: none;
    }
  }

  &__submit {
    left: 0;
  }

  &__reset {
    @include transition(opacity);

    right: 0;
    opacity: 1;
    pointer-events: auto;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &__icon {
    @include size(100%);

    display: block;
    fill: var(--black);
  }

  &__list {
    @include reset-list;
    @include flex($direction: column);
    @include make-spacer(pb, 3);

    border-bottom: 1px solid var(--black);
  }

  &__item {
    align-self: flex-start;

    &.is-active {
      background-size: 100% 100%;
    }

    &:not(:first-child) {
      @include make-spacer(mt, 2);
    }

    &:hover {
      background-size: 100% 100%;
    }
  }

  &__link {
    text-decoration: none;
  }

  @include media-breakpoint-up(md) {
    position: sticky;
    top: calc(var(--header-height) + #{rem(24px)});
    left: 0;
  }
}
