.section {
  @include make-spacer(py, 6);
  @include make-spacer(py, 8, md);

  &__title {
    @include make-spacer(mb, 3);

    text-align: center;

    &--limited {
      @include make-spacer(mx, auto, md);

      @include media-breakpoint-up(md) {
        max-width: rem(620px);
      }

      @include media-breakpoint-up(lg) {
        max-width: rem(790px);
      }
    }
  }

  &__subtitle {
    @include font-size(16px, 24px);
    @include make-spacer(mb, 0);
    @include make-spacer(mx, auto, sm);

    font-weight: var(--bold);

    @include media-breakpoint-up(sm) {
      max-width: rem(620px);
      text-align: center;
    }
  }

  &__header {
    @include make-spacer(mb, 6);
    @include make-spacer(mb, 8, md);
  }

  &__icon {
    @include size(rem(132px), rem(82px));
    @include make-spacer(mb, 4);

    @include media-breakpoint-only(sm) {
      @include size(rem(174px), rem(108px));
    }

    @include media-breakpoint-up(lg) {
      @include size(rem(174px), rem(108px));
    }
  }
}
