.service-menu {
  @include make-spacer(pb, 3, md);

  display: none;

  &__title {
    @include make-spacer(mb, 3);
    @include font-size(20px, 28px);

    font-weight: var(--extra-bold);
  }

  &__list {
    @include reset-list;
    @include flex($direction: column);
  }

  &__item {
    align-self: flex-start;

    &:not( :first-child ) {
      @include make-spacer(mt, 2);
    }

    &:hover {
      background-size: 100% 100%;
    }
  }

  &__link {
    @include transition(color);

    position: relative;
    text-decoration: none;
    color: var(--black);
  }

  @include media-breakpoint-up(md) {
    display: block;
    position: sticky;
    top: calc(var(--header-height) + #{rem(24px)});
    left: 0;
    border-bottom: 1px solid var(--black);
  }
}
