.slider-nav {
  @include size(rem(40px));
  @include transition(background-color);

  background-color: rgba(245, 247, 250, 0.5);
  color: var(--black);

  &:hover {
    background-color: var(--accent);
  }

  @include media-breakpoint-up(md) {
    background-color: rgba(245, 247, 250, 1);
  }
}
