.social-links {
  @include flex($align-items: center);
  @include font-size(16px 24px);

  color: var(--black);
  font-weight: var(--bold);

  .icon {
    @include size(100%);
  }

  &__link {
    @include size(rem(24px));
    @include make-spacer(ml, 4);
    @include transition(color);

    text-decoration: none;
    color: var(--black);
  }

  &--white {
    color: var(--white);

    .social-links__link {
      color: var(--white);

      &:hover {
        color: var(--accent);
      }
    }
  }
}
