.social-links {
  @include font-size(16px, 24px);
  @include flex($align-items: center);

  .icon {
    @include size(100%);
  }

  &__title {
    @include make-spacer(mb, 0);
    @include make-spacer(mr, 3);

    color: var(--black);
    font-weight: var(--bold);
  }

  &__wrap {
    @include flex($align-items: center, $wrap: wrap);
  }

  &__link {
    @include size(rem(24px));
    @include transition(color);
    @include make-spacer(my, half);

    text-decoration: none;
    color: var(--black);

    &:not( :last-child ) {
      @include make-spacer(mr, 3);
    }

    &:hover {
      color: var(--white);
    }
  }

  &--white {

    .social-links {

      &__title {
        color: var(--white);
      }

      &__link {
        color: var(--white);

        &:hover {
          color: var(--accent);
        }
      }
    }
  }

  &--headless {

    .social-links {

      &__title {
        display: none;
      }
    }
  }

  &--secondary {

    .social-links {

      &__link {

        &:hover {
          color: var(--accent);
        }
      }
    }
  }
}
