.social-links {
  @include flex(center, center, column);
  @include font-size(16px 24px);

  color: var(--black);
  font-weight: var(--bold);

  .icon {
    @include size(100%);
  }

  @include media-breakpoint-up(sm) {
    flex-direction: row;
    align-items: center;
  }

  &__wrap {
    @include flex($align-items: center);
    @include make-spacer(mt, 2);
    @include make-spacer(mt, 0, sm);
  }

  &__link {
    @include size(rem(24px));
    @include make-spacer(ml, 3);
    @include transition(color);

    text-decoration: none;
    color: var(--black);

    &:hover {
      color: var(--white);
    }

    &:first-child {
      @include make-spacer(ml, 0);
      @include make-spacer(ml, 3, sm);
    }
  }

  &--white {
    flex-direction: row;
    justify-content: flex-start;
    color: var(--white);

    .social-links__wrap {
      @include make-spacer(mt, 0);
    }

    .social-links__link {
      color: var(--white);

      &:hover {
        color: var(--accent);
      }

      &:first-child {
        @include make-spacer(ml, 3);
        @include make-spacer(ml, 0, sm);
      }
    }
  }
}
