.subscribe-section {

  &__wrapper {
    @include make-spacer(mx, auto);

    @include media-breakpoint-up(sm) {
      max-width: rem(378px);
    }

    @include media-breakpoint-up(md) {
      max-width: rem(294px);
    }

    @include media-breakpoint-up(lg) {
      max-width: rem(378px);
    }
  }
}
