.subscribe {
  @include make-spacer(mt, 4);
  @include make-spacer(mt, 8, md);
  @include make-spacer(pt, 8);
  @include make-spacer(pt, 16, md);

  &__wrapper {
    @include make-spacer(mx, auto);

    @include media-breakpoint-up(sm) {
      max-width: rem(378px);
    }

    @include media-breakpoint-up(md) {
      max-width: rem(294px);
    }

    @include media-breakpoint-up(lg) {
      max-width: rem(378px);
    }
  }

  &__group {
    @include make-spacer(mb, 3);
  }

  &__button {
    @include make-spacer(mb, 0);

    .button {
      width: 100%;
    }
  }
}
