.submenu {
  @include make-spacer(pt, 3);

  &__link {
    display: block;
    text-decoration: none;
    color: var(--black);
  }

  &--mobile {
    @include make-spacer(px, 2);

    display: none;

    .submenu__item {
      @include make-spacer(mb, 2);

      &:last-child {
        @include make-spacer(mb, 0);
      }
    }

    .submenu__link {
      @include font-size(16px, 24px);
    }
  }

  &--desktop {
    @include size(rem(156px), auto);
    @include make-spacer(py, 2);
    @include transition(#{visibility, transform, opacity});

    position: absolute;
    top: calc(100% + #{rem(10px)});
    transform: translate(0, rem(-16px));
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    box-shadow: 0 0 0 1px var(--grey-200);
    background-color: var(--white);

    &.is-visible {
      transform: translate(0, 0);
      visibility: visible;
      opacity: 1;
    }

    .submenu__item {
      @include make-spacer(mb, 1);

      &:last-child {
        @include make-spacer(mb, 0);
      }
    }

    .submenu__link {
      @include make-spacer(px, 2);
      @include font-size(14px, 22px);
      @include transition(background-color);

      color: var(--black);

      &:hover {
        background-color: var(--accent-hover);
      }
    }
  }
}
