.tags {
  @include flex($wrap: wrap);

  &__item {
    @include accent-background;
    @include font-size(14px, 22px);
    @include make-spacer(mb, 1);

    display: block;
    text-decoration: none;
    color: var(--black);

    &:not( :last-child ) {
      @include make-spacer(mr, 2);
    }

    &:hover {
      background-size: 100% 100%;
    }
  }
}
