.section {

  &--sales {

    .container {

      &::before {
        @include size(740px, 505px);

        opacity: 0.15;
        top: 250px;
        left: 0;

        @include media-breakpoint-up(sm) {
          @include size(1112px, 759px);

          top: 120px;
          left: 40px;
        }

        @include media-breakpoint-up(md) {
          top: 180px;
          left: 50%;
          transform: translateX(-50%);
        }

        @include media-breakpoint-up(xl) {
          top: 90px;
          left: -150px;
          transform: none;
        }

        @include media-breakpoint-up(xxl) {
          top: 220px;
          left: 0;
        }
      }
    }

    .grid {

      @include media-breakpoint-up(xl) {
        display: grid;
        grid-template-columns: 672px 1fr;
        column-gap: 70px;
      }

      @include media-breakpoint-up(xxl) {
        grid-template-columns: 881px 1fr;
        column-gap: 154px;
      }
    }

    .layout {
      @include make-spacer('mx', auto);
      @include make-spacer('mb', 8);
      @include make-spacer('mb', 10, sm);
      @include make-spacer('mb', 12, md);
      @include make-spacer('mb', 0, xl);

      display: grid;
      grid-template-columns: 172px 155px;
      column-gap: 14px;
      justify-content: center;

      @include media-breakpoint-up(sm) {
        grid-template-columns: 338px 304px;
        column-gap: 29px;
      }

      @include media-breakpoint-up(sm) {
        grid-template-columns: 338px 304px;
      }

      @include media-breakpoint-up(xxl) {
        grid-template-columns: 443px 400px;
        column-gap: 38px;
      }
    }

    .image {
      border-radius: var(--default-border-radius);
      overflow: hidden;

      &--1 {
        @include make-spacer('mb', 3);
        @include make-spacer('mb', 6, sm);
        @include make-spacer('mb', 9, xl);
        @include make-spacer('mb', 10, xxl);

        @include size(172px, 115px);

        @include media-breakpoint-up(sm) {
          @include size(338px, 226px);
        }

        @include media-breakpoint-up(xxl) {
          @include size(443px, 297px);
        }
      }

      &--2 {
        @include make-spacer('mb', 3);
        @include make-spacer('mb', 6, sm);
        @include make-spacer('mb', 9, xl);
        @include make-spacer('mb', 10, xxl);

        @include size(95px, 127px);

        @include media-breakpoint-up(sm) {
          @include size(187px, 250px);
        }

        @include media-breakpoint-up(xxl) {
          @include size(246px, 327px);
        }
      }

      &--3 {
        @include make-spacer('ml', auto);
        @include make-spacer('mr', 0);
        @include make-spacer('mx', auto, xxl);
        @include size(137px, 91px);

        @include media-breakpoint-up(sm) {
          @include size(268px, 179px);
        }

        @include media-breakpoint-up(xxl) {
          @include size(352px, 234px);
        }
      }

      &--4 {
        @include size(155px, 104px);

        @include media-breakpoint-up(sm) {
          @include size(304px, 204px);
        }

        @include media-breakpoint-up(xxl) {
          @include size(399px, 268px);
        }
      }
    }

    .title {
      @include make-spacer('mb', 8);
      @include make-spacer('mb', 10, sm);
      @include make-spacer('mb', 13, xl);

      @include media-breakpoint-up(xl) {
        max-width: 1150px;
      }

      @include media-breakpoint-up(xxl) {
        max-width: 1220px;
      }
    }

    .text {
      @include make-spacer('mb', 8);
      @include font-size(16px, 24px);

      @include media-breakpoint-up(sm) {
        @include font-size(20px, 30px);
      }
    }

    .link {
      @include make-spacer('mt', 12, xl);
      @include flex($align-items: center);

      color: var(--color-dark);

      &__icon {
        @include make-spacer('mr', 6);
        @include size(40px);

        @include media-breakpoint-up(sm) {
          @include size(69px);
        }
      }

      &__text {
        @include font-size(25px, 40px);

        @include media-breakpoint-up(sm) {
          @include font-size(30px, 40px);
        }

        font-weight: var(--typography-bold);
        text-decoration: underline;
      }

      &:hover {
        color: var(--color-primary);
      }
    }
  }
}
