mixin section-sales
  section.section&attributes(attributes)
    .container-fluid
      .container.container--gradient
        .block
          h2.title.js-item-animation Looks drive more sales than individual pieces
          .grid
            .grid__column
              .layout
                .layout__column
                  .image.image--1.js-item-animation
                    +picture('stylist/sales-1', 'Sales 1')
                  .image.image--3.js-item-animation
                    +picture('stylist/sales-3', 'Sales 3')
                .layout__column
                  .image.image--2.js-item-animation
                    +picture('stylist/sales-2', 'Sales 2')
                  .image.image--4.js-item-animation
                    +picture('stylist/sales-4', 'Sales 4')
            .grid__column
              p.text.js-item-animation Why sell one item when you could be selling several more along the way plus bringing more satisfaction for your shoppers?
              p.text.js-item-animation Stylist AI plugs into your catalogue and creates fashion-grade looks for your shoppers to browse through and purchase.
              a.link.js-item-animation
                span.link__icon
                  svg(viewBox='0 0 69 69' fill='none' xmlns='http://www.w3.org/2000/svg')
                    circle(cx='34.5' cy='34.5' r='33.5' fill='currentColor' stroke='currentColor' stroke-width='2')
                    path(d='M39.3472 35.2071L40.0543 34.5L39.3472 33.7929L32.5873 27.033L30.8802 25.3259L30.8802 27.7401L30.8802 41.2599V43.6741L32.5873 41.967L39.3472 35.2071Z' fill='white' stroke='white' stroke-width='2')
                span.link__text See Demo
