@import "nouislider/dist/nouislider.min.css";

.section {

  &--jobs {

    .grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 30px;

      @include media-breakpoint-up(xl) {
        grid-template-columns: 3fr 9fr;
      }

      &__head {
        @include make-spacer('mb', 6);
        @include flex($justify-content: center, $align-items: center, $wrap: wrap);

        @include media-breakpoint-up(md) {
          justify-content: space-between;
        }

        .headline {
          @include make-spacer('mb', 4);
          @include make-spacer('mb', 0, md);

          width: 100%;
          text-align: center;

          @include media-breakpoint-up(md) {
            width: auto;
            text-align: left;
          }
        }
      }
    }

    .breadcrumbs {
      @include make-spacer('mt', 3);
      @include make-spacer('mb', 6);
    }

    .headline {
      @include make-spacer('mb', 6);
    }

    .wrapper {
      @include make-spacer('mb', 10);
    }

    .sort-button {
      @include make-spacer('mr', 4);

      transition: var(--default-transition);
      color: var(--color-accent);

      &--active {
        transform: rotateZ(180deg);
      }
    }

    .select {
      position: relative;
      flex-shrink: 0;
      z-index: 2;
      min-width: 170px;
    }

    .actions {
      @include make-spacer('ml', auto);
      @include make-spacer('mr', 4);

      @include media-breakpoint-up(md) {
        @include flex($align-items: center);
      }

      display: none;

      &__item {
        @include make-spacer('mx', half);
        @include flex(center, center);
        @include size(18px);

        color: #b7b7b7;

        &--active {
          color: var(--color-accent);
        }
      }
    }

    .slider {

      &__header,
      &__range {
        @include make-spacer('mb', 4);
      }

      &__header {
        display: grid;
        grid-template-columns: 1fr 30px 1fr;
        align-items: center;
        text-align: center;
      }

      &__field {
        @include make-spacer('px', 3);
        @include size(100%, 30px);

        border: 1px solid #e2e2e2;
        border-radius: var(--default-border-radius);
        background-color: var(--color-white);
      }
    }

    .reset {
      @include make-spacer('mt', 6);
      @include font-size(12px);

      display: inline-block;
      color: var(--color-accent);
      text-transform: uppercase;
    }

    .checked {
      @include make-spacer('my', 1);
      @include make-spacer('pl', 5);
      @include flex($align-items: center);

      position: relative;
      cursor: pointer;

      &::before {
        @include flex(center, center);
        @include size(16px);

        position: absolute;
        top: 5px;
        left: 0;
        border-radius: 3px;
        background-color: var(--color-white);
        border: 1px solid #e1e1e1;
        transform: translateY(-2px);
        color: #5049e1;
        text-align: center;
        content: '';
      }

      &__count {
        @include make-spacer('ml', 1);

        color: #a1a1a1;
      }

      &--active {

        &::before {
          @include font-size(10px);

          background-color: var(--color-accent);
          color: var(--color-white);
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          content: '\f00c';
        }
      }

      &:hover {

        .checked {

          &__title {
            color: var(--color-accent);
          }
        }
      }
    }

    .load-more {
      @include make-spacer('mt', 4);
      @include make-spacer('mx', auto);
    }

    .jobs {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 30px;

      &--list {
      }

      &--grid {
        @include media-breakpoint-up(md) {
          grid-template-columns: repeat(2, minmax(100px, 1fr));
        }

        @include media-breakpoint-up(lg) {
          grid-template-columns: repeat(3, minmax(100px, 1fr));
        }

        .card-job {
          flex-wrap: wrap;
          flex-direction: column;

          &__logo {
            @include make-spacer('mb', 2);
            @include size(65px);
          }

          &__content {
            @include flex($direction: column);
          }

          &__name {
            @include make-spacer('mt', 2);

            order: 1;
          }

          &__category {
            @include make-spacer('mt', auto);
            @include make-spacer('mb', 0);

            order: 3;
            line-height: 1.5;

            &:before {
              @include make-spacer('mr', 1);
              @include font-size(14px);

              font-family: 'Font Awesome 5 Free';
              font-weight: 400;
              content: '\f07b';
            }
          }

          &__meta {
            @include make-spacer('mb', 4);

            order: 2;
          }

          &__actions {
            @include make-spacer('mt', 4);

            justify-content: flex-start;
            width: 100%;

            & > * {
              @include make-spacer('ml', 0);
              @include make-spacer('mr', 2);
              @include make-spacer('m', 0, sm);
            }
          }

          &__watched {
            @include make-spacer('ml', auto);
            @include make-spacer('mr', 0);
          }

          &__urgent,
          &__posted,
          &__company {
            position: static;
            left: 110px;
            z-index: 1;

            @include media-breakpoint-up(sm) {
              position: absolute;
            }
          }

          &__company {
            @include make-spacer('m', 0, sm);

            top: 30px;

            &::before {

              @include media-breakpoint-up(sm) {
                display: none;
              }
            }
          }

          &__urgent {
            top: 70px;
          }

          &__posted {
            top: 50px;
            text-align: left;
          }
        }
      }
    }


    .noUi-target {
      background-color: #d3d6e0;
      border: 1px solid #d3d6e0;
      box-shadow: none !important;
      height: 6px;
    }

    .noUi-target .noUi-base .noUi-origin .noUi-handle {
      @include size(20px);

      border-radius: 50%;
      background-color: var(--color-white);
      border: 0;
      top: -8px;
      box-shadow: var(--default-box-shadow);
    }

    .noUi-target .noUi-base .noUi-origin .noUi-handle:before {
      @include size(9px);

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: var(--color-accent)
    }

    .noUi-target .noUi-base .noUi-origin .noUi-handle:after {
      display: none;
    }

    .noUi-target .noUi-base .noUi-origin .noUi-active {
      border-radius: 50%;
    }

    .noUi-target .noUi-connects {
      background-color: #d3d6e0;
    }

    .noUi-target .noUi-connects .noUi-connect {
      background-color: var(--color-accent)
    }
  }
}
