.section {

  &--we-better {

    .status {
      @include make-spacer('ml', auto);
      @include make-spacer('mr', 0);
      @include make-spacer('mb', 8);
      @include size(300px, 33px);

      @include media-breakpoint-up(sm) {
        @include size(400px, 44px);
      }

      @include media-breakpoint-up(md) {
        @include size(500px, 55px);
      }

      @include media-breakpoint-up(xl) {
        @include size(700px, 77px);
      }
    }

    .title {
      @include media-breakpoint-up(xl) {
        max-width: 1100px;
      }

      span {
        @include make-spacer('mr', 2);

        &:nth-child(2) {
          color: var(--color-primary);
        }
      }
    }
  }
}
