.feedback {
  @include make-spacer('px', 5);
  @include make-spacer('py', 8);
  @include make-spacer('px', 12, sm);
  @include make-spacer('py', 14, sm);

  position: relative;
  max-width: 750px;
  box-shadow: var(--default-box-shadow);
  border-radius: var(--default-border-radius);
  background-color: var(--color-white);
  border: 2px solid var(--color-light);
  overflow: hidden;

  &__block {
    @include make-spacer('mb', 3);

    &:last-child {
      @include make-spacer('mb', 0);
      @include make-spacer('mt', 7, sm);
    }
  }

  &__wrapper {
    @include flex(space-between, center);

    &.error {

      .feedback {

        &__count {
          color: var(--color-primary-dark);
        }

        &__icon {
          display: block;
          color: var(--color-primary-dark);
        }
      }
    }
  }

  &__count {
    color: #CDCDCD;
  }

  &__icon {
    display: none;
  }

  &__placeholder {
    @include make-spacer('pl', 24);
    @include make-spacer('pr', 14);

    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: var(--color-white);

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url('../img/gradient-2.webp');
      background-position: 50% 50%;
      background-size: cover;
      opacity: 0.15;
      filter: blur(150px);
      content: ''
    }
  }

  &__button {
    @include size(100%, 46px);

    @include media-breakpoint-up(sm) {
      @include size(100%, 80px);
    }

    .button {

      &__text {
        @include font-size(18px);

        @include media-breakpoint-up(sm) {
          @include font-size(25px);
        }
      }
    }
  }

  &--success {

    .feedback {

      &__placeholder {
        @include flex(center, center);
      }
    }
  }
}
