.section {

  &--hiring-companies {
    background-color: var(--color-white);

    .grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(100px, 1fr));
      grid-gap: 25px;

      @include media-breakpoint-up(sm) {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
      }

      @include media-breakpoint-up(md) {
        grid-template-columns: repeat(4, minmax(100px, 1fr));
      }

      @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(8, minmax(100px, 1fr));
      }
    }

    .company {
      text-align: center;

      &__logo {
        @include make-spacer('p', 5);
        @include make-spacer('mb', 5);
        @include size(100%, auto);

        background-color: #f3f2fc;
        border-radius: var(--default-border-radius);
        transition: var(--default-transition);
        filter: grayscale(1);
      }

      &__title {
        font-weight: var(--typography-semibold);
      }

      &__link {
        @include make-spacer('mt', 1);
        @include font-size(13px);

        color: var(--color-accent);
      }

      &:hover {

        .company {

          &__title {
            color: var(--color-accent);
          }

          &__logo {
            filter: grayscale(0);
            background-color: var(--color-white);
            box-shadow: var(--default-box-shadow);
          }
        }
      }
    }
  }
}
