mixin section-hiring-companies
  section.section&attributes(attributes)
    .container-fluid
      .container
        +headline(
          'Top hiring Companies',
          'Get started with best companies'
        )

        .grid
          each item in companies
            .grid__column
              a(href="#").company
                .company__logo
                  img(src=item.img).img
                p.company__title= item.title
                p.company__link= item.number + ' positions'
