---
title: enestech | IT-holding
lang: en
hasLink: false
isHeaderTransparent: false
---
extends layouts/_layout

block content
  main
    .container
      .section.article-layout
        .section__header
          h3.section__title Oleksandr Usyk and WePlay Esports Create a New Fighting Games League
          p.article-layout__author.u-text-center-sm
            span Nov 20, 2020 !{''}
            span.u-text-bold Kate Litvinova
          .article-layout__image
            +picture('img/article/usyk', 'jpg', 'article-layout__picture')
            a.article-layout__download(href='/')
              +icon('download', 'article-layout__load')
          span.article-layout__credit
            +icon('image', 'article-layout__icon')
            | Image credit
        .article-layout__wrapper
          .article-layout__sidebar
            // add share component
            p.article-layout__menu Share
          .article-layout__conrent
            .u-text-block
              p.u-text-bold Media holding company and esports tournament organiser WePlay Esports has announced it will host a Mortal Kombat tournament in its purpose-built arena in Kyiv.
              h2 Incorporated rules and policies
              p.
                By using the Services, you agree to let Medium collect and use information as detailed in our Privacy Policy.
                If you’re outside the United States, you consent to letting WePlay! transfer, store, and process your information
                (including your personal information and content) in and out of the United States.
              p.
                By using weplay.tv, you agree to follow these Policies. If you don’t, we may suspend or delete your account.
              p.
                We may deny access to functionality for emails at our sole discretion, for example, created using the services of
                generating temporary emails, and whose reliability level is below the maximum permissible according to the
                respective ratings. Should it happen please use email with another domain.

              ol
                li.
                  By using weplay.tv, you agree to follow these Policies. If you don’t, we may suspend or delete your account.
                li.
                  By using weplay.tv, you agree to follow these Policies. If you don’t, we may suspend or delete your account.
                li.
                  By using weplay.tv, you agree to follow these Policies. If you don’t, we may suspend or delete your account.
                li.
                  By using weplay.tv, you agree to follow these Policies. If you don’t, we may suspend or delete your account.


              h2 Miscellaneous
              p.
                By using the Services, you agree to let Medium collect and use information as detailed in our Privacy Policy.
                If you’re outside the United States, you consent to letting WePlay! transfer, store, and process your information
                (including your personal information and content) in and out of the United States.

              h3 Disclaimer of warranty
              p.
                By using the Services, you agree to let Medium collect and use information as detailed in our Privacy Policy.
                If you’re outside the United States, you consent to letting WePlay! transfer, store, and process your information
                (including your personal information and content) in and out of the United States.

              h3 Limitation of Liability
              p.
                By using the Services, you agree to let Medium collect and use information as detailed in our Privacy Policy.
                If you’re outside the United States, you consent to letting WePlay! transfer, store, and process your information
                (including your personal information and content) in and out of the United States.


    .section.section__hr.subscribe-section
      .container
        .section__header
          h2.section__title.h1
            span.accent-background.js-accent-background-animate Subscribe
            | !{' '}to receive cool b2b information about esports

        .subscribe-section__wrapper
          include components/_subscribe-form
