---
title: enestech | IT-holding
lang: en
hasLink: false
isHeaderTransparent: false
---
extends layouts/_layout

block content
  main
    .container
      .section.article-layout
        .article-layout__header
          h1.h1.section__title Oleksandr Usyk and WePlay Esports Create a New Fighting Games League
          .article-layout__info
            include ./components/_article-info
          .article-layout__image
            +picture('img/article/usyk', 'jpg', 'article-layout__picture')
            a.article-layout__download(download='usyk', href='img/article/usyk.jpg')
              +icon('download', 'article-layout__load')
          .article-layout__credit
            include ./components/_image-title
        .article-layout__wrapper
          .article-layout__sidebar
            .article-layout__menu
              +social-links(weplaySocials, 'Share', 'secondary', 'vertical-md')
          .article-layout__conrent
            .article-layout__tags.article-layout__tags--top
              include ./components/_tags
              span.article-layout__time 40 min read

            .u-text-block
              p.u-text-bold Media holding company and esports tournament organiser WePlay Esports has announced it will host a Mortal Kombat tournament in its purpose-built arena in Kyiv.
              h2 Incorporated rules and policies
              p.
                By using the Services, you agree to let Medium collect and use information as detailed in our Privacy Policy.
                If you’re outside the United States, you consent to letting WePlay! transfer, store, and process your information
                (including your personal information and content) in and out of the United States.
              p.
                By using weplay.tv, you agree to follow these Policies. If you don’t, we may suspend or delete your account.
              p.
                We may deny access to functionality for emails at our sole discretion, for example, created using the services of
                generating temporary emails, and whose reliability level is below the maximum permissible according to the
                respective ratings. Should it happen please use email with another domain.

              ol
                li.
                  By using weplay.tv, you agree to follow these Policies. If you don’t, we may suspend or delete your account.
                li.
                  By using weplay.tv, you agree to follow these Policies. If you don’t, we may suspend or delete your account.
                li.
                  By using weplay.tv, you agree to follow these Policies. If you don’t, we may suspend or delete your account.
                li.
                  By using weplay.tv, you agree to follow these Policies. If you don’t, we may suspend or delete your account.

            each quote in articleQuote
              +quote(quote)

            .u-text-block
              h2 Miscellaneous
              p.
                By using the Services, you agree to let Medium collect and use information as detailed in our Privacy Policy.
                If you’re outside the United States, you consent to letting WePlay! transfer, store, and process your information
                (including your personal information and content) in and out of the United States.

              h3 Disclaimer of warranty
              p.
                By using the Services, you agree to let Medium collect and use information as detailed in our Privacy Policy.
                If you’re outside the United States, you consent to letting WePlay! transfer, store, and process your information
                (including your personal information and content) in and out of the United States.

              h3 Limitation of Liability
              p.
                By using the Services, you agree to let Medium collect and use information as detailed in our Privacy Policy.
                If you’re outside the United States, you consent to letting WePlay! transfer, store, and process your information
                (including your personal information and content) in and out of the United States.

            .article-layout__gallery
              +gallerySlider({
                mod: 'article__gallery',
                images: galleryImages
              })
            .article-layout__subtitle
              .article-layout__credit
                include ./components/_image-title
              .article-layout__pagination.js-slider-pagination
                span.js-current-slide
                | !{' '} from !{' '}
                span.js-total-slides


            hr.u-section-hr.u-mb-24.u-mt-48
            .article-layout__tags.article-layout__tags--bottom
              include ./components/_tags
    hr.u-section-hr.u-my-48.u-mb-64-md
    include sections/_suscribe-section

