---
title: enestech | IT-holding
lang: en
hasLink: false
footerRedBorder: true
isHeaderTransparent: false
---
extends layouts/_layout

block content
  main
    .section.u-pb-64-sm.u-pt-96-md
      .container
        include sections/_author
    hr.u-section-hr
    .section.u-pt-64.u-pb-96.u-pt-96-sm
      .container
        .section__header
          h2.h2.section__title.section__title--limited Author articles
        .three-column-grid
          each article in [{name: 'One'}, {name: 'Two'}, {name: 'Three'}]
            +article(article.name)
        include ./components/_return-button
    hr.u-section-hr.u-pb-48.u-pb-64-md
    include sections/_suscribe-section
