---
title: enestech | IT-holding
lang: en
hasLink: false
isHeaderTransparent: true
---
extends layouts/_layout

block content
  main
    //temporary block
    include sections/_hero-section

    .section
      .container
        .section__header
          h3.section__title Latest news
        .blog
          .search
          .blog__grid
            each article in articles
              +article(article.name, 'article--horizontal-md')
