---
title: enestech | IT-holding
lang: en
hasLink: false
isHeaderTransparent: true
---
extends layouts/_layout

block content
  main
    include sections/_blog-hero-section

    hr.section__hr

    .section
      .container
        .section__header
          h3.section__title Latest news
        .blog
          .blog__search
            include components/_search-menu
          .blog__grid
            each article in articles
              +article(article.name, 'article--horizontal-md')

    .section.section__hr.subscribe-section
      .container
        .section__header
          h2.section__title.h1
            span.accent-background.js-accent-background-animate Subscribe
            | !{' '}to receive cool b2b information about esports

        .subscribe-section__wrapper
          include components/_subscribe-form
