---
title: enestech | IT-holding
lang: en
hasLink: false
isHeaderTransparent: true
---
extends layouts/_layout

block content
  main
    include sections/_blog-hero-section

    hr.section__hr

    .section
      .container
        .section__header
          h1.section__title Latest news
        .blog
          .search
          .blog__grid
            each article in articles
              +article(article.name, 'article--horizontal-md')
