---
title: enestech | IT-holding
lang: en
hasLink: false
isHeaderTransparent: true
---
extends layouts/_layout

block content
  main
    include sections/_blog-hero-section

    hr.u-section-hr.u-my-48.u-my-64-md

    .section
      .container
        .section__header
          h3.section__title.section__title--limited Latest news
        .blog.two-columns-layout
          .blog__search
            include components/_search-menu
          .blog__grid
            each article in articles
              +article(article.name, 'article--horizontal-md')

    include sections/_suscribe-section
