---
title: enestech | IT-holding
lang: en
hasLink: false
isHeaderTransparent: true
---
extends layouts/_layout

block content
  main
    include sections/_blog-hero-section

    hr.u-section-hr.u-my-48

    .section
      .container
        .section__header
          h2.h2.section__title.section__title--limited Latest news
        .blog.two-columns-layout
          .blog__search
            include components/_search-menu
          .blog__wrapper
            .blog__articles
              each article in articles
                +article(article.name, 'article--horizontal-md')
            .blog__more
              button.button.button--action.button--md.blog__button
                +icon('load-more')
                | Load more

    hr.u-section-hr.u-my-48.u-my-64-md

    include sections/_suscribe-section
