---
title: enestech | IT-holding
lang: en
hasLink: false
isHeaderTransparent: true
---
extends layouts/_layout

block content
  main
    //temporary block
    include sections/_hero-section

    .section
      .container
        .section__header
          h1.section__title Latest news
        .blog
          .search
          .blog__grid
            each article in articles
              +article(article.name, 'article--horizontal-md')

    .section.section__hr.subscribe
      .container
        .section__header
          h2.section__title.h1
            span.accent-background.js-accent-background-animate Subscribe
            | !{' '}to receive cool b2b information about esports

        .subscribe__wrapper
          include components/_subscribe
