---
title: Portfolio
lang: en
---
extends layouts/_layout

block content
  main
    section.section
      .container-fluid
        .container
          .row
            .col-12.col-md-8.padding-vertical
              +subtitle('Get in touch', false).subtitle--vertical
              +get-in-touch
            .col-12.col-md-4.padding-vertical
              +subtitle('Contact Details', false).subtitle--vertical
              .row
                .col-12.padding-vertical
                  +contact-list

