---
title: Mannequin
lang: en
---
extends layouts/_layout

block content
  +nav(false, false).nav--default#nav
  +header#header
  main
    +section-about.section--about#section-about
    +section-product.section--product#section-product
    +section-feedback.section--feedback#section-feedback
