---
title: Portfolio
lang: en
---
extends layouts/_layout

block content
  main
    section.section
      .container-fluid
        .container
          .row
            .col-12.padding-vertical
              +bet-sport('all sports (29)')
          .row
            .col-12.padding-vertical
              +subtitle('ICE HOCKEY', true).subtitle--vertical
            .col-12.padding-vertical
              +sport-table(6, 1)
            .col-12.padding-vertical
              +subtitle('FOOTBALL', false).subtitle--vertical
            .col-12.padding-vertical
              +sport-table(5, 3)
            .col-12.padding-vertical
              +subtitle('baseball').subtitle--vertical
            .col-12.padding-vertical
              +sport-table(10, 3)
            .col-12.padding-vertical
              +sport-table(1, 3)
