---
title: enestech | IT-holding
lang: en
hasLink: false
isHeaderTransparent: false
---
extends layouts/_layout

block content
  main
    .section.tagged-news-section
      .container
        .tagged-news-section__header
          h1.section__title.h2.section__title--limited 24 Press Releases Tagged to #Esports
        include sections/_tagged-news-section

    hr.u-section-hr.u-my-48.u-my-64-md

    include sections/_subscribe-press-room-section
