---
title: enestech | IT-holding
lang: en
hasLink: false
isHeaderTransparent: false
---
extends layouts/_layout

block content
  main
    +breadcrumbs({
      mod: 'article',
      crumbs: breadcrumbs.pressReleaseArticle,
    })
    .container
      .section.article-layout
        .article-layout__header
          h1.h1.section__title Introducing the Mortal Kombat 11 tournament WePlay Dragon Temple
          .article-layout__date.u-text-center
            span= accreditations[0].date
          .article-layout__image
            +download-picture
          .article-layout__credit
            +imageTitle({mod: '', text: 'Image credit'})
        .article-layout__wrapper.article-layout__wrapper--single
          .article-layout__content
            .article-layout__topic
              a.article-layout__category(href='/category.html') Investment
              span.article-layout__time 40 min read

            .u-text-block
              p.u-text-bold.
                Media holding company and esports tournament organiser WePlay Esports has announced it will
                host a Mortal Kombat tournament in its purpose-built arena in Kyiv.

              h2 Content rights & responsibilities
              p.
                You acknowledge that the Services contain information, software, articles, reviews, content, photographs,
                audio and video clips, graphics, links, logos, trademarks, the “look and feel” of our websites, applications
                and software and other material (collectively, the “Content”) that are protected by copyright, trademark
                and/or other proprietary rights of WEPLAY ESPORTS MEDIA, INC. or third parties. All Content on the Services
                is protected by applicable copyright laws. You agree to comply with all copyright laws and any copyright notices,
                information, or restrictions contained in any Content available on or accessed through the Services.
                Users of the Services may use the Content only for their personal, noncommercial use. Businesses,
                organizations or other legal entities may not become Members, and are not permitted to use the Services
                for any purpose, including but not limited to collecting usernames and/or email addresses of Members by
                electronic or other means for the purpose of sending unsolicited email and unauthorized framing of,
                or linking to, the Services or users on the Services.

              p.
                Except as expressly permitted, you may not (i) modify, publish, transmit, reproduce, create derivative
                works from, distribute, perform, display, adapt, aggregate, sell, transfer or in any way exploit any of
                the Content, code or Material (defined below), in whole or in part, or (ii) use any robot, spider, site
                search and/or retrieval application, or other device to scrape, extract, retrieve or index any portion
                of the Services. Content consisting of downloadable or web-based software may not be reverse engineered
                unless specifically authorized by the owner of the software’s patent and/or copyright. You also agree
                not to circumvent, disable or otherwise interfere with any security related features of the Services or
                the Content, including features that prevent or restrict use or copying, or that enforce limitations on
                use. To the extent that you provide us with any suggestions, feedback or other information relating to
                our business or the Services (including, but not limited to, suggested new products or services or
                improvements to existing products and services), such information is provided to us on a
                non-confidential and unrestricted basis, and you hereby grant to the Licensee a non-exclusive,
                worldwide, perpetual, royalty-free, fully transferable and sublicensable right and license to
                reproduce, display, distribute, use and fully exploit such suggestions, feedback and information.



            each quote in articleQuote
              +quote(quote)

            .u-text-block
              h2 No children
              p.
                WePlay! is only for people 16 years old and over. By using weplay.tv, you affirm that you are over 16.
                If we learn someone under 16 is using weplay.tv, we’ll terminate their account.

            .article-layout__gallery
              +gallerySlider({
                mod: 'article__gallery',
                images: galleryImages
              })
            .article-layout__subtitle
              .article-layout__credit
                +imageTitle({mod: 'js-slide-title'})
              .article-layout__pagination.js-slider-pagination
                span.js-current-slide
                | !{' '} from !{' '}
                span.js-total-slides

            hr.u-section-hr.u-mb-24.u-mt-48
            .article-layout__tags
              include ./components/_tags
              a(href='/' download='polices').article-layout__link.u-mb-0
                | Download release
                +icon('download')
            .article-layout__accreditation
              +accreditation(accreditations[0].name, accreditations[0].img, accreditations[0].date, accreditations[0].city)

            hr.u-section-hr.u-mt-48

    include ./components/_article-pagination

    include ./components/_category-slider

    hr.u-section-hr.u-my-48.u-mb-64-md
    include sections/_subscribe-press-room-section
