---
title: Portfolio
lang: en
---
extends layouts/_layout

block content
  main
    section.section
      .container-fluid
        .container
          .row
            .col-12.padding-vertical
              +banner('$100 BONUS FOR NEW CUSTOMERS ONLY', false)(style="background-image: url('https://livedemo00.template-help.com/wt_prod-19186/images/promotions-01-1170x397.jpg')").banner--lg
            .col-12.col-md-8.padding-vertical
              +banner('WIN MORE WITH THE S-BET EXCHANGE', true)(style="background-image: url('https://livedemo00.template-help.com/wt_prod-19186/images/promotions-02-769x366.jpg')").banner--md
            .col-12.col-md-4.padding-vertical
              +banner('PROFITABLE BETTING', true)(style="background-image: url('https://livedemo00.template-help.com/wt_prod-19186/images/promotions-03-370x366.jpg')").banner--sm
            .col-12.col-md-4.padding-vertical
              +banner('BEST OFFERS FOR NEW CUSTOMERS', true)(style="background-image: url('https://livedemo00.template-help.com/wt_prod-19186/images/promotions-04-370x366.jpg')").banner--sm
            .col-12.col-md-8.padding-vertical
              +banner('RISK-FREE RATE OF UP TO $10 FOR YOUR FIRST BET', true)(style="background-image: url('https://livedemo00.template-help.com/wt_prod-19186/images/promotions-05-768x366.jpg')").banner--md
