---
title: enestech | IT-holding
lang: en
hasLink: false
isHeaderTransparent: false
---
extends layouts/_layout

block content
  main
    .section
      .container
        .section__header
          h2.h2.section__title.section__title--limited Your search returned no results for “wrt”

        .search-empty.two-columns-layout
          .search-empty__menu
            include components/_search-menu
          .search-empty__result
            .search-empty__notification.u-text-block Suggestions:
              ul
                li Make sure all words are spelled correctly
                li Try different keywords
                li Try more general words
            .search-empty__return
              a(href="/").button.button--md.search-empty__button
                +icon('arrow-left', 'search-empty__icon')
                | Back to all news
