---
title: enestech | IT-holding
lang: en
hasLink: false
isHeaderTransparent: false
---
extends layouts/_layout

block content
  main
    .section
      .container
        .section__header
          h1.section__title.section__title--limited 2 results for “A Good Year For Dota 2"

        .search-result.two-columns-layout
          .search-result__menu
            include components/_search-menu
          .search-result__wrapper
            .search-result__articles
              each article in articles
                +article(article.name, 'article--horizontal-md')
            .search-result__return
              a(href="/").button.button--md.search-result__button
                +icon('arrow-left', 'search-result__icon')
                | Back to all news
