---
title: Portfolio
lang: en
---
extends layouts/_layout

block content
  main
    section.section
      .container-fluid
        .container
          .row
            .col-12
              +breadcrumbs
            .col-12.col-lg-8.padding-vertical
              .row
                .col-12.padding-vertical
                  +subtitle('STANDINGS', true).subtitle--vertical
                .col-12.padding-vertical
                  +standings-full.standings--full
            .col-12.col-lg-4.padding-vertical
              .row
                .col-12.padding-vertical
                  +subtitle('LATEST GAMES RESULTS', false).subtitle--vertical
                .col-12.padding-vertical
                  +schedule-smart
                .col-12.padding-vertical
                  +schedule-smart
                .col-12.padding-vertical
                  +schedule-smart
                .col-12.padding-vertical
                  +schedule-smart
