---
title: Portfolio
lang: en
---
extends layouts/_layout

block content
  main
    section.section
      .container-fluid
        .container
          .row
            .col-12.padding-vertical
              +bet-sport('all sports (29)')
          .row
            .col-12.padding-vertical
              +subtitle('INTERNATIONAL', false).subtitle--vertical
            .col-12.col-md-6.padding-vertical
              +statistics
            .col-12.col-md-6.padding-vertical
              +statistics
            .col-12.col-md-6.padding-vertical
              +match-table
            .col-12.col-md-6.padding-vertical
              +match-table
