---
title: Mannequin
lang: en
---
extends layouts/_layout

block content
  -
    var menu = [
      {
        text: 'About',
        link: '#section-we-better'
      },
      {
        text: 'Features',
        link: '#section-features'
      },
      {
        text: 'Use Cases',
        link: '#section-use-cases'
      },
      {
        text: 'Process',
        link: '#section-process'
      },
      {
        text: 'Near Future',
        link: '#section-near-future'
      }
    ]

  +nav(menu, 'synthetics').nav--inner#nav
  main
    +section-header(
      'mannequin sinthetics',
      1,
      [
        'synthetics/header'
      ],
      [
        {
          list: [
            'Mannequin AI is a cutting-edge AI technology',
            'that can create stunning images of photoshoot-grade full body digital people.'
          ]
        },
        {
          list: [
            'The technology is ready (of course we keep working on improving it daily) and can be applied across a number of industries now.'
          ]
        }
      ],
      true,
      'pink'
    ).section--header#section-header
    +section-we-better.section--we-better#section-we-better
    +section-features.section--features#section-features
    +section-use-cases.section--use-cases#section-use-cases
    +section-process.section--process#section-process
    +section-near-future.section--near-future#section-near-future
    +section-request([
      "Ready to try it?",
      "Let's talk."
    ]).section--request#section-feedback
    +modal.js-modal
