mixin section-content
  section.section&attributes(attributes)
    .container-fluid
      .container
        .grid
          .grid__column
            .picture
              img(src="https://rekroot.themes.zone/local/wp-content/uploads/sites/18/2021/12/map-1024x645.webp").img
          .grid__column
            +headline(
              'More than 10,000 companies all over the world are working with us'
            )
            p.text Proin gravida nibh vel velit auctor aliquet. aks Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem.consequat ipsum, nec sagittis sem nibh id elit. Donec vestibulum justo a diam ultricies. pel lentesque.
            p.text Quisque mattis diam vel. Lorem Ipsum has been the industry’s standard dummy text ever sincer they 1500s, when an unknown printer took and galley of type and scrambled. nisi elit consequat ipsum, nec sagittis sem nibh id elit.
