.section {

  &--content {
    background-color: var(--color-white);

    .grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 30px;
      align-items: center;

      @include media-breakpoint-up(md) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .picture {
      @include make-spacer('p', 2);
      @include size(100%, auto);
    }

    .headline,
    .text {
      @include make-spacer('mb', 5);
    }
  }
}
