@import './nav/index';
@import './logo/index';
@import './menu/index';
@import './toggle/index';
@import './dropdown/index';

.header {
  @include make-spacer('pt', 4);
  @include make-spacer('pt', 4, xm);

  min-height: 490px;

  @include media-breakpoint-up(sm) {
    min-height: 576px;
  }

  @include media-breakpoint-up(md) {
    min-height: 840px;
  }

  @include media-breakpoint-up(xl) {
    min-height: 925px;
  }

  .container {

    &::before {
      @include size(1053px, 766px);

      left: -618px;
      top: -740px;

      @include media-breakpoint-up(sm) {
        @include size(1387px, 1008px);

        left: -590px;
        top: -920px;
      }

      @include media-breakpoint-up(md) {
        left: -490px;
      }

      @include media-breakpoint-up(xl) {
        left: -350px;
      }

      @include media-breakpoint-up(xxl) {
        top: -930px;
      }
    }
  }

  .grid {
    @include make-spacer('mt', 6, sm);

    @include media-breakpoint-up(sm) {
      grid-template-columns: 1fr 305px;
    }

    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr 500px;
    }

    @include media-breakpoint-up(xxl) {
      grid-template-columns: 1fr 715px;
    }

    display: grid;
  }

  .wrapper,
  .picture,
  .board {
    position: relative;
    z-index: 1;
  }

  .title {
    white-space: nowrap;

    @include media-breakpoint-up(sm) {
      position: absolute;
      top: 35px;
    }

    @include media-breakpoint-up(md) {
      top: 140px;
    }

    @include media-breakpoint-up(xl) {
      top: 130px;
    }

    span {
      display: block;

      &:first-child {
        color: var(--color-primary);
      }
    }
  }

  .image {
    @include make-spacer('mr', -5);
    @include make-spacer('mr', 0, sm);
    @include make-spacer('mr', auto, xl);

    @include make-spacer('mt', -12);
    @include make-spacer('mt', -6, sm);
    @include make-spacer('mt', 10, md);
    @include make-spacer('mt', 0, xl);

    @include make-spacer('ml', auto);
    @include make-spacer('ml', -15, sm);
    @include make-spacer('ml', 12, md);
    @include make-spacer('ml', -8, xl);

    @include make-spacer('ml', 0, xxl);

    @include size(250px, 392px);

    @include media-breakpoint-up(sm) {
      @include size(380px, 595px);
    }

    @include media-breakpoint-up(md) {
      @include size(500px, 780px);
    }

    @include media-breakpoint-up(xl) {
      @include size(550px, 860px);
    }

    @include media-breakpoint-up(xxl) {
      @include size(600px, 940px);
    }

    overflow: hidden;
  }

  .board {
    @include flex($justify-content: space-between, $direction: column);
    @include size(100px, 155px);

    @include make-spacer('py', 3);
    @include make-spacer('px', 3);
    @include make-spacer('py', 4, sm);
    @include make-spacer('px', 5, sm);

    position: absolute;
    right: 150px;
    bottom: 40px;
    border-radius: 10px;
    background-color: var(--color-alt);
    color: var(--color-white);

    @include media-breakpoint-up(sm) {
      @include size(140px, 215px);

      right: 0;
      bottom: 85px;
      border-radius: 14px;
    }

    @include media-breakpoint-up(md) {
      right: 45px;
      bottom: 160px;
    }

    @include media-breakpoint-up(xxl) {
      right: 220px;
      bottom: 195px;
    }

    &__subtitle,
    &__keyword {
      @include font-size(9px);

      @include media-breakpoint-up(sm) {
        @include font-size(12px);
      }
    }

    &__subtitle {
      @include make-spacer('mt', 1);
      @include make-spacer('mb', auto);
    }

    &__keyword {
      @include make-spacer('pb', 1);

      font-weight: var(--typography-bold);
      line-height: 1.5;
    }
  }

  .circle {
    @include size(655px);

    position: absolute;
    top: 50px;
    right: -190px;

    @include media-breakpoint-up(sm) {
      @include size(755px);

      top: -50px;
    }

    @include media-breakpoint-up(md) {
      @include size(855px);

      top: -40px;
      right: -265px;
    }

    @include media-breakpoint-up(xl) {
      top: -40px;
      right: -165px;
    }

    @include media-breakpoint-up(xxl) {
      @include size(955px);

      top: 0;
      right: -80px;
    }

    &__line {
      @include media-breakpoint-up(xxl) {
        display: block;
      }

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid var(--color-white);
      border-radius: 50%;

      &--sm {
        @include size(calc(100% - 140px));
      }

      &--lg {
        @include size(100%);
      }
    }

    &__icon {
      @include flex(center, center);
      @include size(25px);

      @include media-breakpoint-up(sm) {
        @include size(35px);

        top: 15px;
        left: 250px;
      }

      @include media-breakpoint-up(md) {
        @include size(45px);

        top: 120px;
        left: 270px;
      }

      @include media-breakpoint-up(xl) {
        left: 330px;
      }

      @include media-breakpoint-up(xxl) {
        left: 452.5px;
        top: -25px;
        animation: circle 30s linear infinite;
      }

      position: absolute;
      left: 150px;
      transform-origin: 50% 502.5px;
      z-index: 2;
      transform: rotate(0.1turn);

      svg {
        transform: scale(1.1);
      }
    }
  }
}

@keyframes circle {

  to {
    transform: rotate(1turn);
  }
}
