include nav/_index
include logo/_index
include menu/_index
include toggle/_index
include account/_index

mixin header
  header.header&attributes(attributes)
    .container-fluid
      .container
        .header-content
          h1.header-content__title
            | Work for the best
            br
            strong StartUps
            | in Europe

          p.header-content__text Empowering your future today
            br
            | to help You win tomorrow

          a(href="#").button.button--bordered.header-content__button
            span.button__text Start Looking for Jobs
