mixin subtitle(text, button)
  .subtitle&attributes(attributes)
    h5.h5.subtitle__text= text
    if button
      .subtitle__wrapper
        select.subtitle__select
          option(value="1") Item 1
          option(value="2") Item 2
          option(value="3") Item 3
        +button('live').button--red.subtitle__button
        +button('all news').button--grey.subtitle__button
        +button('upcoming').button--grey.subtitle__button
