mixin section-mobile-app
  section.section&attributes(attributes)
    .container-fluid
      .container
        .grid
          .grid__column
            .picture
              img(src="https://rekroot.themes.zone/classic/wp-content/uploads/sites/14/2021/10/mobilk.webp").img
          .grid__column
            .headline.headline--margin
              h3.headline__title
                | Get a
                span rekroot
                | mobile app
            p.text
              | Find your next job with our new Android and iOS Apps.
              br
              | Easy swipe right to apply, linked in integration.
            .links
              a(href="#").links__item
                img(src="https://rekroot.themes.zone/classic/wp-content/uploads/sites/14/2021/06/apple_button.jpg").img
              a(href="#").links__item
                img(src="https://rekroot.themes.zone/classic/wp-content/uploads/sites/14/2021/06/android_button.jpg").img
