mixin section-integration
  section.section&attributes(attributes)
    .container-fluid
      .container.container--gradient
        .block
          +bullet(2, 'integration').js-item-animation
          h2.title.js-item-animation Integration with your ecommerce store with API and Small JS snippet code
        .grid
          .grid__item.grid__item--lg
            +picture('stylist/integration-1', 'Integration 1').js-item-animation
          .grid__item.grid__item--sm.grid__item--top
            +picture('stylist/integration-2', 'Integration 2').js-item-animation
          .grid__item.grid__item--sm.grid__item--bottom
            +picture('stylist/integration-3', 'Integration 3').js-item-animation
