.sport-table {
  border: 1px solid var(--color-border);

  .row {
    align-items: center;
  }

  &__header {
    @include flex($align-items: center);
    @include size(100%, 44px);

    background-color: #616161;
    padding: 0 15px;
    color: var(--color-white);

    span {
      margin-right: 5px;
    }
  }

  &__body {
    background-color: var(--color-white);
    color: var(--color-secondary);
  }

  &__row {
    border-bottom: 1px solid var(--color-border);
    padding: 5px 10px;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__cell {
    position: relative;

    &--border {
      padding-right: 25px;

      &::after {
        @include size(1px, 38px);

        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(-50%, -50%);
        background-color: var(--color-border);
        content: '';

        @include media-max(map_get($grid-breakpoints, md)) {
          display: none;
        }
      }

      @include media-max(map_get($grid-breakpoints, md)) {
        padding-right: $grid-padding;
      }
    }
  }

  &__wrap {
    @include flex(space-between, center);
  }

  &__table {
    @include flex($align-items: center);
  }

  &__th {
    flex-shrink: 0;
    width: 22px;
    text-align: right;
  }

  &__participant {
    @include line-clamp(1);

    flex-grow: 1;
    margin-right: 5px;
    font-weight: var(--typography-bold);
  }

  &__score {
    font-weight: var(--typography-medium);

    span {
      color: var(--color-primary);
    }
  }

  &__button {
    flex-direction: column;
    padding: 5px;
    text-align: center;
    line-height: 1.4;

    * {
      text-transform: capitalize;
    }
  }

  &__market {
    @include flex(center, center);

    span {
      margin-right: 5px;
      font-size: 16px;
      font-weight: var(--typography-bold);
    }

    @include media-max(map_get($grid-breakpoints, md)) {
      justify-content: flex-start;
    }
  }
}
