.page-404 {
  @include flex(center, center);
  @include make-spacer(pt, 10);

  min-height: calc(100vh - 64px);

  &__title,
  &__subtitle {
    @include make-spacer(mb, 3);
    @include make-spacer(mb, 4, sm);
    @include make-spacer(mb, 6, md);

    text-align: center;
    font-weight: var(--extra-bold);
  }

  &__wrapper {
    @include flex(center, center, column);
  }

  &__title {
    @include font-size(64px);

    @include media-breakpoint-up(md) {
      @include font-size(96px);
    }
  }

  &__subtitle {
    @include font-size(20px, 28px);

    @include media-breakpoint-up(md) {
      @include font-size(32px, 40px);
    }
  }

  &__home {
    width: 100%;

    @include media-breakpoint-up(sm) {
      width: rem(176px);
    }

    @include media-breakpoint-up(md) {
      width: rem(130px);
    }

    @include media-breakpoint-up(lg) {
      width: rem(176px);
    }
  }

  &__button {
    width: 100%;
  }
}
