mixin slider
  .slider&attributes(attributes)
    - var n = 2
    while n < 4
      .slider__slide
        img(src="https://neospor.joomlatema.net/images/sampledata/slider-images/slide-picture-" + n++ +".jpg").slider__img
        .slider__content
          .slider__wrap
            .slider__block
              h1.h1.slider__title EASY
                br
                | BETS
            .slider__block
              h4.h4.slider__subtitle WITH 100% RISK-FREE GUARANTEE
            .slider__block
              +button('Read More').button--secondary
