.slider {
  position: relative;
  overflow: hidden;

  .button {
    @include media-max(map_get($grid-breakpoints, sm)) {
      padding: 2px 5px;
      font-size: 12px;
    }
  }

  &__slide,
  &__img {
    @include size(100%);
  }

  &__title,
  &__subtitle {
    text-transform: uppercase;
    color: var(--color-white);
  }

  &__block {
    @include flex($align-items: center);

    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__slide {
    position: relative;
  }

  &__img {
    display: block;
    object-fit: cover;
    object-position: center center;
  }

  &__content {
    @include flex($align-items: flex-end, $direction: column);

    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    padding-top: 50px;
    width: 100%;
    max-width: var(--max-width);

    @include media-max(map_get($grid-breakpoints, sm)) {
      padding: 30px 0 0 15px;
    }

    @include media-max(map_get($grid-breakpoints, lg)) {
      align-items: flex-start;
      padding-left: 10px;
    }
  }

  &__wrap {
    padding-right: 10px;
    max-width: 350px;
  }

  &--main {

    .slick-arrow {
      @include size(66px, 50px);

      transform-origin: 100% 100%;
      background-color: var(--color-secondary);

      &:hover,
      &--active {
        background-color: var(--color-primary);
      }
    }

    .slick-next {
      right: 0;
      transform: skew(-10deg);
    }

    .slick-prev {
      left: 0;
      transform: skew(10deg);
    }
  }
}
