.author
  +picture('img/author', 'jpg', 'author__image')
  .author__aside
    p.author__title Kate Litvinova
    p.author__name Nickname
    p.author__position News writer
    .author__socials
      +social-links('headless')
  p.author__text Kate Litvinova, aka ppd, is a former professional NA Dota 2 player. He was the former CEO of Evil
    |Geniuses, where he also won The International 2015 as a player-captain, later playing for OpTic Gaming and Ninjas
    |in Pyjamas. Kate Litvinova, aka ppd, is a former professional NA Dota 2 player. He was the former CEO of Evil
    | Geniuses, where he also won The International 2015 as a player-captain, later playing for OpTic Gaming and
    |Ninjas in Pyjamas.
