.blog-hero-section
  .blog-hero-section__bg(style="background-image: url(img/article/usyk@2.jpg)")
  .container
    h1.h1.blog-hero-section__title.u-text-center
      a(href="/").blog-hero-section__text
        |Oleksandr Usyk and WePlay Esports Create a New Fighting Games League

    .blog-hero-section__tags
      include ../components/_tags
