.section.contact-form
  .container
    .section__header
      h2.section__title.h1.section__title--limited Contact us
      p.section__subtitle
        |If you have any questions or queries a member of staff will always be happy to help.
        |Feel free to contact us by telephone or email and we will be sure to get back to you as soon as possible.

    h3.contact-form__title.h3 Drop us a line

    .contact-form__wrapper
      .contact-form__item
        each mail in mails
          .contact-form__block
            h4.contact-form__department.h4= mail.department
            a(href=`mailto:${mail.mail}`).contact-form__link= mail.mail

      .contact-form__item
        .contact-form__form
          include ../components/_form


