div.section
  .container

    h2.section__title.h1
      | We are ready to &nbsp;
      span.accent-background.js-accent-background-animate.active collaborate

    .contact-us
      .contact-us__item
        p.contact-us__title Our offices
        .contact-us__block
          p.contact-us__country USA
          p.contact-us__address 5425 Grosvenor Blvd, Los Angeles, CA 90066, United States

        .contact-us__block
          p.contact-us__country Ukraine
          p.contact-us__address Dniprovska Embankment, 21, Kyiv, 02081

      .contact-us__item
        p.contact-us__title Drop us a line

