.section.contact-form
  .container
    .section__header
      h2.section__title.h1 Contact us
      p.section__subtitle
        |If you have any questions or queries a member of staff will always be happy to help.
        |Feel free to contact us by telephone or email and we will be sure to get back to you as soon as possible.

    h3.contact-form__title.h3 Drop us a line

    .contact-form__wrapper
      .contact-form__item
        each mail in mails
          .contact-form__block
            h4.contact-form__department.h4= mail.department
            a(href=`mailto:${mail.mail}`).contact-form__link.hover-accent= mail.mail

      .contact-form__item
        form.contact-form__form
          .input.has-error.contact-form__row
            input(type="text" placeholder="Name (company)" name="name" class="input__item contact-form__input")
            span.input__alert asdasda
          .input.contact-form__row
            input(type="email" placeholder="E-mail" name="email" class="input__item contact-form__input")
            span.input__alert asdasda
          .input.contact-form__row.contact-form__textarea
            textarea(name="message" placeholder="Message here" class="input__textarea")
            span.input__alert asdasda
          .contact-form__group.checkbox.has-error
            input(type="checkbox" id="checkbox" class="checkbox__item")
            label(for="checkbox" class="checkbox__label")
              span.checkbox__text I agree with Terms of use and Privacy policy
          .contact-form__submit
            input(type="submit" value="Send").button.contact-form__button
          .u-my-24
            include ../components/_notification


