.hero-section
  video(class="hero-section__video" autoplay muted loop poster="img/arena-kiev.jpg")
    source( src='img/video/bg-video.mp4' type='video/mp4')
    source( src='img/video/bg-video.webm' type='video/webm')
  .container.hero-section__content
    h1.h1.hero-section__title
      span.accent-background.js-accent-background-animate.active We are Esports
      br
      | Media Holding
    h4.h4.hero-section__subtitle
      |Esports events, digital solutions
      br
      |& real world infrastructure

    .hero-section__buttons
      a(href="/contact.html", class="button button--primary button--md") Contact us
      a(href="img/video/uncompressed_video.mp4", class="button button--secondary button--md js-modal-video")
        +icon('play')
        | Watch video

    .hero-section__socials
      +social-links(weplaySocials, 'Follow us on', 'white')

    a(href="#second-section").hero-section__anchor.anchor Learn more
      +icon('arrow-down', 'icon')
