.hero-section(style="background-image: url('img/hero-bg.jpg');")
  .container
    h1.h1.hero-section__title
      span.accent-background.js-accent-background-animate.active We are Esports
      br
      | Media Holding
    h4.h4.hero-section__subtitle
      |Esports events, digital solutions
      br
      |& real world infrastructure

    .hero-section__buttons
      a(href="#contact-us", class="button button--primary button--md") Contact us
      a(href="/", class="button button--secondary button--md")
        +icon('play')
        | Watch video

    .hero-section__socials
      +social-links('white')

    a(href="#second-section").hero-section__anchor.anchor Learn more
      +icon('arrow-down', 'icon')
