.section.membership
  .container
    .section__header
      h2.section__title.h1 Membership
      p.section__subtitle We are proud to be members of

    .membership__grid
      .u-text-center
        .membership__wrapper
          picture
            source(srcset="img/member.webp, img/member@2x.webp 2x" type="image/webp")
            source(srcset="img/member.png img/member@2x.png 2x" type="image/jpeg")
            img.membership__image(src="img/member.png" alt="member")
        .membership__title Esports Integrity commission
      .u-text-center
        .membership__wrapper
          picture
            source(srcset="img/member.webp, img/member@2x.webp 2x" type="image/webp")
            source(srcset="img/member.png img/member@2x.png 2x" type="image/jpeg")
            img.membership__image(src="img/member.png" alt="member")
        .membership__title Esports Integrity commission
      .u-text-center
        .membership__wrapper
          picture
            source(srcset="img/member.webp, img/member@2x.webp 2x" type="image/webp")
            source(srcset="img/member.png img/member@2x.png 2x" type="image/jpeg")
            img.membership__image(src="img/member.png" alt="member")
        .membership__title Esports Integrity commission
