.section.offer
  .container
    .section__header
      h2.section__title.h1 What we
        span.accent-background.section__word.js-accent-background-animate   offer
      p.section__subtitle We provide a wide range of opportunities for cooperation from selling media rights for our
        | broadcasts to organizing eSports tournaments in our arenas in Europe and the USA.

    include ../components/_accordion
    include ../components/_brands
