.page-404
  .container
    .page-404__title.u-text-center 404
    .page-404__subtitle.u-text-center The page you’re looking for does not exist
    .u-text-center
      a(href="index.html", class="button button--action button--md page-404__button") Go to home
