.page-404.u-text-center
  .container
    h1.page-404__title 404
    .page-404__subtitle The page you’re looking for does not exist
    a(href="index.html", class="button button--action button--md page-404__button") Go to home
