.hero-section-block
  .hero-section-block__background
    +picture('img/article/usyk', 'jpg', 'hero-section-block__image')
  .container
    h1.h1.hero-section-block__title.u-text-center
      a(href="/").hero-section-block__link
        |Oleksandr Usyk and WePlay Esports Create a New Fighting Games League

    .hero-section-block__tags
      include ../components/_tags
