.hero-section-block
  .hero-section-block__background
    +picture('img/dragon-temple', 'jpg', 'hero-section-block__image')
  .container
    h1.h1.hero-section-block__title.u-text-center
      a(href="/").hero-section-block__link
        |Introducing the Mortal Kombat 11 tournament WePlay Dragon Temple

    .hero-section-block__tags
      include ../components/_tags
