.section
  .container
    .section__header
      h2.section__title.h2.section__title--limited Related articles

    .three-column-grid
      - var n = 0;
      while n < 6
        +article(articles[n].name)
        - n++;
