.section.subscribe-section
  .container
    .section__header
      h2.section__title.h2.section__title--limited
        span.accent-background.js-accent-background-animate Subscribe
        | !{' '}to press room updates

    .subscribe-section__wrapper
      include ../components/_subscribe-form
