.section.tagged-news-section
  .container
    .tagged-news-section__header
      h1.section__title.h2.section__title--limited 24 News Tagged to #Esports
    .three-column-grid
      each article in articles
        +article(article.name)
    .buttons-section
      button.button.buttons-section__item.button--action
        +icon('load-more')
        | Load more
      a.button.buttons-section__item.button--md(href="#")
        +icon('arrow-left')
        | Back to all news

