.three-column-grid
  each article in articles
    +article(article.name)
.buttons-section
  button.button.button--fluid.button--action
    +icon('load-more', 'button__icon')
    | Load more
  a.button.button--fluid.button--md(href="#")
    +icon('arrow-left', 'button__icon')
    | Back to all news

