div
  .u-text-block
    p.
      These Terms of Service (“Terms”) are a contract between you and WEPLAY ESPORTS MEDIA, INC.
      They govern your use of our sites, services, mobile apps, products, and content (“Services”).
    p
      | By visiting !{' '}
      a(href="https://weplay.tv" target='_blank' rel='noreferrer noopener') weplay.tv
      | , you agree to these Terms. If you don’t agree to any of the Terms,
      | you can’t use the services.

  .u-text-block#hash-one.js-scroll-spy-section
    h2 Content rights & responsibilities
    p.
      You acknowledge that the Services contain information, software, articles, reviews, content, photographs, audio and
      video clips, graphics, links, logos, trademarks, the “look and feel” of our websites, applications and software
      and other material (collectively, the “Content”) that are protected by copyright, trademark and/or other
      proprietary rights of WEPLAY ESPORTS MEDIA, INC. or third parties. All Content on the Services is protected by
      applicable copyright laws. You agree to comply with all copyright laws and any copyright notices, information,
      or restrictions contained in any Content available on or accessed through the Services. Users of the Services
      may use the Content only for their personal, noncommercial use. Businesses, organizations or other legal
      entities may not become Members, and are not permitted to use the Services for any purpose, including but not
      limited to collecting usernames and/or email addresses of Members by electronic or other means for the purpose of
      sending unsolicited email and unauthorized framing of, or linking to, the Services or users on the Services.
    br
    p.
      Except as expressly permitted, you may not (i) modify, publish, transmit, reproduce, create derivative works from,
      distribute, perform, display, adapt, aggregate, sell, transfer or in any way exploit any of the Content, code or
      Material (defined below), in whole or in part, or (ii) use any robot, spider, site search and/or retrieval
      application, or other device to scrape, extract, retrieve or index any portion of the Services. Content consisting
      of downloadable or web-based software may not be reverse engineered unless specifically authorized by the owner of
      the software’s patent and/or copyright. You also agree not to circumvent, disable or otherwise interfere with any
      security related features of the Services or the Content, including features that prevent or restrict use or
      copying, or that enforce limitations on use. To the extent that you provide us with any suggestions, feedback
      or other information relating to our business or the Services (including, but not limited to, suggested new
      products or services or improvements to existing products and services), such information is provided to us on a
      non-confidential and unrestricted basis, and you hereby grant to the Licensee a non-exclusive, worldwide, perpetual,
      royalty-free, fully transferable and sublicensable right and license to reproduce, display, distribute, use and
      fully exploit such suggestions, feedback and information.

    h2 No children
    p.
      WePlay! is only for people 16 years old and over. By using weplay.tv, you affirm that you are over 16. If we learn
      someone under 16 is using weplay.tv, we’ll terminate their account.

  .u-text-block#hash-two.js-scroll-spy-section
    h2 Incorporated rules and policies
    p.
      By using the Services, you agree to let Medium collect and use information as detailed in our Privacy Policy.
      If you’re outside the United States, you consent to letting WePlay! transfer, store, and process your information
      (including your personal information and content) in and out of the United States.
    p.
      By using weplay.tv, you agree to follow these Policies. If you don’t, we may suspend or delete your account.
    p.
      We may deny access to functionality for emails at our sole discretion, for example, created using the services of
      generating temporary emails, and whose reliability level is below the maximum permissible according to the
      respective ratings. Should it happen please use email with another domain.

    ol
      li.
        By using weplay.tv, you agree to follow these Policies. If you don’t, we may suspend or delete your account.
      li.
        By using weplay.tv, you agree to follow these Policies. If you don’t, we may suspend or delete your account.
      li.
        By using weplay.tv, you agree to follow these Policies. If you don’t, we may suspend or delete your account.
      li.
        By using weplay.tv, you agree to follow these Policies. If you don’t, we may suspend or delete your account.


    h2 Miscellaneous
    p.
      By using the Services, you agree to let Medium collect and use information as detailed in our Privacy Policy.
      If you’re outside the United States, you consent to letting WePlay! transfer, store, and process your information
      (including your personal information and content) in and out of the United States.

    h3 Disclaimer of warranty
    p.
      By using the Services, you agree to let Medium collect and use information as detailed in our Privacy Policy.
      If you’re outside the United States, you consent to letting WePlay! transfer, store, and process your information
      (including your personal information and content) in and out of the United States.

    h3 Limitation of Liability
    p.
      By using the Services, you agree to let Medium collect and use information as detailed in our Privacy Policy.
      If you’re outside the United States, you consent to letting WePlay! transfer, store, and process your information
      (including your personal information and content) in and out of the United States.

    h3 Severability
    p.
      By using the Services, you agree to let Medium collect and use information as detailed in our Privacy Policy.
      If you’re outside the United States, you consent to letting WePlay! transfer, store, and process your information
      (including your personal information and content) in and out of the United States.

    ul
      li.
        By using weplay.tv, you agree to follow these Policies. If you don’t, we may suspend or delete your account.
      li.
        By using weplay.tv, you agree to follow these Policies. If you don’t, we may suspend or delete your account.
      li.
        By using weplay.tv, you agree to follow these Policies. If you don’t, we may suspend or delete your account.

  .u-text-block#hash-three.js-scroll-spy-section
    h2 Incorporated rules and policies
    p.
      By using the Services, you agree to let Medium collect and use information as detailed in our Privacy Policy.
      If you’re outside the United States, you consent to letting WePlay! transfer, store, and process your information
      (including your personal information and content) in and out of the United States.
    p.
      By using weplay.tv, you agree to follow these Policies. If you don’t, we may suspend or delete your account.
    p.
      We may deny access to functionality for emails at our sole discretion, for example, created using the services of
      generating temporary emails, and whose reliability level is below the maximum permissible according to the
      respective ratings. Should it happen please use email with another domain.

    ol
      li.
        By using weplay.tv, you agree to follow these Policies. If you don’t, we may suspend or delete your account.
      li.
        By using weplay.tv, you agree to follow these Policies. If you don’t, we may suspend or delete your account.
      li.
        By using weplay.tv, you agree to follow these Policies. If you don’t, we may suspend or delete your account.
      li.
        By using weplay.tv, you agree to follow these Policies. If you don’t, we may suspend or delete your account.


    h2 Miscellaneous
    p.
      By using the Services, you agree to let Medium collect and use information as detailed in our Privacy Policy.
      If you’re outside the United States, you consent to letting WePlay! transfer, store, and process your information
      (including your personal information and content) in and out of the United States.

    h3 Disclaimer of warranty
    p.
      By using the Services, you agree to let Medium collect and use information as detailed in our Privacy Policy.
      If you’re outside the United States, you consent to letting WePlay! transfer, store, and process your information
      (including your personal information and content) in and out of the United States.

    h3 Limitation of Liability
    p.
      By using the Services, you agree to let Medium collect and use information as detailed in our Privacy Policy.
      If you’re outside the United States, you consent to letting WePlay! transfer, store, and process your information
      (including your personal information and content) in and out of the United States.

    h3 Severability
    p.
      By using the Services, you agree to let Medium collect and use information as detailed in our Privacy Policy.
      If you’re outside the United States, you consent to letting WePlay! transfer, store, and process your information
      (including your personal information and content) in and out of the United States.

    ul
      li.
        By using weplay.tv, you agree to follow these Policies. If you don’t, we may suspend or delete your account.
      li.
        By using weplay.tv, you agree to follow these Policies. If you don’t, we may suspend or delete your account.
      li.
        By using weplay.tv, you agree to follow these Policies. If you don’t, we may suspend or delete your account.
