div.section
  .container
    .section__header
      h2.section__title.h1 WePlay
        span.accent-background.section__word.js-accent-background-animate TOPs
      p.section__subtitle More than 400 highly skilled experts are involved in WePlay Esports holding business
        | areas and projects. The holding focuses on competencies that apply to all business units.

    .tops
      ul.tops__list
        each item in weplayTops
          li.tops__item
            .image-animation.js-image-animation
              img.image-animation__wrapper(src=item.image class="tops__image")
            .tops__profile
              p.tops__title= item.name
              p.tops__title= item.lastName
              p.tops__subtitle= item.position
