include ./header/_index
include ./footer/_index

include ./default/section-request/_index
include ./default/section-header/_index

include ./home/section-about/_index
include ./home/section-product/_index
include ./home/section-feedback/_index

include ./stylist/section-sales/_index
include ./stylist/section-benefits/_index
include ./stylist/section-integration/_index
include ./stylist/section-plan/_index

include ./synthetics/section-we-better/_index
include ./synthetics/section-features/_index
include ./synthetics/section-process/_index
include ./synthetics/section-use-cases/_index
include ./synthetics/section-near-future/_index
