mixin section-smart-solution
  section.section&attributes(attributes)
    .container-fluid
      .container
        .grid
          .grid__column
          .grid__column
            +headline(
              'Smart solution for starting your career'
            ).headline--margin
            p.text Proin gravida nibh vel velit auctor aliquet. aks Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem.consequat ipsum, nec sagittis sem nibh id elit.Donec vestibulum justo a diam ultricies.
            p.text Quisque mattis diam vel. Lorem Ipsum has been the industry’s standard dummy text ever sincer they 1500s, when an unknown printer took and galley of type and scrambled.
            +list([
              'Aenean sollicitudin, quis bibendum',
              'Aenean, lorem quis bibendum auctor',
              'Aenean sollicitudin, quis auctor'
            ]).list--alt-circle
