mixin footer-info
  .footer-info
    .footer-info__logo
      a(href="/" class="footer-info__logo-link")
        img(src="/img/logo.svg" alt="Enestech" class="footer-info__logo-image")

    .footer-info__description Компьютерный клуб – это не только удобные кресла, игровые консоли, новые мышки и бар с закусками. Это, прежде всего, весьма специфический вид бизнеса. Компьютерный клуб – это не только удобные кресла, игровые консоли, новые мышки и бар с закусками. Это, прежде всего, весьма специфический вид бизнесаКомпьютерный клуб – это не только удобные кресла, игровые консоли, новые мышки и бар с закусками. Это, прежде всего, весьма специфический вид бизнесаКомпьютерный клуб – это не только удобные кресла, игровые консоли, новые мышки и бар с закусками. Это, прежде всего, весьма специфический вид бизнесаКомпьютерный клуб – это не только удобные кресла, игровые консоли, новые мышки и бар с закусками. Это, прежде всего, весьма специфический вид бизнеса. Свернуть
    button(class="footer-info__more" type="button") Ещё

