include ./post/_index
include ./post-odd/_index
include ./post-share/_index
include ./post-smart/_index
include ./social/_index
include ./newsletter/_index
include ./schedule-smart/_index
include ./sport-table/_index
include ./schedule/_index
include ./bet-sport/_index
include ./login/_index
include ./betslip/_index
include ./get-in-touch/_index
include ./contact-block/_index
include ./contact-list/_index
include ./banner/_index
include ./statistics/_index
include ./progress/_index
include ./match-table/_index
include ./result-table/_index
include ./highlights/_index
include ./roster/_index
include ./standings/_index
