.search-result {
  position: relative;

  &__wrapper {
    @include make-spacer(pb, 12, md);
  }

  &__articles {
    display: grid;
    grid-gap: rem(32px);

    @include media-breakpoint-up(sm) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: rem(24px);
    }

    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr;
      grid-row-gap: rem(48px);
    }
  }

  &__return {
    @include make-spacer(mt, 6);

    text-align: center;
  }

  &__button {
    width: 100%;

    @include media-breakpoint-up(sm) {
      width: initial;
    }
  }
}
