.page-403 {
  @include flex(center, center);

  min-height: calc(100vh - var(--header-height));

  .container {
    margin-top: calc(#{var(--header-height)} * -1);
  }

  &__title,
  &__subtitle {
    font-weight: var(--extra-bold);
  }

  &__title {
    @include font-size(64px);
    @include make-spacer(mb, 3);
    @include make-spacer(mb, 4, sm);
    @include make-spacer(mb, 6, md);

    @include media-breakpoint-up(md) {
      @include font-size(96px);
    }
  }

  &__subtitle {
    @include font-size(20px, 28px);

    @include media-breakpoint-up(md) {
      @include font-size(32px, 40px);
    }
  }
}
