.card-job {
  @include size(100%);
  @include make-spacer('p', 6);
  @include flex;

  background-color: var(--color-white);
  box-shadow: var(--default-box-shadow);
  border-radius: var(--default-border-radius);

  &__logo {
    @include make-spacer('mr', 4);
    @include make-spacer('p', 3);
    @include size(80px);

    display: none;
    background-color: #f8f8f8;
    flex-shrink: 0;

    @include media-breakpoint-up(sm) {
      display: block;
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__category {
    @include font-size(12px);

    color: var(--color-accent);
    text-transform: uppercase;
  }

  &__name {
    @include make-spacer('mt', 2);
    @include make-spacer('mb', 1);
    @include font-size(18px);

    display: block;
    font-weight: var(--typography-semibold);

    &:hover {
      color: var(--color-accent);
    }
  }

  &__meta {
    @include make-spacer('ml', -1);
    @include flex($align-items: center, $wrap: wrap);
  }

  &__time,
  &__location,
  &__company {
    @include make-spacer('mr', 2);
    @include make-spacer('mt', 2);
    @include font-size(14px);

    text-align: left;
    color: #6f6f6f;

    &::before {
      @include make-spacer('mr', half);

      display: inline-block;
      width: 20px;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      text-align: center;
    }
  }

  &__time {

    &::before {
      content: '\f017';
    }
  }

  &__location {

    &::before {
      content: '\f3c5';
    }
  }

  &__company {

    &::before {
      content: '\f1ad';
    }
  }
}
