// Colors

.u-color-white {
  color: #fff;
}

// Text Align

.u-text-center {
  text-align: center;

  &-sm {
    @include media-breakpoint-up(sm) {
      text-align: center;
    }
  }
}

.u-text-left {
  text-align: left;
}

// Font Weight

.u-text-bold {
  font-weight: var(--bold);
}

.u-text-light {
  font-weight: var(--light);
}

.u-text-block {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }

  h1 {
    @include make-spacer(mb, 8);
  }

  h2 {
    @include make-spacer(mt, 6);
    @include make-spacer(mb, 4);
    @include font-size(32px, 40px);
  }

  h3 {
    @include make-spacer(mt, 4);
    @include make-spacer(mb, 3);
    @include font-size(24px, 32px);
  }

  p {
    @include make-spacer(mb, 3);
    @include font-size(16px, 28px);
  }

  a {
    @include accent-background;

    color: inherit;

    &:hover {
      @include media-breakpoint-up(lg) {
        background-size: 100%  100%;
        text-decoration: none;
      }
    }
  }

  ol,
  ul {
    @include reset-list;
    @include make-spacer(pl, 5);
  }

  ol {
    @include make-spacer(my, 4);

    counter-reset: list 0;

    li {

      &::before {
        position: absolute;
        left: rem(-8px);
        transform: translateX(-100%);
        content: counter(list, decimal-leading-zero) ' ';
        counter-increment: list;
      }
    }
  }

  ul {
    @include make-spacer(mt, 4);

    li {

      &::before {
        @include size(rem(6px));

        position: absolute;
        top: rem(9px);
        left: rem(-23px);
        border-radius: 50%;
        background-color: var(--black);
        content: '';
      }
    }
  }

  li {
    @include make-spacer(mb, 2);

    position: relative;

    &:last-child {
      @include make-spacer(mb, 0);
    }
  }
}

.u-section-hr {
  @include make-spacer(my, 6);
  @include make-spacer(my, 8, md);

  border-top: 1px solid var(--grey-200);
  border-bottom: 0;
}
