mixin section-header
  section.section&attributes(attributes)
    .container-fluid
      .container
        .grid
          .grid__column
            h1.title
              | Get your new
              br
              span dream job
              | today
            p.subtitle 25.478 Offers Worldwide
            +search-jobs
            p.text Don’t know where to start?
            .keys
              each item in keys
                .keys__item
                  a.button.button--secondary.button--sm
                    span.button__text= item
          .grid__column
            .picture
              img(src="https://rekroot.themes.zone/classic/wp-content/uploads/sites/14/2021/07/home_1_face.png").img
