mixin section-latest-listings
  section.section&attributes(attributes)
    .container-fluid
      .container
        +headline(
          'Latest Listings',
          'Get started with best jobs'
        )

        .grid
          each item in jobs
            .grid__column
              +card-job(item, true).card-job--sm
