// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 48em, // 768px
  md: 64em, // 1024px
  lg: 80em, // 1280px
  xl: 90em, // 1440px
  xxl: 120em, // 1920px
) !default;
