@font-face {
  font-family: WePlayType;
  src: url('../../../fonts/WePlayTypeTextLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: WePlayType;
  src: url('../../../fonts/WePlayTypeTextRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: WePlayType;
  src: url('../../../fonts/WePlayTypeTextBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: WePlayType;
  src: url('../../../fonts/WePlayTypeTextExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
