@import '../helpers/index';
@import 'fonts';

//
// Fonts
//

$regular-font: 'Roboto';
$heading-font: 'Raleway';
$fallback-fonts-list: ('Helvetica', 'Arial', sans-serif);
$regular-fonts-list: prepend($fallback-fonts-list, $regular-font);
$heading-fonts-list: prepend($fallback-fonts-list, $heading-font);

//
// Font Weight
//

$fw-light: 300;
$fw-base: 400;
$fw-headings: 700;

//
// Line Height
//

$lh-base: 1.5;
$lh-headings: 1.2;

//
// Font size
//

$fs-base: 16px !default;
$fs-p: $fs-base;
$fs-small: 12px;

//
// Headings
//

$fs-h1: rem(72px);
$fs-h2: rem(60px);
$fs-h3: rem(48px);
$fs-h4: rem(40px);
$fs-h5: rem(32px);
$fs-h6: rem(28px);

$tag-types: (
  'h1': (
    null: ($fs-h6),
    sm: ($fs-h4),
    md: ($fs-h4),
    lg: ($fs-h3),
    xl: ($fs-h3),
    xxl: ($fs-h1)
  ),
  'h2': (
    null: ($fs-h6),
    sm: ($fs-h5),
    md: ($fs-h5),
    lg: ($fs-h4),
    xl: ($fs-h4),
    xxl: ($fs-h2)
  ),
  'h3': (
    null: (rem(24px)),
    sm: ($fs-h5),
    md: ($fs-h5),
    lg: ($fs-h4),
    xl: ($fs-h4),
    xxl: ($fs-h3)
  ),
  'h4': (
    null: ($fs-h6),
    sm: ($fs-h5),
    md: ($fs-h5),
    lg: ($fs-h5),
    xl: ($fs-h5),
    xxl: ($fs-h4)
  ),
  'h5': (
    null: ($fs-h6),
    sm: ($fs-h6),
    md: ($fs-h5),
    lg: ($fs-h5),
    xl: ($fs-h5),
    xxl: ($fs-h5)
  ),
  'h6': (
    null: ($fs-h6),
    sm: ($fs-h6),
    md: ($fs-h6),
    lg: ($fs-h6),
    xl: ($fs-h6),
    xxl: ($fs-h6)
  ),
  'p': (
    null: (rem(14px), 400, 1.43),
    sm: (rem(16px), 400, 1.5),
    md: (rem(16px), 400, 1.5),
    lg: (rem(16px), 400, 1.5),
    xl: (rem(16px), 400, 1.5),
    xxl: (rem(20px), 400, 1.6)
  ),
  '.h1': (
    null: ($fs-h6),
    sm: ($fs-h4),
    md: ($fs-h4),
    lg: ($fs-h3),
    xl: ($fs-h3),
    xxl: ($fs-h1)
  ),
  '.h2': (
    null: ($fs-h6),
    sm: ($fs-h5),
    md: ($fs-h5),
    lg: ($fs-h4),
    xl: ($fs-h4),
    xxl: ($fs-h2)
  ),
  '.h3': (
    null: (rem(24px)),
    sm: ($fs-h5),
    md: ($fs-h5),
    lg: ($fs-h4),
    xl: ($fs-h4),
    xxl: ($fs-h3)
  ),
  '.h4': (
    null: ($fs-h6),
    sm: ($fs-h5),
    md: ($fs-h5),
    lg: ($fs-h5),
    xl: ($fs-h5),
    xxl: ($fs-h4)
  ),
  '.h5': (
    null: ($fs-h6),
    sm: ($fs-h6),
    md: ($fs-h5),
    lg: ($fs-h5),
    xl: ($fs-h5),
    xxl: ($fs-h5)
  ),
  '.h6': (
    null: ($fs-h6),
    sm: ($fs-h6),
    md: ($fs-h6),
    lg: ($fs-h6),
    xl: ($fs-h6),
    xxl: ($fs-h6)
  )
);
