@import '../helpers/index';
@import 'fonts';

//
// Fonts
//

$regular-font: 'WePlayType';
$fallback-fonts-list: ('Arial', sans-serif);
$regular-fonts-list: prepend($fallback-fonts-list, $regular-font);

//
// Font Weight
//

$fw-light: 300;
$fw-base: 400;
$fw-bold: 700;
$fw-headings: 800;

//
// Line Height
//

$lh-base: 1.5;
$lh-headings: 1.2;

//
// Font size
//

$fs-base: 16px !default;
$fs-p: $fs-base;
$fs-small: 12px;

//
// Headings
//

$fs-h1: rem(64px);
$fs-h2: rem(64px);
$fs-h3: rem(48px);
$fs-h4: rem(40px);
$fs-h5: rem(32px);
$fs-h6: rem(24px);

$tag-types: (
  'h1': (
    null: ($fs-h5),
    sm: ($fs-h3),
    md: ($fs-h1),
    lg: ($fs-h1),
  ),
  'h2': (
    null: ($fs-h5),
    sm: ($fs-h5),
    md: ($fs-h5),
    lg: ($fs-h2),
  ),
  'h3': (
    null: ($fs-h6),
    sm: ($fs-h5),
    md: ($fs-h5),
    lg: ($fs-h3)
  ),
  'h4': (
    null: ($fs-h6),
    sm: ($fs-h5),
    md: ($fs-h5),
    lg: ($fs-h4),
  ),
  'h5': (
    null: ($fs-h6),
    sm: ($fs-h6),
    md: ($fs-h5),
    lg: ($fs-h5)
  ),
  'h6': (
    null: ($fs-h6),
    sm: ($fs-h6),
    md: ($fs-h6),
    lg: ($fs-h6),
  ),
  'p': (
    null: (rem(16px), 400, 1.5),
    sm: (rem(16px), 400, 1.5),
    md: (rem(16px), 400, 1.5),
    lg: (rem(16px), 400, 1.5),
    xl: (rem(16px), 400, 1.5)
  ),
  '.h1': (
    null: ($fs-h5),
    sm: ($fs-h3),
    md: ($fs-h1),
    lg: ($fs-h1),
  ),
  '.h2': (
    null: ($fs-h5),
    sm: ($fs-h5),
    md: ($fs-h2),
    lg: ($fs-h2),
  ),
  '.h3': (
    null: ($fs-h6),
    sm: ($fs-h5),
    md: ($fs-h3),
    lg: ($fs-h3),
  ),
  '.h4': (
    null: ($fs-h6),
    sm: ($fs-h5),
    md: ($fs-h4),
    lg: ($fs-h4),
  ),
  '.h5': (
    null: ($fs-h6),
    sm: ($fs-h6),
    md: ($fs-h5),
    lg: ($fs-h5),
  ),
  '.h6': (
    null: ($fs-h6),
    sm: ($fs-h6),
    md: ($fs-h6),
    lg: ($fs-h6),
  )
);
