*,
::after,
::before {
  box-sizing: border-box;
}

body {
  @include smooth-font;

  background-color: #F4F4F4;
  min-width: var(--min-width);
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: var(--line-height);
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--typography-regular);
}

button {
  @include reset-button;
}

a {
  @include transition(color);

  cursor: pointer;
  color: var(--color-text);
  text-decoration: none;
}

p {
  @include make-spacer(m, 0);
  @include make-spacer(p, 0);
}

.picture,
.svg,
.img {
  @include size(100%);

  display: block;
  object-fit: contain;
  object-position: center;
}

.content {
  padding-top: var(--navigation-height);
  position: relative;
  overflow: hidden;
}

.section {
  @include make-spacer('mb', 20);
  @include make-spacer('mb', 24, md);
  @include make-spacer('mb', 26, xl);
  @include make-spacer('mb', 30, xxl);

  position: relative;
}

.container-fluid {
  @include make-spacer('px', 3, 'xs');
  @include make-spacer('px', 5, 'md');
  @include make-spacer('px', 18, 'xl');
  @include make-spacer('px', 20, 'xxl');
  @include make-spacer('mx', auto);

  width: 100%;
}

.container {
  @include make-spacer('mx', auto);

  position: relative;
  min-width: var(--min-width);
  max-width: var(--max-width);
  width: 100%;

  &--gradient {

      &::before {
        position: absolute;
        background-image: url('../img/gradient-2.webp');
        background-size: cover;
        background-position: 50% 50%;
        filter: blur(150px);
        opacity: 0.15;
        content: '';
      }
  }

  &--gradient-alt {

    &::after,
    &::before {
      position: absolute;
      background-image: url('../img/gradient-2.webp');
      background-size: cover;
      background-position: 50% 50%;
      filter: blur(150px);
      opacity: 0.15;
      content: '';
    }
  }
}
