*,
::after,
::before {
  box-sizing: border-box;
}

body {
  @include smooth-font;

  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--grey-100);
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: var(--line-height);
  color: var(--black);
  font-family: var(--font-family);
  font-weight: var(--regular);
  font-feature-settings: 'pnum' on, 'lnum' on;

  &.is-overflow-hidden { // stylelint-disable-line
    overflow: hidden;
  }
}

//
// Headings
//

@include make-all-type($tag-types);

@for $i from 1 through 6 {

  h#{$i},
  .h#{$i} {
    @include make-spacer(m, 0);

    font-weight: var(--extra-bold);
  }
}

p {
  @include make-spacer(m, 0);
}

button {
  @include reset-button;
}

a {
  text-decoration: underline;
  color: var(--accent);
  font-size: var(--font-size);
}

ul {
  @include reset-list;
}
