@include font-face($heading-font, $heading-fonts);
@include font-face($regular-font, $regular-fonts);

* {
  box-sizing: border-box;
}

body {
  @include smooth-font;
  @include make-spacer(mx, auto);
  @include make-spacer(my, 0);
  @include flex(space-between, $direction: column);

  background-color: var(--grey-100);
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: var(--line-height);
  color: var(--senet-black);
  font-family: var(--font-family);
  font-weight: var(--regular);
  font-feature-settings: 'pnum' on, 'lnum' on;

  &.is-overflow-hidden { // stylelint-disable-line
    overflow: hidden;
  }
}

//
// Headings
//

@include make-all-type($tag-types);

@for $i from 1 through 6 {

  h#{$i},
  .h#{$i} {
    @include make-spacer(mx, 0);
    @include make-spacer(mt, 0);
    @include make-spacer(mb, 3);

    line-height: var(--headings-line-height);
    color: var(--black);
    font-family: var(--headings-font-family);
    font-weight: var(--bold);
  }
}

p {
  @include make-spacer(mx, 0);
  @include make-spacer(mt, 0);
  @include make-spacer(mb, 3);

  &:last-child {
    @include make-spacer(mb, 0);
  }
}

button {
  @include reset-button;
}

a {
  text-decoration: underline;
  line-height: var(--line-height);
  color: var(--senet-black);
  font-size: var(--font-size);

  &:hover {
    text-decoration: none;
  }
}

ul {
  @include reset-list;
}
