.icon-arrow-down {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-left {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-slider {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-triangle {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-check {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook-white {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-linkedin-white {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logo-half {
  width: 1.61em;
  height: 1em;
  fill: initial;
}
.icon-mail {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-play {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.icon-quote {
  width: 1.38em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: initial;
}
