.section {

  &--future-technology {

    .container {

      &::after,
      &::before {
        position: absolute;
        background-image: url('../img/gradient-2.webp');
        background-size: cover;
        background-position: 50% 50%;
        filter: blur(150px);
        opacity: 0.15;
        content: '';
      }

      &::after {
        @include size(870px, 635px);

        top: 0;
        left: -640px;

        @include media-breakpoint-up(sm) {
          @include size(1135px, 824px);
        }

        @include media-breakpoint-up(md) {
          @include size(720px, 1052px);

          top: 250px;
          left: -280px;
          transform: rotateZ(-60deg);
        }

        @include media-breakpoint-up(xl) {
          top: 50px;
        }
      }

      &::before {
        @include size(840px, 1225px);

        bottom: -350px;
        left: 50%;
        transform: translateX(-50%) scaleY(-1);

        @include media-breakpoint-up(sm) {
          @include size(945px, 1380px);

          bottom: -650px;
        }

        @include media-breakpoint-up(sm) {
          @include size(945px, 1380px);

          right: -50px;
          left: auto;
          bottom: -450px;
          transform: scaleY(-1);
        }

        @include media-breakpoint-up(xl) {
          @include size(1200px, 1752px);

          right: -370px;
          bottom: -900px;
        }

        @include media-breakpoint-up(xxl) {
          right: 0;
        }
      }
    }

    .block {
      @include make-spacer('mx', auto);

      position: relative;

      @include media-breakpoint-up(md) {
        max-width: 770px;
      }

      @include media-breakpoint-up(xl) {
        max-width: 1046px;
      }

      @include media-breakpoint-up(xl) {
        max-width: 1280px;
      }
    }

    .head {
      @include make-spacer('mb', 4);
      @include make-spacer('mb', 6, sm);
      @include make-spacer('mb', 10, md);

      @include flex($justify-content: space-between, $direction: column);

      @include media-breakpoint-up(md) {
        align-items: flex-end;
        flex-direction: row;
      }

      @include media-breakpoint-up(xl) {
        align-items: center;
      }
    }

    .title {
      @include make-spacer('mb', 4);
      @include make-spacer('mb', 6, sm);
      @include make-spacer('mb', 0, md);

      &--primary {
        color: var(--color-primary);
      }
    }

    .status {
      @include make-spacer('ml', auto, sm);
      @include make-spacer('mr', 0, sm);
      @include size(170px, 32px);

      @include media-breakpoint-up(sm) {
        @include size(300px, 58px);
      }
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 16px;
      row-gap: 30px;

      @include media-breakpoint-up(sm) {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 60px;
        row-gap: 60px;
      }

      @include media-breakpoint-up(md) {
        row-gap: 80px;
      }

      @include media-breakpoint-up(xl) {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 60px;
        row-gap: 100px;
      }

      @include media-breakpoint-up(xxl) {
        column-gap: 110px;
        row-gap: 112px;
      }
    }

    .steps {
      @include make-spacer('my', 4);
      @include make-spacer('my', 6, sm);
      @include make-spacer('my', 10, md);

      display: grid;
      position: relative;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      row-gap: 40px;

      @include media-breakpoint-up(sm) {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 40px;
      }

      @include media-breakpoint-up(md) {
        column-gap: 50px;
      }

      @include media-breakpoint-up(xl) {
        column-gap: 85px;
      }

      @include media-breakpoint-up(xxl) {
        column-gap: 110px;
      }

      &__item {
        position: relative;

        @include media-breakpoint-up(sm) {
          position: static;
        }

        &:nth-child(1),
        &:nth-child(3) {

          &::before {
            position: absolute;
            top: 67px;
            left: 0;
            right: calc(-100% - 20px);
            height: 2px;
            background-color: var(--color-dark);
            content: '';

            @include media-breakpoint-up(sm) {
              right: 0;
            }
          }
        }
      }

      &__id {
        @include make-spacer('mb', 11);
        @include make-spacer('mb', 16, xl);

        @include media-breakpoint-up(xl) {
          @include font-size(24px, 36px);
        }

        position: relative;
        color: var(--color-dark);

        &::after {
          @include size(6px);

          position: absolute;
          top: 65px;
          left: 0;
          background-color: var(--color-dark);
          border-radius: 50%;
          content: '';
        }
      }

      &__text {
        @include font-size(16px, 24px);

        @include media-breakpoint-up(xl) {
          @include font-size(20px, 30px);
        }

        color: var(--color-black);
      }
    }

    .item {

      &__icon {
        @include make-spacer('mb', 3);
        @include make-spacer('mb', 7, md);
        @include size(80px);

        @include media-breakpoint-up(md) {
          @include size(100px);
        }

        @include media-breakpoint-up(xxl) {
          @include size(126px);
        }
      }

      &__text {
        @include font-size(16px, 25px);

        font-weight: var(--typography-bold);
        color: var(--color-dark);

        @include media-breakpoint-up(sm) {
          @include font-size(20px, 25px);
        }

        @include media-breakpoint-up(md) {
          @include font-size(24px, 25px);
        }
      }
    }
  }
}
