mixin post-odd(height, count)
  .post-odd&attributes(attributes)
    .post-odd__top
      a(href="#").post-odd__link
        img(height=height src="https://ld-wp73.template-help.com/wordpress/prod_18248/v1/wp-content/uploads/2018/03/thumb-sport-"+ Math.floor(Math.random() * (20 - 1) + 1) +".jpg").post-odd__img
    .post-odd__bottom
      .row
        .col-12.col-lg-7
          h6.h6.margin.post-odd__title
            a(href="#") As More Japanese Take up Bodybuilding, a Veteran Chases a Championship
        .col-12.col-lg-5
          p.post-odd__text
            i(aria-hidden="true").far.fa-clock.post-odd__icon
            span.post-odd__date APRIL 15, 2020
      .row
        - var n = 0
        while n < count
          .col-12(class="col-sm-" + 12 / count).padding-vertical
            +button-odd(n++, 1.28).button--odd
