.progress {
  @include size(100px);

  position: relative;

  &__bottom,
  &__top {
    fill: transparent;
    stroke-width: 8;
    transition: stroke-dashoffset 1000ms;
  }

  &__svg {
    @include size(inherit);
  }

  &__bottom {
    stroke: var(--color-home);
  }

  &__top {
    stroke: var(--color-away);
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
