mixin section-testimonials
  section.section&attributes(attributes)
    .container-fluid
      .container
        .testimonial
          .testimonial__column
            h3.testimonial__title The best of job portal
            p.testimonial__text  I’ve worked with the best of job search platforms and I have to say that rekroot is so far the best of them.
            .testimonial__footer
              .testimonial__quotes
              p.testimonial__author Alex Hodge
              p.testimonial__position Developer, Themes Zone.
          .testimonial__column
            .testimonial__image
              img(src="https://rekroot.themes.zone/classic/wp-content/uploads/sites/14/2021/06/testim_face_2.png").img
