.field {
  @include size(100%, 70px);

  @include media-breakpoint-up(sm) {
    @include size(100%, 80px);
  }

  position: relative;

  &__input {
    @include make-spacer('px', 4);
    @include make-spacer('px', 6, sm);
    @include size(100%);
    @include font-size(20px);

    display: block;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: var(--default-box-shadow);
    border: 2px solid var(--color-light);
    border-radius: 10px;
    font-weight: var(--typography-bold);

    &:focus {
      outline: none;
    }
  }

  &__placeholder {
    @include font-size(18px, 16px);

    top: 25px;
    left: 20px;

    @include media-breakpoint-up(sm) {
      @include font-size(20px, 27px);

      left: 30px;
    }

    position: absolute;
    color: #CDCDCD;
    transition: var(--default-transition);
  }

  &__error {
    @include make-spacer('px', 6);
    @include font-size(14px);

    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: var(--color-primary-dark);
  }

  &__icon {
    @include size(25px);
    @include make-spacer('ml', 2);
  }

  &.focused {

    .field {

      &__input {
        @include make-spacer('pt', 5);

        outline: none;
        border-color: var(--color-text);
      }

      &__placeholder {
        @include font-size(14px);

        transform: translateY(-10px);
      }
    }
  }

  &.error {

    .field {

      &__input {
        border-color: var(--color-light);
      }

      &__error {
        @include flex(space-between, center);
      }

      &__placeholder {
        opacity: 0;
        z-index: -1;
      }
    }
  }
}
