mixin result-table
  .result-table&attributes(attributes)
    .result-table__header
      .result-table__cell
      .result-table__cell Date & Time
      .result-table__cell MATCH
      .result-table__cell HALF TIME
      .result-table__cell Full Time
    .result-table__body
      - var n = 0
      while n < 4
        .result-table__row
          .result-table__cell
            .result-table__icon
              .icon.icon--icon-07
          .result-table__cell JULY 24, 11:30
          .result-table__cell CAMBODIA VS. PHILIPPINES
          .result-table__cell= n++ + ' : 1'
          .result-table__cell 2 : 1
