.section {

  &--feedback {

    .container {

      &::before {
        @include size(1134px, 824px);

        left: -135px;
        bottom: -140px;
        opacity: 0.15;

        @include media-breakpoint-up(sm) {
          left: 122px;
          bottom: -290px;
        }

        @include media-breakpoint-up(md) {
          left: 373px;
          bottom: -150px;
        }

        @include media-breakpoint-up(xl) {
          left: 700px;
          bottom: -295px;
        }

        @include media-breakpoint-up(xxl) {
          left: 790px;
        }
      }
    }

    .grid {
      @include make-spacer('mx', auto);

      display: grid;
      position: relative;
      max-width: 750px;

      @include media-breakpoint-up(xl) {
        grid-template-columns: 750px 1fr;
        column-gap: 100px;
        max-width: unset;
      }

      @include media-breakpoint-up(xxl) {
        column-gap: 150px;
      }
    }

    .title {
      @include make-spacer('mb', 8);
      @include make-spacer('mb', 10, sm);
      @include make-spacer('mb', 14, md);
      @include make-spacer('mb', 14, xl);

      @include make-spacer('mx', auto);
      @include make-spacer('ml', 0, xl);

      max-width: 750px;

      @include media-breakpoint-up(xl) {
        @include flex($wrap: wrap);

        max-width: 1250px;
      }

      span {
        @include make-spacer('mr', 2);

        &:last-child {
          color: var(--color-primary);
        }
      }
    }

    .feedback {
      width: 100%;
    }

    .text {
      @include make-spacer('mt', 8);
      @include make-spacer('mt', 30, xl);

      @include font-size(25px, 38px);

      @include media-breakpoint-up(sm) {
        @include font-size(35px, 52px);
      }

      @include media-breakpoint-up(md) {
        @include font-size(40px, 52px);
      }

      @include media-breakpoint-up(xl) {
        max-width: 512px;
      }
    }
  }
}
