mixin section-use-cases
  section.section&attributes(attributes)
    .container-fluid
      .container.container--gradient
        +bullet(2, 'use cases').js-item-animation
        h4.title.title--primary.js-item-animation Who might care?
        .grid
          .grid__column
            h2.title.title--default.js-item-animation Here are some ideas for the fashion and apparel industries.
          .grid__column
            .block
              .item.js-item-animation
                h6.item__title Expand your model diversity
                p.item__text Instead of scouting for different models for your photoshoots, create them from the comfort of your office (or home). Mannequin AI can create terrific-looking models of any ethnicity and appearance.

              .item.js-item-animation
                h6.item__title Hire less human models
                p.item__text How about doing all your photoshoots with just ONE model instead of many? Mannequin AI will replace your human model with as many digital ones as you need.

              .item.js-item-animation
                h6.item__title Save big on paying model rights royalties
                p.item__text Give Mannequin AI all your existing photos with human models, and it will replace them with digital ones while keeping all other details like background, accessories etc intact.
