mixin section-career-advice
  section.section&attributes(attributes)
    .container-fluid
      .container
        +headline(
          'Career Advice',
          'Advice on Job and Talent Search.'
        )

        .js-career-slider
          - var n = 0;
          while n < 8
            .card(data=n++)
              a(href="./blog.html").card__image
                img(src="https://rekroot.themes.zone/classic/wp-content/uploads/sites/14/2021/07/copernico-p_kICQCOM4s-unsplash-scaled-1-542x416.jpg").img
              .card__body
                a(href="#").card__category Travel
                a(href="./blog.html").card__title Keeping Calm During Job Search
                p.card__author
                  | by
                  a(href="#") Gordon Shumway
                  | on July 30, 2021
