mixin section-get-in-touch
  section.section&attributes(attributes)
    .container-fluid
      .container
        .grid
          .grid__column
            +headline(
              'Get in Touch',
              'Got a question about using RekRoot? We’re here to help!'
            )
            form.form
              .form__error One or more fields have an error. Please check and try again.
              .form__block
                .form__wrapper
                  input(type="email" placeholder="email").form__field
                  input(type="text" placeholder="name").form__field
              .form__block
                input(type="text" placeholder="subject").form__field
              .form__block
                textarea(placeholder="message").form__textarea
              .form__block
                +button('Submit Message')(type="submit").button--primary.form__button

          .grid__column
            +headline('Contact Information').headline--white

            .wrapper
              strong.text Phone:
              p.text +084 123 456 789
              strong.text Email:
              p.text jobstart@gmail.com
              strong.text Support:
              p.text support@jobstart.com
              strong.text Address:
              p.text 241 Wincobank Avenue C Sheffield C S5 6BD

            br

            +headline('Working Hours').headline--white

            .wrapper
              strong.text Monday – Friday:
              p.text +084 123 456 789
              strong.text Saturday – Sunday:
              p.text 9am – 6 pm EST

            +social

        .map
          iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5078.008852243826!2d30.52649543096001!3d50.47826131791681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce1893f4689b%3A0x8a879074f7883f32!2z0KDRi9Cx0LDQu9GM0YHQutC40Lkg0L7RgdGC0YDQvtCyLCDQmtC40LXQsiwgMDIwMDA!5e0!3m2!1sru!2sua!4v1653569660841!5m2!1sru!2sua' width='600' height='450' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
