mixin section-looking-hire
  section.section&attributes(attributes)
    .container-fluid
      .container
        .grid
          .grid__column
            +headline(
              'Looking to hire?',
              'Add a job to RekRoot list for free'
            ).headline--white
          .grid__column
            +button('Submit your job offers')(type="button").button--bordered
