.service-layout {

  &__title {
    @include font-size(32px, 40px);

    font-weight: var(--extra-bold);

    @include media-breakpoint-up(sm) {
      @include font-size(48px, 56px);
    }

    @include media-breakpoint-up(md) {
      @include font-size(64px, 72px);
    }
  }

  &__wrapper {
    @include media-breakpoint-up(md) {
      display: grid;
      grid-template-columns: rem(212px) rem(456px);
      grid-column-gap: rem(32px);
      align-items: flex-start;
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: rem(276px) rem(584px);
    }
  }
}
