.service-layout {

  &__wrapper {
    @include media-breakpoint-up(md) {
      display: grid;
      grid-template-columns: rem(212px) rem(456px);
      grid-column-gap: rem(24px);
      align-items: flex-start;
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: rem(276px) rem(584px);
    }
  }
}
