mixin highlights
  .highlights&attributes(attributes)
    .highlights__content
      .highlights__item
        .highlights__left
          .highlights__time 0`
        .highlights__right
          .highlights__head
            h6.h6.highlights__title START OF THE MATCH
      .highlights__item.highlights__item--home
        .highlights__left
          .highlights__time 12`
        .highlights__right
          .highlights__head
            .highlights__icon.highlights__icon--yellow-card
              i.fas.fa-file
            h6.h6.highlights__title FOUL BY MARTIN PIERTO
          .highlights__text Martin Pierto showed sharp reflexes but failed to score for his team.

      .highlights__item.highlights__item--home.highlights__item--goal
        .highlights__left
          .highlights__time 18`
        .highlights__right
          .highlights__head
            .highlights__icon
              i.fas.fa-futbol
            h6.h6.highlights__title GOAL (1-0)
          .highlights__text Franklin Stevens scored with the right foot. Assisted by David Hawkins.

      .highlights__item.highlights__item--home
        .highlights__left
          .highlights__time 18`
        .highlights__right
          .highlights__head
            .highlights__icon.highlights__icon--red-card
              i.fas.fa-file
            h6.h6.highlights__title RED CARD
          .highlights__text Franklin Stevens scored with the right foot. Assisted by David Hawkins.

      .highlights__item.highlights__item--away
        .highlights__left
          .highlights__time 27`
        .highlights__right
          .highlights__head
            .highlights__icon
              i.fas.fa-hand-point-right
            h6.h6.highlights__title PENALTY KICK
          .highlights__text Franklin Stevens scored with the right foot. Assisted by David Hawkins.

      .highlights__item.highlights__item--away.highlights__item--goal
        .highlights__left
          .highlights__time 28`
        .highlights__right
          .highlights__head
            .highlights__icon
              i.fas.fa-futbol
            h6.h6.highlights__title GOAL (1-1)
          .highlights__text Franklin Stevens scored with the right foot. Assisted by David Hawkins.

      .highlights__item.highlights__item--home
        .highlights__left
          .highlights__time 78`
        .highlights__right
          .highlights__head
            .highlights__icon.highlights__icon--change
              i.fas.fa-exchange-alt
            h6.h6.highlights__title GARY CAHILL FOR JACK WINDSOR
          .highlights__text Franklin Stevens scored with the right foot. Assisted by David Hawkins.

      .highlights__item
        .highlights__left
          .highlights__time 89`
        .highlights__right
          .highlights__head
            .highlights__icon.highlights__icon--time
              i.far.fa-clock
            h6.h6.highlights__title THE REFEREE ADDS 4 MINUTES
          .highlights__text Franklin Stevens scored with the right foot. Assisted by David Hawkins.

      .highlights__item.highlights__item--away
        .highlights__left
          .highlights__time 92`
        .highlights__right
          .highlights__head
            .highlights__icon.highlights__icon--offside
              i.fas.fa-flag
            h6.h6.highlights__title OFFSIDE OF CHRIS BALLERON
          .highlights__text Franklin Stevens scored with the right foot. Assisted by David Hawkins.

      .highlights__item
        .highlights__left
          .highlights__time 94`
        .highlights__right
          .highlights__head
            .highlights__icon.highlights__icon--end
              i.fas.fa-flag-checkered
            h6.h6.highlights__title END OF THE GAME
          .highlights__text Franklin Stevens scored with the right foot. Assisted by David Hawkins.
