.highlights {
  background-color: var(--color-white);

  &__content {
    position: relative;
    padding: 30px 20px;
  }

  &__item {
    @include flex;

    position: relative;
    padding-bottom: 25px;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 13px;
      background-color: var(--color-border);
      width: 1px;
      content: '';
    }

    &:first-child {
      padding-top: 15px;
    }

    &:last-child {
      padding-bottom: 5px;
    }

    &--home {
      color: var(--color-home);

      .highlights {

        &__icon {
          color: currentColor;
        }
      }
    }

    &--away {
      color: var(--color-away);

      .highlights {

        &__icon {
          color: currentColor;
        }
      }
    }

    &--goal {

      .highlights {

        &__title {
          color: currentColor;
        }
      }
    }
  }

  &__left {
    flex-shrink: 0;
    margin-right: 10px;
    width: 27px;
  }

  &__right {
    flex-grow: 1;
  }

  &__time {
    @include flex(center, center);
    @include size(27px);

    position: relative;
    border: 1px solid var(--color-border);
    border-radius: 50%;
    background-color: var(--color-white);
    padding-left: 1px;
    color: var(--color-grey-dark);
    font-family: var(--font-family-alt);
    font-size: 11px;
  }

  &__head {
    @include flex($align-items: center);

    margin-bottom: 2px;
    min-height: 27px;
  }

  &__title {
    line-height: 1;
    font-size: 12px;
  }

  &__text {
    line-height: 1.1;
    color: var(--color-text);
  }

  &__icon {
    @include flex(center, center);
    @include size(18px);

    margin-right: 5px;

    &--red-card {
      color: var(--color-red)!important;
    }

    &--yellow-card {
      color: var(--color-yellow)!important;
    }

    &--time {
      color: var(--color-blue)!important;
    }

    &--end {
      color: var(--color-primary)!important;
    }
  }

  &__text {
    font-size: 11px;
  }
}
