:root {
  --color-white: #fff;
  --color-black: #000;

  --color-primary: #6EC1E4;
  --color-secondary: #54595F;
  --color-accent: #5049e1;

  --color-title: #363636;
  --color-text: #252525;

  //--color-cyan-bluish-gray: #abb8c3;
  //--color-pale-pink: #f78da7;
  //--color-vivid-red: #cf2e2e;
  //--color-luminous-vivid-orange: #ff6900;
  //--color-luminous-vivid-amber: #fcb900;
  //--color-light-green-cyan: #7bdcb5;
  //--color-vivid-green-cyan: #00d084;
  //--color-pale-cyan-blue: #8ed1fc;
  //--color-vivid-cyan-blue: #0693e3;
  //--color-vivid-purple: #9b51e0;
  //--color-rekroot-sdecor: #88859c;
}
