:root {
  --color-white: #fff;
  --color-black: #000;
  --color-grey-dark: #2b2a2b;
  --color-yellow: #ffd03a;
  --color-primary: #64b000;
  --color-blue: #3b7cc0;
  --color-red: #ff4f2e;
  --color-secondary: #383838;
  --color-title: #151515;
  --color-text: #9b9b9b;
  --color-border: #d7d7d7;
  --color-border-alt: #484848;
  --color-home: #64b000;
  --color-away: #ff4f2e;
}
