:root {
  --color-white: #fff;
  --color-black: #000;

  --color-primary: #E072D2;
  --color-primary-dark: #B22BC1;

  --color-secondary: #6CA7FF;
  --color-alt: #131313;

  --color-dark: #282828;
  --color-light: #ECECEC;

  --color-title: #131313;
  --color-text: #535353;
}
