:root {
  --min-width: 20rem;
  --max-width: 75rem;

  --default-transition: all 0.3s;
  --default-box-shadow: 0 0 15px 0 rgba(224, 223, 242, 0.8);
  --default-border-radius: 3px;
  --default-height: 42px;

  --grid-outher: 20px;
}
