:root {
  --header-height: #{rem(64px)};
  --container-width: 100%;

  @include media-breakpoint-up(md) {
    --header-height: #{rem(80px)};
  }

  @include media-breakpoint-up(lg) {
    --container-width: #{rem(1280px)};
  }
}

.container {
  @include make-spacer(mx, auto);
  @include make-spacer(px, 2);
  @include make-spacer(px, 4, sm);
  @include make-spacer(px, 5, md);

  width: var(--container-width);
}
