:root {
  --font-size: 20px;
  --font-family: 'Poppins', sans-serif;
  --line-height: 1.5;

  --typography-regular: 400;
  --typography-medium: 500;
  --typography-semibold: 600;
  --typography-bold: 700;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--color-title);
  font-family: var(--font-family-alt);
  font-weight: var(--typography-medium);
}

h1,
.h1 {
  @include font-size(40px, 45px);

  @include media-breakpoint-up(sm) {
    @include font-size(60px, 70px);
  }

  @include media-breakpoint-up(md) {
    @include font-size(85px, 95px);
  }

  @include media-breakpoint-up(xl) {
    @include font-size(110px);
  }
}

h2,
.h2 {
  @include font-size(40px, 45px);

  @include media-breakpoint-up(sm) {
    @include font-size(45px, 50px);
  }

  @include media-breakpoint-up(md) {
    @include font-size(70px, 80px);
  }

  @include media-breakpoint-up(xl) {
    @include font-size(90px, 100px);
  }
}

h3,
.h3 {
  @include font-size(40px, 45px);

  @include media-breakpoint-up(sm) {
    @include font-size(60px, 70px);
  }

  @include media-breakpoint-up(xl) {
    @include font-size(70px, 80px);
  }
}

h4,
.h4 {
  @include font-size(30px, 37px);

  @include media-breakpoint-up(sm) {
    @include font-size(45px, 50px);
  }

  @include media-breakpoint-up(md) {
    @include font-size(60px, 70px);
  }
}

h5,
.h5 {

}

h6,
.h6 {
  @include font-size(24px, 30px);

  @include media-breakpoint-up(sm) {
    @include font-size(40px, 50px);
  }

  @include media-breakpoint-up(xxl) {
    @include font-size(45px, 54px);
  }
}
