.accordion
  .accordion__item
    button.accordion__button.js-accordion-trigger.is-accordion-open(type="button")
      span.accordion__num 01
      span.accordion__title  Media rights
        span.accordion__icon
          +icon('arrow-triangle')
    .accordion__content.js-accordion-content
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, fugiat voluptatem? Dolorum in
      | necessitatibus omnis
  .accordion__item
    button.accordion__button.js-accordion-trigger(type="button")
      span.accordion__num 02
      span.accordion__title  Production power
        span.accordion__icon
          +icon('arrow-triangle')
    .accordion__content.js-accordion-content
      | Lorem ipsum dolor sit amet
  .accordion__item
    button.accordion__button.js-accordion-trigger(type="button")
      span.accordion__num 03
      span.accordion__title  Brand integrations
        span.accordion__icon
          +icon('arrow-triangle')
    .accordion__content.js-accordion-content
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, fugiat voluptatem? Dolorum in necessitatibus
      | omnis, possimus quibusdam totam. Nostrum pariatur quos sequi soluta. Culpa deserunt inventore nam provident
      | quo ullam.
