.accordion
  .accordion__item
    button.accordion__button.js-accordion-trigger.is-accordion-open(type="button")
      span.accordion__num 01
      span.accordion__title  Media rights
        span.accordion__icon
          +icon('arrow-triangle')
    .accordion__content.js-accordion-content
      .u-text-block
        p Native brand integrations
        p Sponsorship in esports
        p PR and media support
        p Esportainment talk show
        p Tournament integration and VOD content
  .accordion__item
    button.accordion__button.js-accordion-trigger(type="button")
      span.accordion__num 02
      span.accordion__title  Production power
        span.accordion__icon
          +icon('arrow-triangle')
    .accordion__content.js-accordion-content
      .u-text-block
        p Native brand integrations
        p Sponsorship in esports
        p PR and media support
        p Esportainment talk show
        p Tournament integration and VOD content
  .accordion__item
    button.accordion__button.js-accordion-trigger(type="button")
      span.accordion__num 03
      span.accordion__title  Brand integrations
        span.accordion__icon
          +icon('arrow-triangle')
    .accordion__content.js-accordion-content
      .u-text-block
        p Native brand integrations
        p Sponsorship in esports
        p PR and media support
        p Esportainment talk show
        p Tournament integration and VOD content
