.article-pagination
  .container
    .article-pagination__grid
      .article-pagination__block
        a.article-pagination__link(href='/')
          span.article-pagination__name Prev post
          p.article-pagination__text.
            Answering The Internet's Most Asked Questions About Zangief From Street Fighter
      .article-pagination__block
        a.article-pagination__link(href='/')
          span.article-pagination__name Next post
          p.article-pagination__text.
            The Ministry of Digital Transformation of Ukraine will support the activities
            of the TECHIIA holding in four directions
