.brands
  .brands__quote-list
    ul.js-slider-for
      li.brands__quote-item
        +icon("quote", "brands__icon")
        p.brands__text Media holding company and esports tournament organiser WePlay Esports has announced it will
          | host a Mortal Kombat tournament in its purpose-built arena in Kyiv.
        a.brands__link(href='/' target='_blank') esportsinsider.com
      li.brands__quote-item
        +icon("quote", "brands__icon")
        p.brands__text Media holding company and esports tournament organiser WePlay Esports has announced it will
          | host a Mortal Kombat tournament in its purpose-built arena in Kyiv.
        a.brands__link(href='/' target='_blank') esportsinsider.com
      li.brands__quote-item
        +icon("quote", "brands__icon")
        p.brands__text Media holding company and esports tournament organiser WePlay Esports has announced it will
          | host a Mortal Kombat tournament in its purpose-built arena in Kyiv.
        a.brands__link(href='/' target='_blank') esportsinsider.com
      li.brands__quote-item
        +icon("quote", "brands__icon")
        p.brands__text Media holding company and esports tournament organiser WePlay Esports has announced it will
          | host a Mortal Kombat tournament in its purpose-built arena in Kyiv.
        a.brands__link(href='/' target='_blank') esportsinsider.com
      li.brands__quote-item
        +icon("quote", "brands__icon")
        p.brands__text Media holding company and esports tournament organiser WePlay Esports has announced it will
          | host a Mortal Kombat tournament in its purpose-built arena in Kyiv.
        a.brands__link(href='/' target='_blank') esportsinsider.com
      li.brands__quote-item
        +icon("quote", "brands__icon")
        p.brands__text Media holding company and esports tournament organiser WePlay Esports has announced it will
          | host a Mortal Kombat tournament in its purpose-built arena in Kyiv.
        a.brands__link(href='/' target='_blank') esportsinsider.com

  .brands__logo-list
    ul.js-slider-nav
      li.brands__logo-item
        .brands__logo-wrap
          picture
            //source(srcset='img/brands/esi-logo.webp, img/brands/esi-logo@2.webp 2x' type="image/webp")
            source(srcset='img/brands/esi-logo.png, img/brands/esi-logo@2.png 2x' type="image/png")
            img.brands__logo(src='img/brands/esi-logo.png' alt='esi-logo')
      li.brands__logo-item
        .brands__logo-wrap
          picture
            //source(srcset='img/brands/Reuters-Logo.webp, img/brands/Reuters-Logo@2.webp 2x' type="image/webp")
            source(srcset='img/brands/Reuters-Logo.png, img/brands/Reuters-Logo@2.png 2x' type="image/png")
            img.brands__logo(src='img/brands/Reuters-Logo.png' alt='Reuters-Logo')
      li.brands__logo-item
        .brands__logo-wrap
          picture
            //source(srcset='img/brands/forbes.webp, img/brands/forbes@2.webp 2x' type="image/webp")
            source(srcset='img/brands/forbes.png, img/brands/forbes@2.png 2x' type="image/png")
            img.brands__logo(src='img/brands/forbes.png' alt='forbes')
      li.brands__logo-item
        .brands__logo-wrap
          picture
            //source(srcset='img/brands/Mashable_Logo.webp, img/brands/Mashable_Logo@2.webp 2x' type="image/webp")
            source(srcset='img/brands/Mashable_Logo.png, img/brands/Mashable_Logo@2.png 2x' type="image/png")
            img.brands__logo(src='img/brands/Mashable_Logo.png' alt='Mashable_Logo')
      li.brands__logo-item
        .brands__logo-wrap
          picture
            //source(srcset='img/brands/Mashable_Logo.webp, img/brands/Mashable_Logo@2.webp 2x' type="image/webp")
            source(srcset='img/brands/Mashable_Logo.png, img/brands/Mashable_Logo@2.png 2x' type="image/png")
            img.brands__logo(src='img/brands/Mashable_Logo.png' alt='Mashable_Logo')
      li.brands__logo-item
        .brands__logo-wrap
          picture
            //source(srcset='img/brands/forbes.webp, img/brands/forbes@2.webp 2x' type="image/webp")
            source(srcset='img/brands/forbes.png, img/brands/forbes@2.png 2x' type="image/png")
            img.brands__logo(src='img/brands/forbes.png' alt='forbes')
