.breadcrumbs
  ul.breadcrumbs__list
    li.breadcrumbs__item
      a.breadcrumbs__link(href='/') Main

    li.breadcrumbs__item
      a.breadcrumbs__link(href='/') Blog

    li.breadcrumbs__item
      a.breadcrumbs__link.is-disabled(href='/') Introducing the Mortal Kombat 11 tournament WePlay Dragon Temple
