.section.category-slider
  .container
    h2.h2.category-slider__title Choose a category
    .category-slider__gallery.js-category-slider
      each category in categories
        .category-slider__wrap
          .category-slider__block
            .category-slider__picture.js-picture-category
              +picture(category.src, category.type, 'category-slider__image', category.alt)
            a.category-slider__link(href=category.href)
              p.category-slider__name= category.title
              p.category-slider__text= category.text
            .category-slider__alignment
              a.button.category-slider__button(href=category.href) Browse
    .category-slider__navigation.js-category-slider-navigation
