.contacts
  ul.contacts__list
    li.contacts__item
      +icon('mail', 'contacts__icon')
      a.contacts__link(href="mailto:press@weplay.tv", rel="noreferrer noopener") press@weplay.tv
    li.contacts__item
      +icon('phone', 'contacts__icon')
      a.contacts__link(href="tel:+380 95 345 67 89") +380 95 345 67 89
