.contacts
  ul.contacts__list
    li.contacts__item
      +icon('mail', 'icon')
      a.contacts__link(href="mailto:press@weplay.tv", rel="noreferrer noopener") press@weplay.tv
    li.contacts__item
      +icon('phone', 'icon')
      p.contacts__text +380 95 345 67 89
