include _footer-menu

footer.footer

  .footer__wrapper
    .container
      .footer__logo-wrap
        .footer__logo
          a(href="/")
            +logo
        .footer__socials
          +social-links

  .container
    .footer__menu-wrap
      .footer__column
        h4.footer__title Contacts
        include ./_contacts
      .footer__column
        h4.footer__title Company
        +footer-menu(companyList)
      .footer__column
        h4.footer__title Policies
        +footer-menu(policiesList)
      .footer__column
        h4.footer__title Subscribe
        form.footer__form
          .input.footer__input
            input(type="email" placeholder="E-mail" name="email" class="input__item")
            span.input__alert
          .footer__group.checkbox
            input(type="checkbox" id="checkbox-footer" class="checkbox__item")
            label(for="checkbox-footer" class="checkbox--white checkbox__label")
              span.checkbox__text I agree with Terms of use and Privacy policy
          .footer__input.footer__input--button
            input(type="submit" value="Send").button

    .footer__copyright-wrap

  .footer__copyright
    .container
      .footer__copy-wrap
        p.footer__text 1013 Centre RD STE 403B, Wilmington, DE, USA
        p.footer__text © 2012 - 2021 WePlay Esports Media Holding. All rights reserved.
        .footer__text
          +languages('language--footer')
