include _footer-menu

footer.footer

  .footer__wrapper
    .container
      .footer__logo-wrap
        .footer__logo
          a(href="/")
            +logo
        .footer__socials
          +social-links(weplaySocials, 'Follow us on')

  .container
    .footer__menu-wrap
      .footer__column
        h4.footer__title Contacts
        include ./_contacts
      .footer__column
        h4.footer__title Company
        +footer-menu(companyList)
      .footer__column
        h4.footer__title Policies
        +footer-menu(policiesList)
      .footer__column
        h4.footer__title Subscribe
        include _subscribe-form

    .footer__copyright-wrap

  .footer__copyright
    .container
      .footer__copy-wrap
        p.footer__text 1013 Centre RD STE 403B, Wilmington, DE, USA
        p.footer__text © 2012 - #{new Date().getFullYear()} WePlay Esports Media Holding. All rights reserved.
        .footer__text
          +languages('language--footer')
