.search-menu
  .search-menu__field
    input(type="text" placeholder="Search").search-menu__input
    a(href="/")
      +icon("search", "search-menu__icon")
  ul.search-menu__list
    li.search-menu__item.accent-background.is-active
      a(href="/").search-menu__link All
    li.search-menu__item.accent-background
      a(href="/").search-menu__link Arenas
    li.search-menu__item.accent-background
      a(href="/").search-menu__link Investment
    li.search-menu__item.accent-background
      a(href="/").search-menu__link New assignments
    li.search-menu__item.accent-background
      a(href="/").search-menu__link Tournaments
    li.search-menu__item.accent-background
      a(href="/").search-menu__link Products
