.search-menu
  form.search-menu__form
    input(type="text" placeholder="Search").search-menu__input
    button(type="reset").search-menu__reset
      +icon("close", "search-menu__icon")
    button(type="submit").search-menu__submit
      +icon("search", "search-menu__icon")
  ul.search-menu__list
    li.search-menu__item.accent-background.is-active
      a(href="/blog.html").search-menu__link All
    li.search-menu__item.accent-background
      a(href="/category.html").search-menu__link Arenas
    li.search-menu__item.accent-background
      a(href="/category.html").search-menu__link Investment
    li.search-menu__item.accent-background
      a(href="/category.html").search-menu__link New assignments
    li.search-menu__item.accent-background
      a(href="/category.html").search-menu__link Tournaments
    li.search-menu__item.accent-background
      a(href="/category.html").search-menu__link Products
