nav.service-menu
  p.service-menu__title In this article
  ul.service-menu__list
    li.service-menu__item.js-scroll-spy.accent-background.active
      a.service-menu__link(href='#hash-one') Content rights & responsibilities
    li.service-menu__item.js-scroll-spy.accent-background
      a.service-menu__link(href='#hash-two') Incorporated rules and policies
    li.service-menu__item.js-scroll-spy.accent-background
      a.service-menu__link(href='#hash-three') Three
