nav.service-menu
  p.service-menu__title In this article
  ul.service-menu__list
    li.service-menu__item.accent-background
      a.service-menu__link.js-pages(href='/') Content rights & responsibilities
    li.service-menu__item.accent-background
      a.service-menu__link.js-pages(href='/') Incorporated rules and policies
