form.subscribe__form
  .input.subscribe__input
    input(type="email" placeholder="E-mail" name="email" class="input__item")
    span.input__alert
  .subscribe__group.checkbox
    input(type="checkbox" id="checkbox-subscribe" class="checkbox__item")
    label(for="checkbox-subscribe" class="checkbox--white checkbox__label")
      span.checkbox__text I agree with Terms of use and Privacy policy
  .subscribe__button
    input(type="submit" value="Send").button
