-
  var accreditations = [
    {
      name: "WePlay Valorant Invitational Accreditation",
      img: "img/accreditations/valorant",
      date: "Nov 20, 2020",
      city: "Kyiv",
    },
    {
      name: "WePlay Clutch Island Accreditation",
      img: "img/accreditations/clutch_iland",
      date: "Mar 01, 2021",
      city: "Kharkiv"
    }
  ]
