-
  var arenaKiev = [
    {
      title: '1,000',
      subtitle: 'square meters'
    },
    {
      title: 'Kyiv',
      subtitle: 'Europe'
    },
    {
      title: '160',
      subtitle: 'Spectators'
    },
  ];

  var arenaUsa = [
    {
      title: '13,000',
      subtitle: 'square meters'
    },
    {
      title: 'L.A.',
      subtitle: 'USA'
    },
    {
      title: '160 000',
      subtitle: 'Spectators'
    },
  ]
