-
  var articles = [
    {
      name: "The Ministry of Digital Transformation of Ukraine will support the activities of the TECHIIA holding in four directions"
    },
    {
      name: "2020: A Good Year For Dota 2"
    },
    {
      name: "Answering The Internet's Most Asked Questions About Zangief From Street Fighter"
    },
    {
      name: "Fat vs. Fast: The Ins and Outs of Rolling in Demon's Souls"
    },
    {
      name: "2020: A Good Year For Dota 2"
    },
    {
      name: "Answering The Internet's Most Asked Questions About Zangief From Street Fighter"
    },
    {
      name: "Fat vs. Fast: The Ins and Outs of Rolling in Demon's Souls"
    }
  ]
