-
  var breadcrumbs = {
    category: [
      {
        href: '/',
        text: 'WePlay Esports',
      },
      {
        href: '/blog.html',
        text: 'Blog',
      },
      {
        href: '/category.html',
        text: 'Arenas',
      },
    ],
    article: [
      {
        href: '/',
        text: 'WePlay Esports',
      },
      {
        href: '/blog.html',
        text: 'Blog',
      },
      {
        href: '/category.html',
        text: 'Investment',
      },
      {
        href: '/article.html',
        text: 'Oleksandr Usyk and WePlay Esports Create a New Fighting Games League',
      },
    ]
  }
