-
  var categories = [
    {
      title: 'Events',
      text: 'Longreads about WePlay Esports tournaments, pre-tournament interviews or features',
      alt: 'mk arena',
      src: 'img/article/mk-arena',
      type: 'jpg',
      href: '/category.html',
    },
    {
      title: 'Tech',
      text: 'Interviews with WePlay Esports employees about custom solutions, articles about technologies ' +
              '(like AR or VR) that are used in esports broadcasts',
      alt: 'tech',
      src: 'img/article/tech',
      type: 'jpg',
      href: '/category.html',
    },
    {
      title: 'Some title',
      text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, totam.',
      alt: 'arena kiev',
      src: 'img/arena-kiev',
      type: 'jpg',
      href: '/category.html',
    },
    {
      title: 'title',
      text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. ' +
              'Assumenda autem commodi dolore dolorem enim labore nobis pariatur quam quod, vitae.',
      alt: 'arena usa',
      src: 'img/arena-usa',
      type: 'jpg',
      href: '/category.html'
    },
  ]
