-
  var mails = [
    {
      department: 'PR',
      mail: 'pr@weplay.tv'
    },
    {
      department: 'Business development',
      mail: 'businessdevelopment@weplay.tv'
    },
    {
      department: 'General inquiries',
      mail: 'general@weplay.tv'
    }
  ]
