-
  var contactPhones = [
  {
  country: 'Ирландия',
  tel: '+353 (169) 177 69'
  },
  {
  country: 'США',
  tel: '+1 (929) 999 56 16'
  },
  {
  country: 'Россия',
  tel: '+7 (499) 490 51 31'
  },
  {
  country: 'Украина',
  tel: '+38 (067) 243 83 73'
  }
  ]
