-
  var cookiesPolicy = {
    text: `Мы используем cookie-файлы, чтобы лучше понимать, как используется сайт. Нажав OK или просматривая сайт, вы даете согласие на использование ваших cookie-файлов согласно нашей<a href="/">Политики пользования.</a>`,
    button: 'OK'
  }
