-
  var companyList = [
  {
  path: '/',
  text: 'About us'
  },
  {
  path: '/',
  text: 'Projects'
  },
  {
  path: '/',
  text: 'Services'
  },
  {
  path: '/',
  text: 'Press room'
  },
  {
  path: '/',
  text: 'Blog'
  },
  {
  path: '/',
  text: 'Career'
  },
  {
  path: '/',
  text: 'Contacts'
  }
  ]

  var policiesList = [
  {
  path: '/',
  text: 'Terms of Services'
  },
  {
  path: '/',
  text: 'Privacy Policy'
  },
  {
  path: '/',
  text: 'Cookie Policy'
  },
  {
  path: '/',
  text: 'Anty Fraud Policy'
  },
  {
  path: '/',
  text: 'Terms of Use'
  },
  {
  path: '/',
  text: 'Help Center'
  }
  ]
