-
  var productList = [
  {
  path: '/about.html',
  text: 'Почему SENET?'
  },
  {
  path: '/pricing.html',
  text: 'Стоимость'
  },
  {
  path: '/blog.html',
  text: 'Блог'
  },
  {
  path: '/service-page.html',
  text: 'Политика использования'
  }
  ]

  var companyList = [
  {
  path: '/',
  text: 'Про Enestech'
  },
  {
  path: '/contacts.html',
  text: 'Контакты'
  },
  {
  path: '/',
  text: 'Политика конфиденциальности'
  }
  ]

  var supportList = [
  {
  path: '/',
  text: 'Help-центр'
  },
  {
  path: '/',
  text: 'Сообщить о баге'
  },
  {
  path: '/',
  text: 'База знаний'
  }
  ]
