-
  var galleryImages = [
    {
      name: 'usyk',
      src: 'img/article/usyk',
      type: 'jpg'
    },
    {
      name: 'usyk',
      src: 'img/article/usyk',
      type: 'jpg'
    },
    {
      name: 'usyk',
      src: 'img/article/usyk',
      type: 'jpg'
    },
    {
      name: 'usyk',
      src: 'img/article/usyk',
      type: 'jpg'
    },
  ]
