-
  var galleryImages = [
    {
      name: 'Image credit',
      src: 'img/article/usyk',
      type: 'jpg'
    },
    {
      name: 'usik',
      src: 'img/article/usyk',
      type: 'jpg'
    },
    {
      name: 'Image name',
      src: 'img/article/usyk',
      type: 'jpg'
    },
    {
      name: 'Boxer',
      src: 'img/article/usyk',
      type: 'jpg'
    },
  ]
