-
  var indicators = [
    {
      title: '$20M',
      subtitle: 'Raised investments',
      highlight: false
    },
    {
      title: '8',
      subtitle: 'Years in esports',
      highlight: true
    },
    {
      title: '400+',
      subtitle: 'Team',
      highlight: false
    }
  ]
