-
  var nav = [
    {
      path: '/about.html',
      text: 'Почему SENET?'
    },
    {
      path: '/pricing.html',
      text: 'Цены'
    },
    {
      path: '/blog.html',
      text: 'Блог'
    },
    {
      path: '/contacts.html',
      text: 'Контакты'
    }
  ]
