-
  var nav = [
    {
      path: '/about.html',
      text: 'About us'
    },
    {
      path: '/project.html',
      text: 'Project',
      data: [
        'Project 1',
        'Project 1',
        'Project 1',
        'Project 1'
      ]
    },
    {
      path: '/services.html',
      text: 'Services',
      data: [
        'Services 1',
        'Services 1',
        'Services 1',
        'Services 1'
      ]
    },
    {
      path: '/pressroom.html',
      text: 'Press room',
      data: [
        'Press room 1',
        'Press room 1',
        'Press room 1',
        'Press room 1'
      ]
    },
    {
      path: '/blog.html',
      text: 'Blog'
    },
    {
      path: '/career.html',
      text: 'Career'
    },
    {
      path: '/contact.html',
      text: 'Contact'
    }
  ]
