-
  var nav = [
    {
      path: '/about.html',
      text: 'About us'
    },
    {
      path: '/project.html',
      text: 'Project',
      data: [
        {
          name: "Project 1",
          href: "/project.html"
        },
        {
          name: "Project 2",
          href: "/project.html"
        },
        {
          name: "Project 3",
          href: "/project.html"
        },
        {
          name: "Project 4",
          href: "/project.html"
        }
      ]
    },
    {
      path: '/services.html',
      text: 'Services',
      data: [
        {
          name: "Service 1",
          href: "/service.html"
        },
        {
          name: "Service 2",
          href: "/service.html"
        },
        {
          name: "Service 3",
          href: "/service.html"
        },
        {
          name: "Service 4",
          href: "/service.html"
        }
      ]
    },
    {
      path: '/pressroom.html',
      text: 'Press room',
      data: [
        {
          name: "Press room 1",
          href: "/pressroom.html"
        },
        {
          name: "Press room 2",
          href: "/pressroom.html"
        },
        {
          name: "Press room 3",
          href: "/pressroom.html"
        },
        {
          name: "Press room 4",
          href: "/pressroom.html"
        }
      ]
    },
    {
      path: '/blog.html',
      text: 'Blog'
    },
    {
      path: '/career.html',
      text: 'Career'
    },
    {
      path: '/contact.html',
      text: 'Contact'
    }
  ]
