-
  var barndsQuotes = [
    {
      text: "Media holding company and esports tournament organiser WePlay Esports has announced it will host a " +
      "Mortal Kombat tournament in its purpose-built arena in Kyiv. ",
      url: "/",
      linkText: "esportsinsider.com"
    },
    {
      text: "Media holding company and esports tournament organiser WePlay Esports has announced it will\n"+
      " host a Mortal Kombat tournament in its purpose-built arena in Kyiv.",
      url: "/",
      linkText: "esportsinsider.com"
    },
    {
      text: "Media holding company and esports tournament organiser WePlay Esports has announced it will\n"+
      " host a Mortal Kombat tournament in its purpose-built arena in Kyiv.",
      url: "/",
      linkText: "esportsinsider.com"
    },
    {
      text: "Media holding company and esports tournament organiser WePlay Esports has announced it will\n"+
      " host a Mortal Kombat tournament in its purpose-built arena in Kyiv.",
      url: "/",
      linkText: "esportsinsider.com"
    },
    {
      text: "Media holding company and esports tournament organiser WePlay Esports has announced it will\n"+
      " host a Mortal Kombat tournament in its purpose-built arena in Kyiv.",
      url: "/",
      linkText: "esportsinsider.com"
    },
    {
      text: "Media holding company and esports tournament organiser WePlay Esports has announced it will\n"+
      " host a Mortal Kombat tournament in its purpose-built arena in Kyiv.",
      url: "/",
      linkText: "esportsinsider.com"
    }
  ];

  var articleQuote = [
    {
      text: "Media holding company and esports tournament organiser WePlay Esports has announced it will\n"+
      " host a Mortal Kombat tournament in its purpose-built arena in Kyiv.",
      author: "Oleg Krot",
      position: "Managing partner"
    },
    {
      text: "Media holding company and esports tournament organiser WePlay Esports has announced it will\n"+
      " host a Mortal Kombat tournament in its purpose-built arena in Kyiv.",
      image: "img/article/author",
      author: "Oleg Krot",
      position: "Managing partner"
    }
  ]
