-
  var socialList = [
    {
      href: 'https://www.facebook.com/enestech',
      icon: 'fb'
    },
    {
      href: 'https://www.linkedin.com/company/enestech',
      icon: 'vk'
    },
    {
      href: 'https://www.linkedin.com/company/enestech',
      icon: 'youtube'
    },
    {
      href: 'https://www.linkedin.com/company/enestech',
      icon: 'insta'
    }
  ]
