-
  var weplayTops = [
  {
    image: 'https://static-prod.weplay.tv/2021-01-11/df1c4a9c96e5c6170065159bfd49026b.C7C9D2-101424-72554F.jpeg',
    name: 'Yura',
    lastName: 'Lazebnikov',
    position: 'Managing partner'
  },
  {
    image: 'https://static-prod.weplay.tv/2021-01-11/050c1de2aee0b8df3431977fad787d33.2D3643-B4BCCE-A98D90.jpeg',
    name: 'Oleg',
    lastName: 'Krot',
    position: 'Managing partner'
  },
  {
    image: 'https://static-prod.weplay.tv/2021-01-11/43171ba151494ca59b738dd11f11180c.0A1B2C-D2B6B9-9E8B9E.jpeg',
    name: 'Oleh',
    lastName: 'Humeniuk',
    position: 'CEO'
  },
  {
    image: 'https://static-prod.weplay.tv/2021-01-11/e0b03f681b0cb39fc83a104cf0cfcc48.292933-D7C1C5-91675E.jpeg',
    name: 'Max',
    lastName: 'Bilonogov',
    position: 'CVO & Genreal Producer'
  }
  ]
