-
  var usagePolicy = [
  {
  title: 'Определения',
  id: 'one',
  list: [
  `Всякий раз, когда в этой Политике пользования появляются следующие понятия и определения, они должны трактоваться так:`,
  `<strong>ENESTECH</strong> – ENESTECH Software Corporation, (Далее – «ENESTECH»), юридическое лицо, зарегистрированное согласно законодательства Штата Делавэр, Соединенные Штаты Америки, зарегистрирована по адресу: 8 THE GRN STE 5172 , DOVER DE 19901-3618 регистрационный номер – EIN 83-125-6337`,
  `<strong>SENET</strong> – платформа управления персональными компьютерами и смежными устройствами, разработанная и принадлежащая ENESTECH и предназначенная для использования Клиентом в сфере компьютерных игр и индустрии развлечений. SENET также включает все программное обеспечение, любые данные, инструменты и услуги, предоставляемые через Cайт, и соответствующие приложения, доступные для Клиента на Сайте.`,
  `<strong>Клиент</strong> – любое юридическое или физическое лицо, посещающее Сайт или зарегистрированное на Сайте с целью использования SENET для своих коммерческих целей.`,
  `<strong>Личный кабинет Клиента</strong> – учетная запись в SENET, созданная Клиентом после его регистрации на Сайте, предоставляющая Клиенту возможность использовать SENET.`,
  `<strong>Пользователь</strong> – лицо или лица, арендующие персональные компьютеры или другие смежные устройства Клиента, используемые в рамках SENET.`,
  `<strong>Сайт</strong> – веб-сайт, администрируемый ENESTECH и находящийся по URL адресу: <a href="/">https://enestech.net/</a>. Тарифный план – размер и порядок осуществления платежей за использование SENET.`
  ]
  },
  {
  title: 'Общие условия',
  id: 'two',
  list: [
  `Политика пользования определяет порядок и условия, на которых ENESTECH предоставляет Клиенту возможность посещать Сайт и использовать SENET на коммерческой основе согласно этой Политике пользования и Лицензионного соглашения на использование программного обеспечения SENET (Лицензионное соглашение).`,
  `Клиент понимает, что SENET – это инструмент, помогающий в управлении компьютерными устройствами Клиента в его коммерческих или частных целях, и это не освобождает Клиента от каких-либо его обязательств перед Пользователями или третьими лицами.`,
  `Посещение Сайта и использование SENET являются полностью добровольными действиями Клиента и под его исключительной ответственностью.`,
  `ENESTECH оставляет за собой право удалить Личный кабинет Клиента и остановить возможность использовать SENET, в случае, если Клиент использует SENET в целях, противоречащих применимым действующим законам, в нарушение Политики пользования, или любым другим способом, который нарушает права Пользователей или третьих лиц.`
  ]
  },
  {
  title: 'Регистрация',
  id: 'three',
  list: [
  `Обязательным условиям создания Личного кабинета Клиента является процесс регистрации на Сайте, путем заполнения формы и предоставления ENESTECH информации, а именно: адрес электронной почты Клиента, имя Клиента (полное название компании в случае, если Клиент является юридическим лицом), имя пользователя, и пароль. В случае, если Клиент является резидентом страны, законодательство которой предусматривает идентификацию пользователя по номеру телефона, Клиент предоставляет ENESTECH свой действительный номер телефона.`,
  `Клиент должен обеспечивать конфиденциальность пароля и имени пользователя и берет на себя полную ответственность за использование им или третьими лицами пароля или Личного кабинета Клиента.`,
  `По запросу Клиента сотрудники службы поддержки ENESTECH могут получать доступ к персональным данным Клиента, чтобы поддерживать и улучшать предоставление услуг, в том числе предоставлять Клиенту техническую или биллинговую информацию. Клиент настоящим подтверждает и соглашается на такой доступ.`,
  `В случае неосуществления Клиентом оплаты за пользование Senet в течении 7 (семи) календарных дней по истечении срока, согласно выбранного Тарифного плана, ENESTECH имеет право приостановить работу Личного кабинета Клиента. В случае отсутствия оплат со стороны Клиента, ENESTECH имеет право через 15 (пятнадцати) календарных дней после приостановления работы Личного кабинета Клиента удалить Личный кабинет Клиента и содержащиеся в нем персональные данные Пользователей. В течении этих 15 (пятнадцати) календарных дней Клиент имеет право запросить ENESTECH выгрузить и передать Клиенту персональные данные Пользователей, после чего ENESTECH не несет никакой ответственности за обработку и распоряжение такими персональными данными Пользователей.`
  ]
  },
  {
  title: 'Платежи',
  id: 'four',
  list: [
  `SENET является платным продуктом для использования Клиентом. Оплата за использование SENET осуществляется согласно условий этой Политики пользования в размере, соответствующем выбранному Клиентом Тарифному плану.`,
  `Клиент осуществляет выбор подходящего для него Тарифного плана в своем Личном кабинете.`,
  `Все платежи за использование SENET осуществляются Клиентом на основе предоплаты согласно выбранного Тарифного плана. Минимальный период пользования SENET – один календарный месяц.`,
  `Основанием для расчетов за использование SENET являются счета, выставленные ENESTECH, которые Клиент может видеть в своем Личном кабинете.`,
  `Счета могут выставляться и оплачиваться с помощью системы <a href="/">Paypal.com</a>. Адрес для получения средств – <a href="/">paypal.me/el4in89</a>.`,
  `Клиент также имеет возможность оплатить услуги за использование SENET с помощью перевода на банковский счет ENSTECH.`,
  `Платежи, которые Клиент совершает в пользу ENESTECH, не подлежат возврату, за исключением случаев, предусмотренных этой Политикой пользования.`,
  `Любая предоставляемая Клиентом персональная информация (включая, но не ограничиваясь: имя, адрес, телефон, e-mail, номер банковской карты) является конфиденциальной и не подлежит разглашению. Все операции с платежными картами происходят в соответствии с требованиями VISA International, MasterCard и других платежных систем.`
  ]
  },
  {
  title: 'Возврат платежей',
  id: 'five',
  list: [
  `5.1. Согласно условиям Политики пользования Клиент имеет право отказаться от использования SENET согласно выбранному Тарифному плану в течение периода, указанного в пункте 5.2 настоящей Политики пользования. Это означает, что в течение соответствующего периода, если Клиент передумает или по какой-либо другой причине решит, что он не хочет продолжать использовать SENET, Клиент может уведомить ENESTECH о своем решении отменить подписку на SENET и получить возврат уплаченных средств.`,
  `Клиент имеет право отказаться от использования SENET и получить возврат уплаченных средств в течение 5 (пяти) рабочих дней, начиная с даты, когда Клиент осуществил первый платеж за использование SENET согласно выбранному Тарифному плану. Рабочие дни означают все дни, кроме субботы, воскресения или праздничных дней в юрисдикции Клиента.`,
  `Чтобы получить возврат денежных средств, Клиент должен связаться с ENESTECH, отправив электронное письмо по адресу <a href="/">customer@enestech.net</a>. Клиент имеет право сохранить копию такого электронного письма.`,
  `Клиент получит полное возмещение средств, которые он заплатил как первый платеж за использование SENET согласно выбранного тарифного плана. ENESTECH перечислит причитающееся денежные средства Клиенту, в кратчайшие возможные сроки, но, в любом случае, не позднее 15 (пятнадцати) календарных дней со дня, когда Клиент направил ENESTECH уведомление согласно пункту 5.3 Политики пользования.`
  ]
  },
  {
  title: 'Конфиденциальность',
  id: 'six',
  list: [
  `Для целей настоящей Политики пользования «Конфиденциальная информация» включает в себя любые конфиденциальные данные и любую другую информацию, раскрытую Клиентом ENESTECH или ENESTECH Клиенту. Однако Конфиденциальная информация не включает информацию, которая известная широкой общественности, или уже находится в распоряжении принимающей стороны.`,
  `Ни одна из сторон не будет использовать или раскрывать Конфиденциальную информацию другой стороны без предварительного письменного согласия другой стороны, кроме как для выполнения своих обязательств в соответствии с настоящей Политикой пользования или в соответствии с требованиями закона или решения суда.`
  ]
  },
  {
  title: 'Защита Персональных данных',
  id: 'seven',
  list: [
  `Клиент и ENESTECH, каждый со своей стороны, обязуются обрабатывать Персональные данные в соответствии с Политикой пользования, Лицензионным соглашением и действующим законодательством.`,
  `Каждая Сторона будет поддерживать соответствующие административные, организационные и технические гарантии, а также также гарантии физической безопасности данніх, направленные на поддержание надлежащего уровня безопасности Персональных данных.`,
  `Клиент будет предоставлять ENESTECH всю необходимую помощь в связи запросами Пользователей в отношении их прав по защите персональных данных.`,
  `Клиент и ENESTECH соглашаются и признают, что каждая сторона обрабатывает Персональные данные только для: а) целей, установленных в Политике пользования; или же б) если иное не согласовано Клиентом и ENESTECH, при условии, что такая обработка строго соответствует применимым законам о защите данных.`,
  `Клиент и ENESTECH подтверждают, что они выполнили и будут продолжать выполнять свои обязательства, касающиеся защиты Персональных данных, которые возложены на них действующими законами о защите данных.`,
  `Клиент гарантирует, что он предоставил надлежащие уведомления и получил согласия от Пользователей (субъектов Персональных данных) на обработку их Персональных данных или другой информации в связи с Политикой пользования, в том числе для передачи Персональных данных за пределы юрисдикции Клиента.`,
  `Эти положения о защите Персональных данных применяются к информации, которую Клиент и Пользователи через Клиента предоставят ENESTECH, или к информации, которую ENESTECH собирает и/или генерирует через Сайт.`,
  `Положения о защите Персональных данных могут периодически обновляться. ENESTECH уведомляет Клиента о любых существенных изменениях, путем публикации новых обновлений на Сайте. Клиенту рекомендуется регулярно обращаться к положениям о защите Персональных данных с целью ознакомления с любыми изменениями.`,
  `ENESTECH может собирать Персональные данные только тогда, когда Клиент взаимодействует с Сайтом или использует SENET.`,
  `Во время процесса регистрации на Сайте Клиент предоставляет персональные данные, указанные в пункте 3.1. настоящего документа. Эти Персональные данные используются для целей подтверждения действий Клиента. Они также могут использоваться для отправки Клиенту дополнительной информации об услугах ENESTECH.`,
  `Клиент согласен с тем, что после того, как Клиент зарегистрируется на Сайте и начнет использовать Senet, положения о защите данных, определенные в Лицензионном соглашении также распространяют свое действие на Клиента.`,
  `В соответствии с применимыми законами о защите данных Клиент имеет определенные права субъекта данных, включая право: (i) запрашивать доступ и исправление или удаление Персональных данных Клиента; (ii) ограничить обработку Персональных данных Клиента; и (iii) запрашивать копию персональных данных Клиента, которая должна быть предоставлена Клиенту в цифровом формате.`,
  `Если Клиент желает воспользоваться всеми или одним из вышеуказанных прав, Клиент должен связаться с ENESTECH по адресу электронной почты <a href="/">support@enestech.net</a>.`,
  `Клиент также имеет право подать жалобу в орган защиты данных в юрисдикции Клиента касательно обработки персональных данных Клиента.`,
  `В случае, если Клиент использует Senet не соблюдая этой Политики пользования, Лицензионного соглашения и предписаний ENESTECH, ENESTECH не может полностью гарантировать, что не произойдет потери, утечки или изменения данных Клиента. ENESTECH реализует соответствующие технические и организационные меры для предотвращения таких случаев. ENESTECH сохранит информацию Клиента на срок, не превышающий срок использование SENET.`,
  `Клиент осведомлен и согласен с тем, что SENET основан на облачном сервисе Microsoft Azure, где хранятся Персональные данные. В этом отношении Клиент должен принять Microsoft Privacy & Cookies и Условия использования для Microsoft Azure, находящееся по ссылке https://docs.microsoft.com/en-us/azure/. Также сервисы ENESTECH могут быть размещены на других веб-ресурсах, отличных от Microsoft Azure, и Клиент должен принять политики конфиденциальности таких веб-ресурсов.`,
  `Каждая Сторона в максимально возможной степени предоставит другой стороне помощь в соблюдении законов о защите данных, включая соблюдения Общего регламента по защите данных.`
  ]
  },
  {
  title: 'Файлы cookie и аналитика',
  id: 'eight',
  list: [
  `ENESTECH использует файлы cookie для сбора информации. Файл cookie представляет собой небольшой файл данных, который ENESTECH переносит на жесткий диск клиента для ведения записей. ENESTECH использует файлы cookie с идентификатором сеанса, чтобы включить определенные функции, чтобы лучше понять, как Клиент взаимодействует с Cайтом.`,
  `ENESTECH не имеет доступа к политике файлов cookie и не использует файлы cookie, которые могут быть размещены на электронных устройствах Клиента неаффилированными сторонними рекламными технологиями, рекламными серверами или рекламными сетями.`,
  `Если у Клиента возникают какие-либо трудности с отключением файлов cookie, ENESTECH рекомендует Клиенту обращаться к техподдержке своего браузера за помощью или советом.`,
  `Клиент должен знать, что, если он не принимает файлы cookie, он не сможет использовать все функциональные возможности Сайта.`,
  `ENESTECH сообщает, что Веб-сайт использует Google Analytics, предлагаемую Google Inc. Сайт использует файлы cookie, хранящиеся на компьютерах Клиента, и отправляет данные, которые будут храниться на серверах Google. Этот процесс позволяет ENESTECH получить доступ к статистике Сайта и проанализировать поведение Клиента. Благодаря этим действиям ENESTECH может оптимизировать работу Сайта и SSENET и предлагать высочайшее качество своих услуг. ENESTECH не передает личные данные в Google Inc., и единственными файлами, которыми ENESTECH владеет, являются файлы cookie, касающиеся использования Клиентом Сайта. Google Analytics используется только для статистических и аналитических целей.`
  ]
  },
  {
  title: 'Права интеллектуальной собственности',
  id: 'nine',
  list: [
  `Сайт и SENET защищены законами об авторском праве и международными договорами по всему миру.`,
  `Клиент должен соблюдать права интеллектуальной собственности ENESTECH и третьих сторон. Клиент подтверждает и соглашается не иметь никаких прав, прав собственности или претензий на интеллектуальную собственность ENESTECH и не имеет права ее использовать, за исключением случаев, когда такое использование разрешено Политикой пользования.`,
  `Настоятельно запрещается копировать, распространять, модифицировать, передавать, сообщать или предоставлять общественности, извлекать, повторно использовать и каким-либо иным образом использовать любым способом Сайт или любую из его частей или элементов. Нарушение этих обязательств может представлять собой нарушение прав интеллектуальной собственности и применимых законов.`,
  `Каждая сторона незамедлительно информирует другую сторону, любым способом, определенным в действующей Политике пользования, о любых нарушениях прав интеллектуальной собственности, о которых они могут знать, и стороны будут в полной мере сотрудничать в защите таких прав.`,
  `Более подробная информация о правах интеллектуальной собственности на SENET определена в Лицензионном соглашении.`
  ]
  },
  {
  title: 'Заключительные условия',
  id: 'ten',
  list: [
  `Переход прав. Настоящая Политика пользования, а также права и обязательства по ней являются обязующими для соответствующих правопреемников сторон, но ни одна из сторон не имеет права передавать или уступать свои права и обязательства по настоящей Политике пользования. Исключением является право ENESTECH полностью передать все свои права и обязанности по настоящей Политике пользования своим аффилированным лицам без получения согласия Клиента. `,
  `Полное согласие. Настоящая Политика пользования составляет полное соглашение в отношении его предмета и заменяет любые предыдущие устные или письменные соглашения, а также все представления, договоренности, сообщения или выражения намерений, касающиеся предмета настоящей Политики пользования. `,
  `Взаимодействие. Ни одно из положений настоящей Политики пользования не считается каким-либо товариществом между сторонами, и ни одна из сторон не имеет права связывать другую сторону иначе, чем в соответствии с настоящими Условиями пользования, или считаться агентом друг перед другом.`,
  `Уведомления. ENESTECH может отправить любое необходимое уведомление Клиенту по электронной почте, почте, сообщением в SENET или любым другим юридически приемлемым средством.`,
  `Применимое право. Настоящая Политика пользования регулируется и толкуется в соответствии с законодательством Республики Ирландия.`,
  `Разрешение споров. Принимая данную Политику пользования Клиент выражает согласие на предоставление исключительной личной юрисдикции государственным судам Ирландской Республики в целях разрешения любого спора, связанного с посещением Клиентом Сайта или использованием SENET.`,
  `Если Клиент не принимает настоящей Политики пользования, он не может использовать или продолжать использовать Сайт и SENET.`
  ]
  }
  ]
