-
  var weplaySocials = [
    {
      link: "https://www.facebook.com/WePlayEsportsGlobal",
      icon: "facebook-white"
    },
    {
      link: "https://www.linkedin.com/company/weplayesports",
      icon: "linkedin-white"
    },
    {
      link: "https://twitter.com",
      icon: "twitter-white"
    }
  ]
