-
  var worldwides = [
    {
      title: 'USA',
      subtitle: 'Los Angeles'
    },
    {
      title: 'Europe',
      subtitle: 'Kyiv'
    },
    {
      title: 'Brazil',
      subtitle: 'Sao Paulo'
    },
    {
      title: 'China',
      subtitle: 'Hong Kong'
    },
    {
      title: 'Cyprus',
      subtitle: 'Limassol'
    }
  ]
