.bet-sport {

  &__header {
    @include flex($align-items: center);
    @include size(100%, 54px);

    position: relative;
    background-color: var(--color-grey-dark);
    cursor: pointer;
    padding: 0 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-white);
    font-family: var(--font-family-alt);
    font-weight: var(--typography-bold);
  }

  &__slider {
    @include flex($align-items: center);

    overflow-x: auto;
  }

  &__item {
    @include size(10%, 129px);

    position: relative;
    flex-shrink: 0;
    transition: all 0.3s;
    opacity: 0.5;
    cursor: pointer;
    padding: 25px 10px;
    min-width: 120px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.3;
    letter-spacing: 1px;
    color: var(--color-grey-dark);
    font-family: var(--font-family-alt);
    font-weight: var(--typography-bold);

    &::after {
      @include size(1px, 60%);

      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(50%, -50%);
      background-color: var(--color-border);
      content: '';
    }

    &:last-child {

      &::after {
        display: none;
      }
    }

    &--active,
    &:hover {
      opacity: 1;
    }

    &--active {

      &::before {
        @include size(0);

        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-width: 0 8px 8px;
        border-style: solid;
        border-color: transparent transparent var(--color-grey-dark);
        content: '';
      }
    }
  }

  &__image {
    @include flex(center, center);
    @include size(40px);

    margin: 0 auto 10px;
  }
}
