$path: '../fonts/Glyphter';

@font-face{
  font-family: 'Glyphter';
  src: url($path + '/Glyphter.eot');
  src: url($path + '/Glyphter.eot?#iefix') format('embedded-opentype'),
        url($path + '/Glyphter.woff') format('woff'),
        url($path + '/Glyphter.ttf') format('truetype'),
        url($path + '/Glyphter.svg#Glyphter') format('svg');
  font-weight: 400;
  font-style: normal
}
[class*=g-]:before{
  display:inline-block;
  font-family:'Glyphter';
  font-style:normal;
  font-weight:400;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
.g-atom:before{
  content:'\0041'
}
.g-badge:before{
  content:'\0042'
}
.g-bars:before{
  content:'\0043'
}
.g-domain:before{
  content:'\0044'
}
.g-education:before{
  content:'\0045'
}
.g-fork:before{
  content:'\0046'
}
.g-growth:before{
  content:'\0047'
}
.g-heart:before{
  content:'\0048'
}
.g-paint-palette:before{
  content:'\0049'
}
