.seo-block {
  @include make-spacer(pt, 4, md);

  &__wrap {
    @include make-spacer(mx, auto);

    max-width: rem(580px);
  }

  &__text {
    @include font-size(16px, 28px);

    max-height: rem(84px);
    overflow: hidden;

    &.text-is-opened {
      max-height: inherit;
    }
  }

  &__trigger {
    @include flex($align-items: center, $display: inline-flex);
    @include make-spacer(mt, 3);
    @include font-size(16px, 24px);

    text-decoration: underline;

    &.trigger-is-active {

      .seo-block__arrow {
        transform: rotate(180deg);
      }
    }
  }

  &__arrow {
    @include font-size(20px);
    @include transition(transform);
    @include make-spacer(ml, 1);
    @include flex($align-items: center, $display: inline-flex);

    transform-origin: center;
    pointer-events: none;
  }
}
