mixin post(height)
  .post&attributes(attributes)
    .post__top
      a(href="#").post__link
        img(height=height src="https://ld-wp73.template-help.com/wordpress/prod_18248/v1/wp-content/uploads/2018/03/thumb-sport-"+ Math.floor(Math.random() * (20 - 1) + 1) +".jpg").post__img
    .post__bottom
      .post__block
        h4.h4.margin.post__title
          a(href="#") As More Japanese Take up Bodybuilding, a Veteran Chases a Championship
      .post__block
        +category('sports')
        p.post__text
          i(aria-hidden="true").far.fa-clock.post__icon
          span.post__date APRIL 15, 2020
      .post__block
        hr.hr.post__hr
      .post__block
        p.post__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur ea eos ex nostrum numquam placeat voluptatibus? Aliquid amet aperiam cupiditate debitis eveniet libero mollitia, nulla officiis quae temporibus veritatis vero!
      .post__block
        +button('read more').button--grey
        +post-share
