.post {
  background-color: var(--color-white);

  &__top {

    &:hover {

      .post {

        &__img {
          transform: scale(1.2);
        }
      }
    }
  }

  &__bottom {
    border: 1px solid var(--color-border);
    padding: 20px 25px 35px;
  }

  &__block {
    @include flex($align-items: center);

    margin-bottom: 7px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    text-transform: uppercase;

    a {
      @include line-clamp(3);

      color: var(--color-grey-dark);

      &:hover {
        color: var(--color-primary);
      }
    }
  }

  &__text {
    @include line-clamp(2);

    font-weight: var(--typography-medium);
  }

  &__date {
    letter-spacing: 1px;
    font-size: 12px;
  }

  &__hr {
    @include size(100%, 1px);

    display: block;
    border: 0;
    background-color: var(--color-border)
  }

  &__link {
    @include size(100%);

    display: block;
    overflow: hidden;
  }

  &__icon {
    margin-right: 5px;
  }

  &__img {
    display: block;
    object-fit: cover;
    transition: 0.3s;
    width: 100%;
    object-position: center;
  }
}
