include ../components/index
include ../sections/index
include ../partials/index

doctype html
html(lang=lang)
  head
    include _head
  body
    +preloader.js-preloader

    .content
      block content
      +footer#footer
    script(src="./js/app.js")
