include ../mixins/all
include ../data/all

doctype html
html
  head
    include _head

  body
    //include ../components/_header

    block content

    include ../components/_footer
    //include ../components/_cookies-policy
    include ../components/_mobile-navigation

    block scripts
        include ../partials/_scripts
