include ../components/index
include ../sections/index
include ../partials/index
include ../data/data

doctype html
html(lang=lang)
  head
    include _head
  body
    .content
      block content

    script(src="./js/app.js" async)
