include ../components/index
include ../sections/index
include ../partials/index

doctype html
html
  head
    include _head
  body
    +top
    +nav
    block content
    +footer#footer
    .shadow.js-shadow
      +betslip.js-betslip
    script(src="./js/custom.js")
