.arenas {
  @include make-spacer(pb, 8);

  border-bottom: 1px solid var(--grey-200);

  &:nth-child(odd) {
    @include make-spacer(pt, 8);
    @include make-spacer(pt, 14, sm);
    @include make-spacer(pt, 8, md);
    @include make-spacer(pb, 0);

    border-bottom: 0;

    .arenas {

      &__grid {
        @include media-breakpoint-up(lg) {
          direction: rtl;
        }
      }

      &__column {
        @include media-breakpoint-up(lg) {
          direction: ltr;
        }
      }
    }
  }

  .worldwide__list {
    min-height: rem(132px);
  }

  &__grid {
    @include media-breakpoint-up(lg) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: rem(32px);
    }
  }

  &__column {

    &:last-child {
      @include make-spacer(px, 13, lg);
    }
  }

  &__list {
    @include media-breakpoint-up(sm) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: rem(24px);
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: 1fr;
    }
  }

  &__image {
    @include make-spacer(mb, 1);

    position: relative;
    padding-top: 56.25%;
    height: 0;

    img {
      @include size(100%);

      display: block;
      object-fit: cover;
    }
  }

  &__wrapper {
    @include size(100%);

    position: absolute;
    top: 0;
    left: 0;
  }

  &__button {
    @include make-spacer(mt, 4);

    text-align: center;

    @include media-breakpoint-up(lg) {
      text-align: left;
    }
  }

  &__info {
    @include make-spacer(mb, 4);
    @include make-spacer(mb, 2, sm);
  }

  &__indictor {
    display: none;

    @include media-breakpoint-up(sm) {
      @include flex(center, center);

      margin-bottom: rem(-8px);
    }
  }

  // stylelint-disable-next-line
  &__title,
  &__item {
    @include font-size(24px, 32px);

    text-align: center;
    font-weight: var(--extra-bold);
  }

  &__title {
    @include make-spacer(pt, 3);
    @include make-spacer(pt, 5, lg);

    @include media-breakpoint-up(sm) {
      @include font-size(32px, 40px);
    }

    @include media-breakpoint-up(lg) {
      text-align: left;
    }
  }

  &__item {
    @include make-spacer(py, 3);

    border-bottom: 1px solid var(--black);
    text-align: left;

    @include media-breakpoint-up(lg) {
      @include font-size(32px, 40px);
    }
  }

  @include media-breakpoint-up(sm) {

    .worldwide__item {
      align-items: center;
    }
  }
}
