.brands {
  @include make-spacer(pt, 12);
  @include make-spacer(pt, 16, md);

  &__quote-list {
    @include reset-list;
    @include make-spacer(mx, auto);

    position: relative;
    width: rem(288px);

    @include media-breakpoint-up(sm) {
      width: rem(584px);
    }
  }

  &__logo-list {
    @include make-spacer(mt, 6);
    @include make-spacer(mx, auto);

    width: rem(288px);

    @include media-breakpoint-up(sm) {
      width: rem(576px);
    }

    @include media-breakpoint-up(md) {
      width: rem(944px);
    }

    @include media-breakpoint-up(lg) {
      width: rem(1200px);
    }
  }

  &__quote-item {
    text-align: center;
  }

  &__logo-wrap {
    @include flex(center, center);

    cursor: pointer;
    height: rem(48px);
  }

  &__logo {
    @include transition(filter);

    display: block;
    filter: grayscale(1);

    &:hover {
      filter: grayscale(0);
    }
  }

  .slick-current {

    .brands__logo {
      filter: grayscale(0);
    }
  }
}
