.contact-us {

  .button {
    @include make-spacer(mb, 0);

    width: 100%;
  }

  &__item {

    &:first-child {

      .contact-us__title {
        @include make-spacer(px, 10, md);
        @include make-spacer(px, 12, lg);
      }
    }
  }

  &__decore {
    position: absolute;
    top: rem(48px);
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    max-width: 100%;
    max-height: 100%;

    @include media-breakpoint-up(sm) {
      top: rem(88px);
    }

    @include media-breakpoint-up(md) {
      top: rem(66px);
    }

    @include media-breakpoint-up(lg) {
      top: rem(16px);
    }
  }

  &__title {
    @include font-size(32px, 40px);
    @include make-spacer(mb, 4);

    font-weight: var(--extra-bold);
  }

  &__block {
    @include make-spacer(px, 10, md);
    @include make-spacer(px, 12, lg);

    position: relative;

    @include media-breakpoint-up(md) {
      min-height: rem(310px);
    }
  }

  &__location {
    @include make-spacer(mb, 6);

    &:last-child {
      @include make-spacer(mb, 0, sm);
    }
  }

  &__country {
    @include font-size(24px, 32px);
    @include make-spacer(mb, 2);

    font-weight: var(--extra-bold);
  }

  &__address {
    @include accent-background;

    color: var(--black);
    font-weight: var(--bold);
    font-style: normal;

    &:hover {
      background-size: 100% 100%;
      text-decoration: none;
    }
  }

  &__form {
    @include media-breakpoint-up(sm) {
      max-width: rem(276px);
    }

    @include media-breakpoint-up(md) {
      max-width: rem(375px);
    }

    @include media-breakpoint-up(lg) {
      max-width: rem(480px);
    }
  }

  @include media-breakpoint-up(sm) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: rem(24px);
  }

  @include media-breakpoint-up(md) {
    grid-column-gap: rem(32px);
  }
}
