.hero-section {
  @include flex($justify-content: center, $direction: column);
  @include make-spacer(mb, 6);
  @include make-spacer(py, 11);
  @include make-spacer(mb, 8, md);

  position: relative;
  z-index: 1;
  min-height: 100vh;
  color: var(--white);

  .icon {
    @include size(rem(24px));
  }

  &__title,
  &__subtitle {
    @include make-spacer(mb, 3);

    width: 100%;
  }

  &__image {
    @include size(100%);

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
  }

  &__title {
    @include make-spacer(mb, 2, sm);
    @include make-spacer(mb, 4, md);
    @include font-size(32px,40px);

    font-weight: var(--extra-bold);

    @include media-breakpoint-up(sm) {
      @include font-size(48px, 56px);

      text-align: center;
    }

    @include media-breakpoint-up(md) {
      @include font-size(64px, 72px);
    }
  }

  &__subtitle {
    @include font-size(18px, 24px);
    @include make-spacer(mb, 4, sm);
    @include make-spacer(mb, 6, md);

    font-weight: var(--bold);

    @include media-breakpoint-up(sm) {
      text-align: center;
    }

    @include media-breakpoint-up(md) {
      @include font-size(24px, 32px);
    }
  }

  &__buttons {

    .button {
      width: 100%;

      &:not(:last-child) {
        @include make-spacer(mb, 3);
        @include make-spacer(mb, 0, sm);
        @include make-spacer(mr, 3, sm);
      }

      @include media-breakpoint-up(sm) {
        max-width: rem(176px);
      }

      @include media-breakpoint-up(md) {
        max-width: rem(212px);
      }

      @include media-breakpoint-up(lg) {
        max-width: rem(173px);
      }
    }

    @include media-breakpoint-up(sm) {
      @include flex($justify-content: center);
    }
  }

  &__socials {
    @include make-spacer(pb, 3);

    position: absolute;
    bottom: 0;

    @include media-breakpoint-up(sm) {
      left: 50%;
      transform: translateX(-50%);
    }

    @include media-breakpoint-up(md) {
      @include make-spacer(pb, 0);

      top: 50%;
      right: rem(65px);
      bottom: auto;
      left: auto;
      transform: translateY(-50%);
      writing-mode: vertical-rl;

      .social-links__link {
        @include make-spacer(ml, 0);
        @include make-spacer(mt, 4);
      }
    }
  }

  &__anchor {
    @include font-size(14px);

    display: none;
    text-decoration: none;
    font-weight: var(--bold);

    .icon {
      @include make-spacer(mt, 1);

      fill: var(--accent);
    }

    @include media-breakpoint-up(md) {
      @include flex($align-items: center, $direction: column);

      position: absolute;
      bottom: rem(32px);
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

