.indicator {
  @include reset-list;
  @include make-spacer(mb, 12);
  @include make-spacer(mb, 14, md);

  text-align: center;

  &__title {
    @include font-size(64px);
    @include make-spacer(mb, 2);
    @include make-spacer(mb, 1, md);

    font-weight: var(--extra-bold);

    @include media-breakpoint-up(md) {
      @include font-size(96px);
    }
  }

  &__subtitle {
    @include font-size(18px, 26px);

    font-weight: var(--bold);

    @include media-breakpoint-up(md) {
      @include font-size(24px, 32px);
    }
  }

  &__item {

    &:not(:last-child) {
      @include make-spacer(mb, 6);
      @include make-spacer(mb, 0, sm);
    }
  }

  @include media-breakpoint-up(sm) {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: rem(8px);
  }

  @include media-breakpoint-up(md) {
    grid-column-gap: rem(32px);
  }
}
