.tops {

  &__list {
    @include reset-list;
    @include make-spacer(mt, 6);
    @include make-spacer(mt, 8, md);
    @include make-spacer(mx, auto);

    display: grid;
    grid-row-gap: rem(48px);
    max-width: rem(425px);

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: rem(48px) rem(24px);
      max-width: 100%;
    }

    @include media-breakpoint-up(md) {
      grid-gap: rem(64px) rem(32px);
    }
  }

  &__item {

    &:nth-child(2n) {
      justify-self: end;
      text-align: right;
    }

    @include media-breakpoint-up(sm) {
      justify-self: end;
      text-align: right;

      &:nth-child(-n+2) {
        justify-self: start;
        text-align: left;
      }
    }

    @include media-breakpoint-up(md) {
      @include flex($direction: row-reverse);

      align-items: center;

      &:nth-child(-n+2) {
        flex-direction: row;
      }
    }
  }

  &__image-wrap {
    @include make-spacer(mb, 3);
    @include make-spacer(mb, 0, md);

    width: rem(210px);

    @include media-breakpoint-up(sm) {
      width: rem(176px);
    }

    @include media-breakpoint-up(md) {
      width: rem(212px);
    }

    @include media-breakpoint-up(lg) {
      width: rem(275px);
    }
  }

  &__image {
    @include size(100%);

    object-fit: cover;
  }

  &__profile {
    @include make-spacer(px, 0);
    @include make-spacer(px, 4, md);
    @include flex($direction: column);
  }

  &__title {
    @include font-size(24px, 32px);

    display: block;
    font-weight: var(--extra-bold);

    @include media-breakpoint-up(md) {
      @include font-size(32px);
    }
  }

  &__subtitle {
    @include make-spacer(mt, 1);

    font-weight: var(--bold);
  }
}
