.worldwide {
  position: relative;

  &__list {
    @include reset-list;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-row-gap: rem(48px);
    grid-column-gap: rem(24px);

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }

    @include media-breakpoint-up(md) {
      min-height: rem(252px);
    }

    @include media-breakpoint-up(lg) {
      min-height: rem(328px);
    }
  }

  &__decore {
    @include absolute-center;

    z-index: -1;
    max-width: 100%;
    max-height: 100%;
  }

  &__title {
    @include font-size(32px, 40px);
    @include make-spacer(mb, 1);

    font-weight: var(--extra-bold);
  }

  &__subtitle {
    @include font-size(16px, 32px);

    font-weight: var(--bold);
  }

  &__item {
    @include flex(center, flex-start, column);

    @include media-breakpoint-up(md) {
      align-items: center;
    }
  }

  &--big {
    @include media-breakpoint-up(sm) {
      padding-top: rem(60px);
      padding-bottom: rem(60px);
    }

    @include make-spacer(p, 0, md);  // stylelint-disable-line
  }
}
