mixin card-post(count)
  article.card-post&attributes(attributes)
    .card-post__picture
      img(src="https://rekroot.themes.zone/startup/wp-content/uploads/sites/19/2021/07/copernico-p_kICQCOM4s-unsplash-scaled-1-878x310.jpg").img
    .card-post__body
      h3.card-post__title
        a(href="#") Maintaining Mental Health while Job Hunt
      .card-post__meta
        .card-post__image
          img(src="https://secure.gravatar.com/avatar/2bc37997317445ccbfeb8fcb5887233f?s=96&d=mm&r=g").img
        a(href="#").card-post__author Gordon Shumway
        a(href="#").card-post__date July 30, 2021
      a.card-post__title Maintaining Mental Health while Job Hunt
      p.card-post__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam feugiat ac odio nec porta. Donec elementum pharetra ante eget auctor. Quisque elementum orci ac diam molestie mattis. Etiam facilisis egestas ex, nec sodales dui sagittis id. Mauris feugiat enim in sapien semper, ac maximus nibh placerat. Etiam porttitor pretium venenatis. Suspendisse eu felis sem. Quisque placerat, nulla et porta gravida, justo est feugiat ligula, vel semper lacus sapien sagittis nibh. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis purus lorem, facilisis eget convallis a, condimentum id ex. Nullam id condimentum velit, ac pulvinar ex. Sed vitae orci vel ipsum scelerisque laoreet. Ut accumsan scelerisque nibh. Etiam enim lectus, dictum id tempor nec, fringilla id augue.
      a(href="#").button.button--secondary.card-post__button
        span.button__text Continue Reading
