-
  var plans = [
    {
      title: 'Personal',
      price: '9.99'
    },
    {
      title: 'Business',
      price: '19.99'
    },
    {
      title: 'Enterprise',
      price: '39.99'
    }
  ]

mixin section-choose-plan
  section.section&attributes(attributes)
    .container-fluid
      .container
        +headline(
          'Choose the Plan',
          'Get the most comfortable service for you and your team. Find a plan most matching your needs.'
        )
        .grid
          each item, index in plans
            .grid__column
              .plan(class=index === 1 && "plan--active")
                h4.plan__title= item.title
                p.plan__description for individuals and recruits

                .plan__price
                  sup.plan__currency $
                  p.plan__value= item.price
                  sub.plan__period Month

                +list([
                  "Powerful Admin Panel",
                  "1 Native Android App",
                  "Multi-Language Support",
                  "Free SSL Certificat"
                ]).list--alt

                a(href="#").button.button--secondary.plan__button
                  span.button__text Choose Plan
