mixin section-we-better
  section.section&attributes(attributes)
    .container-fluid
      .container
        .block
          .status.js-item-animation
            img(src="./img/better.webp").img
          h4.title.js-item-animation
            span Let us show you what the technology is capable of RIGHT NOW and
            span why we are better than anything you have seen before.
