mixin section-subscribe-newsletter
  section.section&attributes(attributes)
    .container-fluid
      .container
        .grid
          +headline(
            'Subscribe to newsletter',
            'Subscribe to newsletter to get the latest notifications'
          ).headline--margin
          form.newsletter
            input(type="email" placeholder="Your email address").newsletter__field
            +button('Subscribe')(type="submit").button--primary.newsletter__button
