mixin section-local
  section.section&attributes(attributes)
    .container-fluid
      .container
        .grid
          .grid__column
            +search-form

          .grid__column
            h2.title
              | Download
              | our mobile app
              span for free
            p.text Easiest way to find a job or add job listings
            .links
              a(href="#").links__item
                img(src="https://rekroot.themes.zone/classic/wp-content/uploads/sites/14/2021/06/apple_button.jpg").img
              br
              a(href="#").links__item
                img(src="https://rekroot.themes.zone/classic/wp-content/uploads/sites/14/2021/06/android_button.jpg").img

          .grid__column
            .picture
              img(src='https://rekroot.themes.zone/local/wp-content/uploads/sites/18/2021/12/local_devices__ssss_03-849x1024.webp').img
