.list {

  &__item {
    @include make-spacer('pl', 3);

    position: relative;

    &::before {
      @include size(4px);

      position: absolute;
      top: 13px;
      left: 0;
      border-radius: 50%;
      background-color: var(--color-text);
      content: '';
    }
  }

  &__text {
    color: var(--color-dark);
  }
}
