mixin section-edit
  section&attributes(attributes)
    .nav
      a(href="./index.html").link
        svg(viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
          path(d='M9.32427537,7.23715414 L10.6757246,5.76284586 L16.6757246,11.2628459 C17.1080918,11.6591824 17.1080918,12.3408176 16.6757246,12.7371541 L10.6757246,18.2371541 L9.32427537,16.7628459 L14.5201072,12 L9.32427537,7.23715414 Z')
        | Back to Editor

      button(type="button").button#button-save Save PDF

    .left#left
      .list#list

    .right#right
      +count

      .resume#resume
        .resume__block#resume-block
        .resume__canvas#resume-canvas
