mixin section-edit
  section&attributes(attributes)
    .nav
      a(href="./index.html").link
        svg(viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
          path(d='M9.32427537,7.23715414 L10.6757246,5.76284586 L16.6757246,11.2628459 C17.1080918,11.6591824 17.1080918,12.3408176 16.6757246,12.7371541 L10.6757246,18.2371541 L9.32427537,16.7628459 L14.5201072,12 L9.32427537,7.23715414 Z')
        | Back to Editor

      button(type="button").button#button-save Save PDF

    .left#left
      .list#list

        .card.js-card(data-name="Dublin")
          p.card__text Dublin
          .card__preview
            .card__icon
              svg(width='24' height='24' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg')
                path(d='M16.6917162,8.75389189 L18.3082838,10.2461081 L12.3082838,16.7461081 C11.8845221,17.2051833 11.1639539,17.2195889 10.7221825,16.7778175 L6.22218254,12.2778175 L7.77781746,10.7221825 L11.4682653,14.4126304 L16.6917162,8.75389189 Z')

            .card__image(style="background-image: url('https://s3.resume.io/uploads/local_template_image/image/488/persistent-resource/dublin-resume-templates.jpg')")

        .card.js-card(data-name="Sydney")
          p.card__text Sydney
          .card__preview
            .card__icon
              svg(width='24' height='24' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg')
                path(d='M16.6917162,8.75389189 L18.3082838,10.2461081 L12.3082838,16.7461081 C11.8845221,17.2051833 11.1639539,17.2195889 10.7221825,16.7778175 L6.22218254,12.2778175 L7.77781746,10.7221825 L11.4682653,14.4126304 L16.6917162,8.75389189 Z')

            .card__image(style="background-image: url('https://s3.resume.io/uploads/local_template_image/image/441/persistent-resource/sydney-resume-templates.jpg')")

    .right#right
      +count

      .resume#resume
        .resume__block#resume-block
        .resume__canvas#resume-canvas
