mixin select
  .select&attributes(attributes)
    .select__label.js-select-label(value="0") Date
    i.fa.fa-angle-down.select__arrow
    .select__dropdown
      .select__item.js-select-item(value="1") Featured
      .select__item.js-select-item(value="2") Title
      .select__item.js-select-item(value="3") Job ID
      .select__item.js-select-item(value="4") Name
      .select__item.js-select-item(value="5") Date
