mixin select
  .select.js-select&attributes(attributes)
    .select__label.js-select-label(value="0") Item selected
    i.fas.fa-angle-down.select__arrow
    .select__dropdown
      .select__item.js-select-item(value="1") Item 1
      .select__item.js-select-item(value="2") Item 2
      .select__item.js-select-item(value="3") Item 3
