mixin section-posts
  section.section&attributes(attributes)
    .container-fluid
      .container
        .grid
          .grid__column
            +card-post
            +card-post
            +card-post
            +card-post
            +card-post

          .grid__column
            .search
              input(type="text" placeholder="Type to search").search__field
              a.fa.fa-search.search__icon

            +headline('Latest News')

            +post-thumbnail
            +post-thumbnail
            +post-thumbnail
            +post-thumbnail
            +post-thumbnail

            +headline('Tags')
            .tags
              a(href="#").tags__item Advice
              a(href="#").tags__item Balance
              a(href="#").tags__item Education
              a(href="#").tags__item Intros
              a(href="#").tags__item Love
              a(href="#").tags__item News
              a(href="#").tags__item Reviews
              a(href="#").tags__item Suggestions
              a(href="#").tags__item Thoughts

            +headline('Categories')
            ul.list.list--default
              li.list__item
                a(href="#").list__link Festival (1)
              li.list__item
                a(href="#").list__link Hotel (1)
              li.list__item
                a(href="#").list__link Restaurant (1)
              li.list__item
                a(href="#").list__link Spa and Salon (1)
              li.list__item
                a(href="#").list__link Travel (3)
