mixin section-latest-startups
  section.section&attributes(attributes)
    .container-fluid
      .container
        +headline(
          'Latest Growing Startups',
          'Get started with best employers'
        )

        .grid
          each item in companies
            .grid__column
              +card-company(item, false)
