mixin section-latest-startups
  section.section&attributes(attributes)
    .container-fluid
      .container
        +headline(
          'Latest Growing Startups',
          'Get started with best employers'
        )
        .grid
          .grid__column
            p 1
          .grid__column
            p 1
          .grid__column
            p 1
          .grid__column
            p 1
          .grid__column
            p 1
          .grid__column
            p 1
          .grid__column
            p 1
          .grid__column
            p 1
