mixin section-plan
  section.section&attributes(attributes)
    .container-fluid
      .container.container--gradient
        .block
          h4.title.js-item-animation No matter your business size, we've got a plan for you
          p.text.js-item-animation That's right. We can cut you a great deal. We just need to know a few details about your business first, like the the size of the catalogue, monthly visitors and a couple more.
