.category {
  margin-right: 10px;
  border-radius: 3px;
  background-color: var(--color-yellow);
  padding: 2px 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-grey-dark);
  font-size: 10px;
  font-weight: var(--typography-bold);
}
