.textarea {
  @include make-spacer('mb', 3);

  position: relative;
  border: 2px solid var(--color-light);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;

  &__input {
    @include size(100%, 250px);
    @include font-size(20px);

    @include make-spacer('px', 4);
    @include make-spacer('py', 5);
    @include make-spacer('pl', 6, sm);

    display: block;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: var(--default-box-shadow);
    border: 0;
    resize: none;
    font-weight: var(--typography-bold);

    &:focus {
      outline: none;
    }
  }

  &__placeholder {
    @include make-spacer('pl', 4);
    @include make-spacer('pl', 6, sm);
    @include font-size(18px, 16px);

    @include media-breakpoint-up(sm) {
      @include font-size(20px, 27px);

      top: 28px;
    }

    position: absolute;
    top: 20px;
    left: 0;
    color: #CDCDCD;
    transition: var(--default-transition);
  }

  &__error {
    @include make-spacer('px', 6);
    @include make-spacer('py', 3);
    @include font-size(14px);

    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: var(--color-primary-dark);
  }

  &__icon {
    @include make-spacer('ml', 2);
    @include size(25px);
  }

  &.focused {
    border-color: var(--color-text);

    .textarea {

      &__input {
        @include make-spacer('pt', 9);

        outline: none;
      }

      &__placeholder {
        @include make-spacer('py', 3);
        @include font-size(14px);

        top: 0;
        right: 0;
        left: 0;
        background-color: var(--color-white);
      }
    }
  }

  &.error {
    border-color: var(--color-light);

    .textarea {

      &__error {
        @include flex(space-between, center);
      }

      &__placeholder {
        opacity: 0;
        z-index: -1;
      }
    }
  }
}
