mixin textarea(placeholder, error)
  .textarea&attributes(attributes)
    textarea.js-textarea-input.textarea__input
    span.js-textarea-placeholder.textarea__placeholder= placeholder
    .js-textarea-error.textarea__error
      span.textarea__text= error
      span.textarea__icon
        svg(width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M17.5 0H7.5C3.36375 0 0 3.36375 0 7.5V23.75C0 24.0815 0.131696 24.3995 0.366116 24.6339C0.600537 24.8683 0.918479 25 1.25 25H17.5C21.6362 25 25 21.6362 25 17.5V7.5C25 3.36375 21.6362 0 17.5 0ZM13.75 20H11.25V17.5H13.75V20ZM13.75 15H11.25V5H13.75V15Z" fill="currentColor")
