.textarea {
  @include make-spacer('py', 2);
  @include make-spacer('px', 3);

  border: 0;
  border-radius: var(--default-border-radius);
  caret-color: var(--color-accent);
  background-color: rgba(239, 242, 249, 1);
  outline: none;
  transition: color 0.1s ease 0s;
  resize: none;
  height: 250px;

  &:focus {
    outline: 1px solid var(--color-accent);
  }
}
