mixin breadcrumbs
  .breadcrumbs&attributes(attributes)
    .breadcrumbs__item
      a(href="#").breadcrumbs__link Home
    .breadcrumbs__item
      a(href="#").breadcrumbs__link Football
    .breadcrumbs__item
      a(href="#").breadcrumbs__link 5 Things: California Football vs. North Texas
