doctype html
html(lang='en')
  head
    title Sydney
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="stylesheet" href="./Sydney/Sydney.css")
  body
    .page.page--sydney#sydney
      .t-left
        .t-head
          .t-photo
            img(src="")#t-photo

          .t-info
            h2.t-h2
              span#t-first_name
              span#t-last_name
            h6(style="letter-spacing: 3px")#t-work_type

        .t-wrapper
          h6.t-h6#t-section-0
          .t-item#t-profile

      .t-right
        .t-wrapper
          h6.t-h6#t-section-1
          .t-item#t-email
          .t-item#t-phone
          .t-item#t-address
          .t-item#t-postal_code
          .t-item#t-city
          .t-item#t-country
          .t-item#t-date_birth
          .t-item#t-place_birth
          .t-item#t-nationality
          .t-item#t-driving_license
