-
  var industries = [
    {
      title: 'Backend Developement',
      text: '6 open positions',
      icon: 'g-domain'
    },
    {
      title: 'Distributed Systems',
      text: '5 open positions',
      icon: 'g-heart'
    },
    {
      title: 'Frontend Development',
      text: '2 open positions',
      icon: 'g-bars'
    },
    {
      title: 'Computer Networks',
      text: '6 open positions',
      icon: 'g-paint-palette'
    },
    {
      title: 'Databases & Big Data',
      text: '5 open positions',
      icon: 'g-education'
    },
    {
      title: 'IT Consulting',
      text: '2 open positions',
      icon: 'g-growth'
    },
    {
      title: 'IT Project Managment',
      text: '2 open positions',
      icon: 'g-badge'
    },
    {
      title: 'Mobile Software Development',
      text: '2 open positions',
      icon: 'g-atom'
    },
    {
      title: 'Statistics & Data Science',
      text: '2 open positions',
      icon: 'g-fork'
    }
  ]

mixin section-popular-industries
  section.section&attributes(attributes)
    .container-fluid
      .container
        +headline(
          'Popular Industries',
          'Get started with best industries'
        )
        .grid
          each item, index in industries
            .grid__column
              a(href="#").industry
                .industry__logo
                  i(class=item.icon aria-hidden="true")
                .industry__description
                  h6.industry__title= item.title
                  p.industry__text= item.text
