.section {

  &--popular-industries {

    .grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 30px;

      @include media-breakpoint-up(md) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include media-breakpoint-up(xl) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .industry {
      @include make-spacer('p', 4);

      display: grid;
      grid-template-columns: 65px 1fr;
      grid-gap: 20px;
      align-items: center;
      box-shadow: var(--default-box-shadow);
      border-radius: var(--default-border-radius);
      background-color: var(--color-white);

      &__logo {
        @include flex(center, center);
        @include size(65px);
        @include font-size(35px);

        border-radius: var(--default-border-radius);
        background-color: #f3f2fc;
        color: var(--color-accent);
      }

      &__text {
        @include make-spacer('mt', 1);
        @include font-size(13px);

        color: #686767;
      }

      &:hover {
        background-color: var(--color-accent);
        color: var(--color-white);

        .industry {

          &__title,
          &__text {
            color: var(--color-white);
          }

          &__logo {
            background-color: var(--color-white);
          }
        }
      }
    }
  }
}
