.banner {
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 63px 48px 82px;
  height: 100%;
  min-height: 300px;
  color: var(--color-white);

  &__button,
  &__text {
    margin-top: 25px;
  }

  &__content {
    @include size(100%);
    @include flex($justify-content: center, $direction: column);

    max-width: 500px;

    @include media-max(map_get($grid-breakpoints, md)) {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: var(--color-grey-dark);
      padding: 30px;
      max-width: 100%;
      min-height: 200px;
    }
  }

  &__title {
    transition: all 0.3s;
    letter-spacing: 1px;
    color: var(--color-white);

    &:hover {
      color: var(--color-primary);
    }

    @include media-max(map_get($grid-breakpoints, md)) {
      font-size: 24px!important;
    }
  }

  &__text {
    position: relative;

    @include media-max(map_get($grid-breakpoints, md)) {
      @include line-clamp(3);
    }
  }

  &__button {
    max-width: 150px;
  }

  @include media-max(map_get($grid-breakpoints, md)) {
    background-position: 50% 0;
    height: 420px;
  }

  &--sm {

    .banner {

      &__title {
        font-size: 20px;
      }
    }
  }

  &--md {

    .banner {

      &__text {
        padding-left: 40px;

        &::before {
          @include size(25px, 17px);

          position: absolute;
          top: 6px;
          left: 0;
          background-image: url('../img/service/quote.png');
          background-repeat: no-repeat;
          background-size: cover;
          content: '';
        }
      }
    }
  }

  &--lg {

    .banner {

      &__title {
        font-size: 40px;
        font-weight: var(--typography-bold);
      }
    }
  }
}
