mixin banner(title, text)
  .banner&attributes(attributes)
    .banner__content
      a(href="#")
        h3.h3.banner__title= title
      if (text)
        p.banner__text Lorem ipsum dolor sit amet, consectetur adipisi nel elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      +button('More info').button--secondary.banner__button
