mixin section-product
  section.section&attributes(attributes)
    .container-fluid
      .container.container--gradient
        .block
          +bullet(2, 'product & services').js-item-animation
          h2.title.js-item-animation See our products and services
        .grid
          .item.js-item-animation
            +card(
              'mannequin sinthetics',
              {
                index: 0,
                list: [
                  "Photoshoot-grade full-body digital people,",
                  "created instantly per your specifications. Fashion industry, apparel retailers, are you in?"
                ]
              },
              [
                'product-1'
              ],
              false,
              1,
              'pink'
            )(href='./synthetics.html').card--pink.card--done

          .item.js-item-animation
            +card(
              'AI Stylist',
              {
                index: 1,
                list: [
                  "AI stylist",
                  "for your website that creates stunning looks for your shoppers",
                  "and increases your metrics across the board. Why sell items when you could be selling the whole looks instead?"
                ]
              },
              [
                'product-2',
                'product-21',
                'product-22'
              ],
              false,
              3,
              'blue'
            )(href='./stylist.html').card--blue.card--done

          .item.js-item-animation
            +card(
              'Mannequin Robotics',
              {
                index: 0,
                list: [
                  "Fully programmable mannequin robot",
                  "that will replace 99% of your needs for real human models. Real beast when combined with Mannequin AI."
                ]
              },
              [
                'product-3'
              ],
              true,
              2,
              'pink'
            ).card--pink

          .item.js-item-animation
            +card(
              'PERUKA',
              {
                index: 0,
                list: [
                  "AI-based (of course) app that lets you try on different hairstyles.",
                  "No matter what you've seen before, you'll just marvel at Peruka's outcomes"
                ]
              },
              [
                'product-4'
              ],
              true,
              4,
              'blue'
            ).card--blue
