mixin article(title, mod)
  .article(class= mod)
    .article__top
      a(href="#").article__image
        +picture('img/article/article', 'jpg', 'article__picture')
        span.article__time 40 min read
    .article__body
      .article__tags
        include ../components/_tags
      a(href="#").article__title= title
      .article__bottom
        include ../components/_article-info
