mixin download-picture(modClass, secondMod)
  .download-picture
    .download-picture__wrapper(class= modClass)
      +picture('img/article/usyk', 'jpg', `download-picture__image ${secondMod}`)
    a.download-picture__link(download='usyk', href='img/article/usyk.jpg')
      +icon('download', 'download-picture__icon')
