mixin gallerySlider({ mod, images })
  .gallery-slider.js-gallery-slider(class= mod ? mod : '')
    each image in images
      .gallery-slider__wrap
        .gallery-slider__item
          +picture(image.src, image.type, 'gallery-slider__picture u-img-responsive')
          a.gallery-slider__download(href= image.src, download= image.name)
            +icon('download', 'gallery-slider__load')


