mixin quote(mod, text, link, linkText, image, author, position)
  .quote(class= mod)
    +icon("quote", "quote__icon")
    p.quote__text= text
    if href
      a.quote__link(href= link, target='_blank')= linkText
    if image
      .quote__image
        +picture(image, 'jpg', 'quote__picture')
    .quote__info
      if author
        .quote__author= author
      if position
        .quote__position= position
