mixin quote({ mod, text, url, linkText, image, author, position })
  .quote(class= mod)
    +icon("quote", "quote__icon")
    p.quote__text= text
    if url
      a.quote__link(href=url, target='_blank')= linkText
    else

    if image
      +picture(image, 'jpg', 'quote__image')
    else

    .quote__info
      if author
        .quote__author= author
      else

      if position
        .quote__position= position
      else
