mixin social-links(modClass)
  .social-links(class= `social-links--${modClass}`) Follow us on
    .social-links__wrap
      a(href="/").social-links__link
        +icon('facebook-white', 'icon')
      a(href="/").social-links__link
        +icon('linkedin-white', 'icon')
