.search-empty {

  &__notification {
    @include make-spacer(pb, 3);

    border-bottom: 1px solid var(--grey-200);
  }

  &__return {
    @include make-spacer(mt, 6);
    @include make-spacer(mx, auto, sm);
    @include make-spacer(ml, 17, md);

    @include media-breakpoint-up(sm) {
      width: rem(174px);
    }
  }

  &__button {
    width: 100%;
  }

  &__icon {
    @include size(20px);
  }
}
