.search-empty {
  position: relative;

  &__notification {
    @include make-spacer(pb, 3);

    border-bottom: 1px solid var(--grey-200);
  }

  &__return {
    @include make-spacer(mt, 6);

    text-align: center;
  }

  &__button {
    width: 100%;

    @include media-breakpoint-up(sm) {
      width: initial;
    }
  }

  &__icon {
    @include size(20px);
  }
}
