mixin lang
  .lang&attributes(attributes)
    .lang__select
      span en
      i.fas.fa-angle-down.lang__icon
    .lang__dropdown
      .lang__item en
      .lang__item.lang__item--active fr
      .lang__item es
