mixin section-feedback
  section.section&attributes(attributes)
    .container-fluid
      .container.container--gradient
        .block
          h3.title.js-item-animation
            span Don't take our word for it,
            span let's fix you a nice pilot
          .grid
            +feedback.js-feedback.js-item-animation
            p.text.js-feedback-animation.js-item-animation We're promising – you'll get an answer from the human :), not from our AI
