mixin preloader
  .preloader&attributes(attributes)
    .preloader__logo
      svg(viewBox='0 0 512 512' fill='none' xmlns='http://www.w3.org/2000/svg')
        rect(width='512' height='512' fill='white')
        circle(cx='256' cy='256' r='212' fill='#E072D2')
        path(d='M150.955 158.595H194.832L256.14 301.796L317.447 158.595H361.045V351.177H322.393V225.91L270.778 351.177H241.5L189.646 225.91V351.177H150.995L150.955 158.595Z' fill='#131313')
