mixin post-thumbnail
  .post-thumbnail&attributes(attributes)
    a(href="#").post-thumbnail__img
      img(src="https://rekroot.themes.zone/startup/wp-content/uploads/sites/19/2021/07/copernico-p_kICQCOM4s-unsplash-scaled-1-150x150.jpg").img
    .post-thumbnail__content
      a(href="#").post-thumbnail__title How To Find the Job that Fits You the Most
      a(href="#").post-thumbnail__category IN RESTAURANT
      p.post-thumbnail__date July 30, 2021
