.footer {

  .wrapper {
    @include flex($align-items: center, $wrap: wrap);
    @include make-spacer('px', 6, xs);
    @include make-spacer('py', 9, xs);
    @include make-spacer('px', 10, sm);
    @include make-spacer('pb', 5, sm);
    @include make-spacer('px', 12, md);
    @include make-spacer('pr', 25, xl);

    background-color: var(--color-dark);
    border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
    min-height: 109px;

    @include media-breakpoint-up(xl) {
      justify-content: space-between;
      flex-wrap: nowrap;
    }
  }

  .link,
  .text,
  .address {
    @include font-size(14px, 21px);

    font-weight: var(--typography-bold);
    color: var(--color-white);
  }

  .grid {
    @include make-spacer('mb', 4, sm);
    @include make-spacer('mb', 0, xl);
    @include flex($align-items: center);

    @include media-breakpoint-up(sm) {
      width: 100%;
    }

    @include media-breakpoint-up(xl) {
      width: auto;
    }
  }

  .text {
    @include make-spacer('mr', 1);
  }

  .link {

    &:hover {
      color: var(--color-primary);
    }

    &--privacy {
      order: 4;
      flex-grow: 1;
      text-align: right;

      @include media-breakpoint-up(sm) {
        @include make-spacer('pl', 12);
        @include make-spacer('pl', 0, xl);

        text-align: left;
      }

      @include media-breakpoint-up(xl) {
        flex-grow: unset;
      }
    }

    &--service {
      order: 3;
    }
  }

  .address {
    @include make-spacer('my', 3);
    @include make-spacer('mt', -8, sm);
    @include make-spacer('mb', 0, sm);
    @include make-spacer('my', 0, xl);

    order: 1;
    width: 100%;

    @include media-breakpoint-up(sm) {
      order: 4;
      max-width: 235px;
      text-align: right;
    }

    @include media-breakpoint-up(xl) {
      max-width: 100%;
      width: auto;
    }
  }
}
