mixin footer
  footer.footer&attributes(attributes)
    .container-fluid
      .container
        .wrapper
          a(href="mailto:info@mannequin.com").link.link--mail info@mannequin.com
          a(href="#" target="_blank").link.link--service Terms of Service
          a(href="#" target="_blank").link.link--privacy Privacy Policy
          p.address Mannequin Technologies Inc. 5425 Grosvenor Blvd Los Angeles, CA 90066
