mixin footer
  footer.footer&attributes(attributes)
    .container-fluid
      .container
        .wrapper
          .grid
            p.text Contact:
            a(href="mailto:info@mannequin.com").link info@mannequin.com
          a(href="#" target="_blank").link.link--service Terms Service
          a(href="#" target="_blank").link.link--privacy Privacy Police
          p.address Mannequin Technologies Inc. 5425 Grosvenor Blvd Los Angeles, CA 90066
