@import '../../../scss/base/variables/abstract/index';
@import '../../../scss/base/reset';
@import '../../../scss/abstract/helpers/index';

@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@400;700&display=swap');

.page {

  &--dublin {
    @include make-spacer('mx', auto);
    @include size(793.701px, auto);

    min-height: 1122px;

    --color-white: #fff;
    --color-black: #000;
    --color-primary: #0a4c40;
    --color-title: #000;
    --color-text: #000;

    --font-family: 'Roboto', sans-serif;
    --font-family-additional: 'Gentium Plus', serif;
    --font-weight: 400;
    --font-size: 16px;
    --font-color: var(--color-text);
    --line-height: 1.5;
    --typography-regular: 400;
    --typography-medium: 500;
    --typography-bold: 700;

    display: grid;
    grid-template-columns: 340px 1fr;
    align-items: stretch;
    font-family: var(--font-family);
    line-height: var(--line-height);
    background-color: var(--color-white);

    * {
      line-height: var(--line-height);
    }

    ol {
      @include make-spacer('pl', 3);

      list-style: decimal;
    }

    ul {
      @include make-spacer('pl', 2);

      list-style: disc;
    }

    ol,
    ul {

      li {
        @include make-spacer('mb', 2);
      }
    }

    img {
      display: block;
      object-fit: cover;
      object-position: 50% 50%;
    }

    .t-h1,
    .t-h2,
    .t-h3,
    .t-h4,
    .t-h5,
    .t-h6 {
      @include make-spacer('p', 0);
      @include make-spacer('mt', 0);
      @include make-spacer('mb', 2);

      font-family: var(--font-family-additional);
      font-weight: var(--typography-bold);

      * {
        @include make-spacer('mx', 1);
      }
    }

    .t-h1 {
      @include font-size(38px, 44px);
    }

    .t-h2 {
      @include font-size(34px, 40px);
    }

    .t-h3 {
      @include font-size(30px, 36px);
    }

    .t-h4 {
      @include font-size(24px, 30px);
    }

    .t-h5 {
      @include font-size(20px, 26px);
    }

    .t-h6 {
      @include font-size(18px, 24px);
    }

    a {
      text-decoration: underline;
    }
  }

  .t-left,
  .t-right {
    @include make-spacer('py', 10);
    @include make-spacer('px', 5);

    overflow: hidden;
  }

  .t-left {
    background-color: var(--color-primary);

    * {
      color: var(--color-white);
    }
  }

  .t-wrapper {
    @include make-spacer('mb', 6);

    &--center {
      text-align: center;
    }

    &:last-child {
      @include make-spacer('mb', 0);
    }
  }

  .t-item {
    @include make-spacer('mb', 2);
    @include font-size(14px, 16px);

    &--transparent {

      span {
        background-color: transparent!important;
      }
    }
  }

  .t-hr {
    @include make-spacer('my', 4);
    @include size(50px, 1px);

    border: 0;
    background-color: var(--color-white);
    opacity: 0.5;
  }

  .t-photo {
    @include flex(center, center);

    img {
      @include make-spacer('mb', 4);
      @include size(120px);

      border-radius: 50%;
      overflow: hidden;
    }
  }

  .t-qr-code {

    img {
      @include make-spacer('mb', 6);
      @include size(150px);
    }
  }
}
