doctype html
html(lang='en')
  head
    title Dublin
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="stylesheet" href="./Dublin/Dublin.css")
  body
    .page.page--dublin#dublin
      .t-left
        .t-photo#t-photo

        .t-wrapper.t-wrapper--center
          h2.t-h2
            span#t-first_name
            span#t-last_name
          hr.t-hr
          h6(style="letter-spacing: 3px")#t-work_type

        .t-wrapper
          .t-section
            h6.t-h6#t-section-0
            .t-item#t-email
            .t-item#t-phone
            .t-item#t-address
            .t-item#t-postal_code
            .t-item#t-city
            .t-item#t-country
            .t-item#t-date_birth
            .t-item#t-place_birth
            .t-item#t-nationality
            .t-item#t-driving_license
          .t-section
            h6.t-h6#t-section-4
            .t-item.t-item--transparent#t-skills
          .t-section
            h6.t-h6#t-section-5
            .t-item.t-item--transparent#t-languages
          .t-section
            h6.t-h6#t-section-6
            .t-item.t-item--transparent#t-hobbies

      .t-right
        .t-qr-code#t-qr-code
        .t-wrapper
          .t-section
            h6.t-h6#t-section-1
            .t-item.t-item--transparent#t-profile
          .t-section
            h6.t-h6#t-section-2
            .t-item.t-item--transparent#t-employment_history
          .t-section
            h6.t-h6#t-section-3
            .t-item.t-item--transparent#t-education
          .t-section
            h6.t-h6#t-section-7
            .t-item.t-item--transparent#t-courses
