mixin section-about
  section.section&attributes(attributes)
    .container-fluid
      .container
        .grid
          .grid__column
            .count
              .count__icon
                img(src="https://rekroot.themes.zone/local/wp-content/uploads/sites/18/2021/11/abic_t_1.png").img
              .count__wrapper
                h2.count__value 15
                p.count__text Years of Experience
          .grid__column
            .count
              .count__icon
                img(src="https://rekroot.themes.zone/local/wp-content/uploads/sites/18/2021/11/abic_t_2.png").img
              .count__wrapper
                h2.count__value 42,369
                p.count__text Job Offers
          .grid__column
            .count
              .count__icon
                img(src="https://rekroot.themes.zone/local/wp-content/uploads/sites/18/2021/11/abic_t_3.png").img
              .count__wrapper
                h2.count__value 22,134
                p.count__text Resumes Added
          .grid__column
            .count
              .count__icon
                img(src="https://rekroot.themes.zone/local/wp-content/uploads/sites/18/2021/11/abic_t_4.png").img
              .count__wrapper
                h2.count__value 100%
                p.count__text Clients Satisfaction
