mixin section-about
  section.section&attributes(attributes)
    .container-fluid
      .container.container--gradient
        .block
          +bullet(1, 'who we are?').js-item-animation
          h4.title.js-item-animation We are a diverse team of world-class AI engineers, hardware engineers and founders
          .description
            p.text.js-item-animation
              strong With successful track record both at small innovative companies and industry-leading enterprises such as Snap.
            p.text.js-item-animation Here at Mannequin we are creating cutting-edge technologies and products that have the potential to advance a range of industries across the globe.
