.get-in-touch {

  &__field,
  &__button,
  &__textarea {
    border-radius: 3px;
  }

  &__field,
  &__textarea {
    background-color: var(--color-white);
  }

  &__field,
  &__button {
    height: 60px;
  }

  &__field {
    padding-right: 15px;
    padding-left: 15px;
  }

  &__textarea {
    padding: 20px 15px;
    height: 200px;
  }

  &__block {
    position: relative;

    &--error {

      .get-in-touch {

        &__field {
          border: 1px solid var(--color-red);
        }

        &__error {
          display: block;
        }
      }
    }
  }

  &__error {
    display: none;
    position: absolute;
    top: 2px;
    right: 8px;
    color: var(--color-red);
    font-size: 9px;
  }
}
