mixin get-in-touch
  .get-in-touch&attributes(attributes)
    .row
      .col-12.col-md-6.padding-vertical
        .get-in-touch__block
          .get-in-touch__error The text field is required
          +field(type="text" placeholder="Your Name").get-in-touch__field
      .col-12.col-md-6.padding-vertical
        .get-in-touch__block
          .get-in-touch__error The text field is required
          +field(type="text" placeholder="Phone").get-in-touch__field
      .col-12.padding-vertical
        +textarea(placeholder="Message").get-in-touch__textarea
      .col-12.col-md-6.padding-vertical
        .get-in-touch__block.get-in-touch__block--error
          .get-in-touch__error The text field is required
          +field(type="email" placeholder="Email").get-in-touch__field
      .col-12.col-md-6.padding-vertical
        +button('Send Message').button--primary.get-in-touch__button
