.top {
  @include flex($align-items: center);

  position: relative;
  background-color: var(--color-grey-dark);
  height: 54px;

  .toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &--default {
      left: 10px;
    }

    &--collapse {
      right: 10px;
    }
  }

  [class^='container'] {
    height: 100%;
  }

  &__wrapper,
  &__block {
    height: 100%;
  }

  &__wrapper {
    @include flex(space-between, center);

    @include media-max(map_get($grid-breakpoints, lg)) {
      justify-content: flex-end;
    }
  }

  &__block {
    @include flex($align-items: center);

    position: relative;

    &--lg {
      flex-grow: 1;
      z-index: 1;
      margin-right: 20px;

      @include media-max(map_get($grid-breakpoints, lg)) {
        flex-grow: 0;
        flex-wrap: wrap;
        margin-right: 35px;
      }
    }

    &--sm {
      @include media-max(map_get($grid-breakpoints, lg)) {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        justify-content: flex-end;
        background-color: var(--color-secondary);
        padding: 0 15px;
        height: 55px;
      }
    }

    &--active {
      @include flex;

      z-index: 1;
    }
  }

  &__link {
    @include flex($align-items: center);

    position: relative;
    z-index: 1;
    margin-right: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-white);
    font-family: var(--font-family-alt);
    font-size: 12px;

    &--active,
    &:hover {
      color: var(--color-primary);

      .top {

        &__icon {
          color: var(--color-white);
        }
      }
    }

    &:last-child {
      margin-right: 0;
    }

    @include media-max(map_get($grid-breakpoints, lg)) {
      margin-right: 10px;
    }

    &--account {
      @include media-max(map_get($grid-breakpoints, lg)) {

        span {
          display: none;
        }
      }
    }
  }

  &__icon {
    transition: 0.3s;
    margin-right: 5px;
    color: var(--color-primary);
    font-size: 18px;
  }

  &__hr {
    @include size(1px, 15px);

    margin: 0 10px;
    border: 0;
    background-color: var(--color-text);

    //@include media-max(map_get($grid-breakpoints, sm)) {
    //  display: none;
    //}
  }

  &__button {
    border-radius: 3px;
    padding: 0 8px;
    min-height: 20px;
    font-size: 12px;
  }

  @include media-max(map_get($grid-breakpoints, lg)) {
    position: sticky;
    top: 0;
    z-index: 5;
  }
}
