mixin top
  .top&attributes(attributes)
    .container-fluid
      .container
        .top__wrapper
          +toggle.toggle--default.js-toggle-default
          +toggle.toggle--collapse.js-toggle-collapse
          .top__block.top__block--lg.js-top-block-lg
            a(href="#").top__link Help
            a(href="#").top__link News
            a(href="#").top__link Contacts
          .top__block.top__block--sm.js-top-block-sm
            +lang.js-lang
            hr.top__hr
            +button('registration')(href="login.html").button--primary.top__button
            hr.top__hr
            a(href="login.html").top__link.top__link--account.margin
              i.fas.fa-sign-in-alt.top__icon
              span your account
