.press-release-article {
  @include make-spacer(mx, auto);
  @include make-spacer(pt, 4);
  @include make-spacer(pt, 6, sm);

  &__header {
    @include make-spacer(mb, 4);
  }

  &__date {
    @include font-size(14px, 22px);
  }

  &__image {
    @include make-spacer(mt, 4);
    @include make-spacer(mt, 6, sm);
  }

  &__credit {
    @include make-spacer(mt, 1);
    @include make-spacer(mt, 2, lg);
  }

  &__wrapper {
    display: grid;

    @include media-breakpoint-up(md) {
      grid-template-columns: rem(456px);
      justify-content: center;
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: rem(584px);
    }
  }

  &__tags {
    @include flex(space-between, $direction: column, $wrap: wrap);

    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }
  }

  &__topic {
    @include flex(space-between, $direction: column, $wrap: wrap);
    @include make-spacer(mb, 4);
    @include make-spacer(pb, 2);

    border-bottom: 1px solid var(--black);

    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }
  }

  &__accreditation {
    @include make-spacer(mt, 7);
    @include make-spacer(mt, 8, sm);
  }

  &__time {
    @include font-size(14px, 22px);
    @include make-spacer(mt, 1);
    @include make-spacer(mt, 0, sm);

    display: block;
    color: var(--disabled);
  }

  &__category {
    @include accent-background;

    text-decoration: none;
    color: var(--black);
    font-weight: var(--bold);

    &:hover {
      background-size: 100% 100%;
    }
  }

  &__link {
    @include accent-background;
    @include flex($align-items: center, $display: inline-flex);
    @include make-spacer(mt, 4);
    @include make-spacer(mt, 0, sm);

    color: var(--black);

    .icon {
      @include size(rem(15px));
      @include make-spacer(ml, 1);
    }

    &:hover {
      @include media-breakpoint-up(lg) {
        background-size: 100% 100%;
        text-decoration-color: transparent;
      }
    }
  }

  &__quote {
    @include make-spacer(mt, 6);
    @include make-spacer(py, 6);

    border-top: 1px solid var(--grey-200);
    border-bottom: 1px solid var(--grey-200);
    text-align: center;
  }

  &__subtitle {
    @include make-spacer(mt, 1);
    @include make-spacer(mt, 2, md);

    display: grid;
    grid-gap: rem(8px);

    .press-release-article__credit {
      @include make-spacer(mt, 0);
    }

    @include media-breakpoint-up(sm) {
      grid-template-columns: 1fr auto;
    }
  }

  &__gallery {
    @include make-spacer(mt, 6);
  }

  &__pagination {
    @include font-size(14px, 22px);

    color: var(--disabled);
  }

  @include media-breakpoint-up(md) {
    width: rem(782px);
  }

  @include media-breakpoint-up(lg) {
    width: rem(994px);
  }
}
