.checkbox {
  @include make-spacer('pl', 10);
  @include make-spacer('pl', 13, sm);
  @include flex;

  position: relative;
  cursor: pointer;

  &__input {
    @include size(0);

    position: absolute;
    opacity: 0;

    &:checked ~ .checkbox {

      &__item {
        border-color: var(--color-text);

        &::after {
          @include size(10px, 16px);

          position: absolute;
          top: 2px;
          left: 9px;
          transform: rotate(45deg);
          border: solid var(--color-text);
          border-width: 0 3px 3px 0;
          content: '';
        }
      }
    }
  }

  &__text {
    @include font-size(18px, 27px);

    @include media-breakpoint-up(sm) {
      @include font-size(20px, 30px);
    }
  }

  &__item {
    @include size(30px);

    position: absolute;
    top: 0;
    left: 0;
    transition: var(--default-transition);
    background: rgba(255, 255, 255, 0.7);
    border: 2px solid var(--color-light);
    border-radius: 10px;
  }
}
