mixin section-newest-listings
  section.section&attributes(attributes)
    .container-fluid
      .container
        +headline(
          'Newest Listings',
          'Get started with best positions'
        )

        .grid
           each item in jobs
             .grid__column
               +card-job(item)
