mixin section-newest-listings
  section.section&attributes(attributes)
    .container-fluid
      .container
        +headline(
          'Newest Listings',
          'Get started with best positions'
        )
        .grid
          .grid__column
            p 1
          .grid__column
            p 1
          .grid__column
            p 1
          .grid__column
            p 1
          .grid__column
            p 1
          .grid__column
            p 1
