mixin nav
  nav.nav&attributes(attributes)
    .container-fluid
      .container.nav__wrapper
          +logo
          +search
    .container-fluid
      .container.nav__wrapper
          +menu
          +social
