.nav {
  @include flex($align-items: center);

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 12;
  height: var(--navigation-height);
  transition: var(--default-transition);

  .wrapper {
    @include flex(space-between, center, $wrap: wrap);

    @include media-breakpoint-up(sm) {
      flex-wrap: nowrap;
    }

    &__cell {
      @include make-spacer('my', 1);
      @include make-spacer('my', 0, xl);

      &:nth-child(1) {

        @include media-breakpoint-up(xl) {
          display: none;
        }
      }

      &:nth-child(4) {
        flex-grow: 1;
      }
    }
  }

  .button,
  .dropdown {
    @include make-spacer('ml', auto);
    @include make-spacer('mr', 0);
  }

  .text {
    @include font-size(10px, 13px);

    @include media-breakpoint-up(md) {
      @include font-size(16px, 20px);
    }

    text-transform: uppercase;
    font-weight: var(--typography-semibold);
    color: var(--color-alt);
  }

  .button {
    @include size(125px, 46px);

    @include media-breakpoint-up(sm) {
      width: 159px;
    }

    @include media-breakpoint-up(md) {
      @include size(220px, 60px);
    }

    white-space: nowrap;
    flex-shrink: 0;

    &__text {
      @include font-size(16px);

      @include media-breakpoint-up(sm) {
        @include font-size(18px);
      }

      @include media-breakpoint-up(xl) {
        @include font-size(20px);
      }
    }
  }

  &--inner {

    .wrapper {

      &__cell {
        &:nth-child(1) {
          @include make-spacer('mr', 4);
          @include make-spacer('mr', 8, sm);
        }

        &:nth-child(3) {
          @include make-spacer('ml', 10, sm);
          @include make-spacer('ml', 20, md);
          @include make-spacer('ml', 9, xl);

          order: 4;
          width: 100%;

          @include media-breakpoint-up(sm) {
            width: auto;
          }
        }

        &:nth-child(5) {
          order: 3;
        }

        &:nth-child(3),
        &:nth-child(5) {
          @include media-breakpoint-up(sm) {
            order: unset;
          }
        }
      }
    }
  }

  &--default {

    .text {
      @include make-spacer('px', 10, sm);
      @include make-spacer('px', 14, md);

      @include media-breakpoint-up(sm) {
        text-align: center;
      }
    }

    .wrapper {

      &__cell {
        width: 100%;
        max-width: 50%;

        @include media-breakpoint-up(sm) {
          width: auto;
          max-width: unset !important;
        }

        &:nth-child(1) {
          display: none;
        }

        &:nth-child(3) {
          @include make-spacer('ml', 14, sm);
          @include make-spacer('ml', 16, md);
          @include make-spacer('ml', 20, xl);

          order: 4;
        }

        &:nth-child(4) {
          order: 3;
          max-width: 130px;
        }

        &:nth-child(3),
        &:nth-child(4) {
          @include media-breakpoint-up(sm) {
            order: unset;
          }
        }
      }
    }
  }

  &--fixed {
    height: 112px;

    @include media-breakpoint-up(sm) {
      height: 76px;
    }

    @include media-breakpoint-up(xxl) {
      height: 80px;
    }

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      background-color: var(--color-dark);
      height: 68px;
      content: '';

      @include media-breakpoint-up(sm) {
        height: 100%;
      }
    }

    .logo,
    .text {
      color: var(--color-white);
    }

    .dropdown {
      transform: translateY(8px);

      @include media-breakpoint-up(sm) {
        transform: none;
      }
    }

    .text {
      display: none;

      @include media-breakpoint-up(sm) {
        display: block;
      }
    }

    .button {
      background-color: var(--color-white);
      border: 2px solid var(--color-white);
      height: 40px;
      color: var(--color-dark);

      @include media-breakpoint-up(md) {
        height: 45px;
      }

      &__text {
        @include font-size(16px);
      }

      &:hover {
        color: var(--color-primary);
        border-color: var(--color-primary);
      }
    }

    .menu {

      &__link {
        color: var(--color-white);
      }
    }
  }
}
