.nav {
  @include flex($align-items: center);

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: var(--navigation-height);
  background-color: var(--color-white);

  @include media-breakpoint-up(lg) {
    background-color: transparent;
  }

  .container {
    @include flex(space-between, center);
  }

  .menu {
    @include make-spacer('ml', 0);
    @include make-spacer('mr', auto);
  }

  .toggle {
    order: 3;

    @include media-breakpoint-up(lg) {
      order: unset;
    }
  }

  .account-toggle {
    @include make-spacer('ml', auto);
    @include make-spacer('mr', 4);
    @include font-size(20px);

    color: var(--color-accent);

    @include media-breakpoint-up(lg) {
      display: none;
    }

    &--active {

      i {

        &::before {
          content: '\f00d';
        }
      }
    }
  }

  .account {
    @include make-spacer('p', 0, lg);

    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: var(--color-white);
    padding: 20px var(--grid-outher);
    border-top: 1px solid var(--color-accent);

    @include media-breakpoint-up(lg) {
      @include flex($align-items: center);

      position: static;
      border-top: 0;
      background-color: transparent;
    }

    &__link,
    &__text {
      color: var(--color-accent);

      @include media-breakpoint-up(lg) {
        color: var(--color-white);

        &:hover {
          color: var(--color-accent);
        }
      }
    }

    &__text {
      @include make-spacer('mx', 2);
    }

    &__button {
      @include make-spacer('ml', auto);
      @include make-spacer('ml', 2, lg);
    }

    &--active {
      @include flex($align-items: center);
    }
  }

  &--default,
  &--custom {

    .menu {

      &__link {
        color: var(--color-text);
      }
    }

    .account {

      &__link,
      &__text {
        color: var(--color-accent);

        @include media-breakpoint-up(lg) {
          color: var(--color-text);
        }
      }
    }
  }

  &--default {
    position: relative;
    background-color: var(--color-white);
  }
}
